@charset "UTF-8";

/// Описание элемента BEM блока page.
/// Элемент - description.
.page__description {
    color: #4c4c4c;
    font-family: getFont-family("OpenSans");
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 25px;
    min-height: 90px;
    text-align: left;
}
