@charset "UTF-8";

/// Описание элемента модификатора BEM блока carousel-indicators.
/// Элемент - item.
/// Модификатор - label.
.carousel-indicators__item_label {
    position: relative;

    &:after {
        background-color: rgba(26, 26, 26, .341);
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}
