@charset "UTF-8";

/// Описание BEM блока container (grid).
.container {

    @media (min-width: 480px) {
        width: 400px;
    }

    @media (min-width: 992px) {
        width: 775px;
    }

    @media (min-width: 1200px) {
        width: 1035px;
    }
}
