@charset "UTF-8";

/// Стили catalog блока. Вкл. вложеные

.catalog {

    &--product_card {

        &--title {
            @include f("catalog--product_card--title");
            line-height: normal !important; /* TEMP */
        }

        &--subTitle {
            @include f("catalog--product_card--subTitle");
            line-height: normal !important; /* TEMP */
        }

        &--price {
            @include f("catalog--product_card--price");
            line-height: normal !important; /* TEMP */
        }

        &--oldPrice {
            @include f("catalog--product_card--oldPrice");
            line-height: normal !important; /* TEMP */
        }

        &--inputData {
            @include f("catalog--product_card--inputData");
        }
    }

    &--button {
        @include f("catalog--button");
    }

    &--title {
        @include f("catalog--title");
    }
}
