@charset "UTF-8";

.footer {
    &--nav {

        li {

            a {
                @include f("footer--nav--link");
                margin-bottom: 12px;
            }

            &:last-child {

                a {
                    margin-bottom: 0;
                }
            }
        }

        &-secondary {

            li {

                a {
                    @include f("footer--nav-secondary--link");
                    margin-bottom: 16px;
                }

                &:last-child {

                    a {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &--newsletters {

        &--title {
            @include f("footer--newsletters--title");
        }

        &--input {
            @include f("footer--newsletters--input");
        }

        &--button {
            @include f("footer--newsletters--button");
        }
    }

    &--company_details {
        @include f("footer--company_details");
    }

    &--phone {
        @include f("footer--phone");
    }

    &--social--heading {
        @include f("footer--social--heading");
    }
}
