@charset "UTF-8";

/// Стили header блока. Вкл. вложеные

.header {

    &--heading {
        @include f("header--heading");
    }

    &--search {

        &--input {
            @include f("header--search");
            line-height: normal;
        }

        &--heading {
            @include f("header--search--heading");
            line-height: normal;
        }

        &--text {
            @include f("header--search--text");
            line-height: normal;
        }
    }

    &--advantages {
        @include f("header--advantages--text");
    }
}
