@import "header";
@import "catalog";
@import "tea_mail";
@import "tea_room";
@import "tea_blog";
@import "tea_news";
@import "kits";
@import "care";
@import "dishes";
@import "about_project";
@import "newsletters";
@import "reviews";
@import "map";
@import "footer";
