@charset "UTF-8";

/// Стили tea_mail блока. Вкл. вложеные

.tea_blog {

    &--article {

        &--heading {
            @include f("tea_blog--heading_article");
        }

        &--date {
            @include f("tea_blog--date");
        }

        &--text {
            @include f("tea_blog--post--text");
        }

        &--link_more {
            @include f("tea_blog--link_more");
        }
    }

    &--heading {
        @include f("tea_blog--heading");
    }

}
