@charset "UTF-8";

/// Описание элемента блока карточки продукта.
/// Элемент старая стоимость
.product-card__cost_old {
    @include f("catalog--product_card--oldPrice");
    line-height: normal !important; /* TEMP */
    display: inline-block;
    margin: 0;
    text-decoration: line-through;
}
