@charset "UTF-8";

/// Описание элемента блока хлебных крошек типа стрелки.
/// Элемент - item.
.breadcrumb-arrow__item {
    display: inline-block;
    vertical-align: top;

    & + .breadcrumb-arrow__item:before {
        content: "";
        padding: 0;
        vertical-align: top;
    }

    &:not(:first-child) {
        margin-left: -6px;
    }
}
