@charset "UTF-8";

/// Описание элемента блока карусели каталога.
/// Элемент контролы карусели.
.catalog-carousel__control {
    opacity: 1 !important;
    width: 10%;

    @media (min-width: 1200px) {
        display: none !important;
    }
}
