@charset "UTF-8";

/// Описание модификатора элемента BEM блока секции.
/// Модификатор - catalog.
.section_catalog {
    margin-bottom: 130px;
    text-align: center;

    @media (min-width: 1200px) {
        width: 794px;
    }

    @media (min-width: 1385px) {
        width: 100%;
    }
}
