@charset "UTF-8";

/// Описание модификатора BEM блока decorate.
/// Модификатор line-stubby.
/// Значение top.
.decor_line-stubby_top {

    &:before,
    &:after {

    }

    &:before {
        content: " ";
        top: -11px;
        transform: scale(1, -1);
    }

    &:after {

    }
}
