@charset "UTF-8";

/// Описание элемента BEM блока page.
/// Элемент - link-toggle.
.page__link-toggle {
    color: getColor("Putty");
    font-family: getFont-family("OpenSans");
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.025em;
    line-height: 19px;
    outline: 0 !important;
    text-decoration: underline;
}
