@charset "UTF-8";

/* http://razorjam.github.io/sasscolourfunctioncalculator/ */

$color-base-white             : rgb(255, 255, 255); /*base of white*/
$color-base-black             : rgb(0, 0, 0);       /*base for lighen*/

// ------------------------------- //

/* Red */
$color-RoofTerracotta    : rgb(169, 68, 66);   /*#a94442*/ /*! error */

/* Green */
$color-Amulet            : rgb(138, 173, 127); /*#8AAD7F*/ /*! primary - Block of catalog */
$color-JapaneseLaurel    : rgb(60, 118, 61);   /*#3c763d*/ /*! success */

/* Yellow */
$color-Grandis           : rgb(255, 200, 103); /*#FFC867*/ /*[homepage -> 1 screen] text of advantages*/
$color-FuelYellow        : darken(desaturate(adjust-hue($color-Grandis, -0.4257), 37.3444), 17.0588); //rgb(210, 155, 59);  /*#D29B3B*/ /*! [homepage] BG Button && color of advantages icon */

/* Gray */
$color-Zambezi           : rgb(92, 92, 92);    /*#5C5C5C*/ /*! Name login */
$color-Eclipse           : rgb(61, 61, 61);    /*#3D3D3D*/ /*! nav */
$color-DarkGray          : rgb(172, 172, 172); /*#ACACAC*/ /*! Catalog, secondary title-info (date of make) */
$color-Nero              : rgb(24, 24, 24);    /*#181818*/ /*! Catalog, title */

/* White */
/* rgb(246, 246, 245) #f6f6f5  -  shapely_line and GBs of tea_mail_2 & catalog */

// ------------------------------- //

$color-base-white        : $color-base-white;
$color-base-black        : $color-base-black;

$color-error             : $color-RoofTerracotta;
$color-success           : $color-JapaneseLaurel;

$color-brand-primary-1   : $color-Grandis;
$color-brand-primary-2   : $color-FuelYellow;
$color-brand-primary-3   : $color-Amulet;

$color-brand-secondary-1 : $color-Nero;
$color-brand-secondary-2 : $color-DarkGray;
$color-brand-secondary-3 : $color-Zambezi;
$color-brand-secondary-4 : $color-Eclipse;


/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

/* ------------ */
/* [ HOMEPAGE ] */
/* ------------ */
/* ----------------------------------------------------------- */
/* -------------------- [ -= BUTTONS =- ] -------------------- */
/* ----------------------------------------------------------- */

/* ----------------------------------------------------- */
/* -------------------- [ gradient ] ------------------- */

/* ------------ */
/* [tea_mail_2] [tea_room] [care] [about_project] [newsletters] [reviews] */

/* жёлто-коричневые цвета */
$color--button--gradient__normal__from : rgb(191, 146, 101); // #bf9265
$color--button--gradient__normal__to   : rgb(206, 159, 111); // #ce9f6f
$color--button--gradient__hover__from  : rgb(182, 138, 94);  // #b68a5e
$color--button--gradient__hover__to    : rgb(199, 153, 106); // #c7996a

/* -------------------------------------------------- */
/* -------------------- [ solid ] ------------------- */

/* ---------- */
/* [catalog_popular] [dishes] [kits] */
/* жёлто-коричневые  */
$color--button--solid-yb__normal : rgb(210, 155, 59); // #d29b3b
$color--button--solid-yb__hover  : rgb(194, 142, 50); // #c28e32

/* [catalog_popular] [footer] */
/* красные цвета */
$color--button--solid-r__normal : rgb(182, 41, 39); // b62927
$color--button--solid-r__hover  : rgb(214, 63, 60); // d63f3c
$color--button--solid-r--footer__normal : rgb(177, 101, 75); // b1654b
