@charset "UTF-8";

/* http://razorjam.github.io/sasscolourfunctioncalculator/ */

$color-base-white : rgb(255, 255, 255); /* basic white */
$color-base-black : rgb(0, 0, 0);       /* basic black */
$color-error      : rgb(255, 0 0);      /* #FF0000 */
$color-success    : rgb(0, 128, 0);     /* #008000 */

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

/* ------------ */
/* [ HOMEPAGE ] */
/* ------------ */

/* blacks */
$color-black     : $color-base-black;  /* #000000 */
$color-Nero      : rgb(34, 34, 34);    /* #222222 */
$color-Charcoal  : rgb(68, 68, 68);    /* #444444 */
$color-Zambezi   : rgb(92, 92, 92);    /* #5c5c5c */
$color-DimGray   : rgb(110, 110, 110); /* #6e6e6e */
$color-Grey      : rgb(132, 132, 132); /* #848484 */

$colors-black: (
    "black-0" : $color-black,
    "black-1" : $color-Nero,
    "black-2" : $color-Charcoal,
    "black-3" : $color-Zambezi,
    "black-4" : $color-DimGray,
    "black-5" : $color-Grey
);

/* browns */
$color-GoldenBrown : rgb(146, 89, 0); /* #925900 !brand */

$colors-brown: (
    "brown-1" : $color-GoldenBrown
);

/* ----------------------------------------------------------- */
/* -------------------- [ -= BUTTONS =- ] -------------------- */
/* ----------------------------------------------------------- */

/* ----------------------------------------------------- */
/* -------------------- [ gradient ] ------------------- */

/* ------------ */
/* [tea_mail_2] [tea_room] [care] [about_project] [newsletters] [reviews] */

/* жёлто-коричневые цвета */
$color--button--gradient__normal__from : rgb(191, 146, 101); // #bf9265
$color--button--gradient__normal__to   : rgb(206, 159, 111); // #ce9f6f
$color--button--gradient__hover__from  : rgb(182, 138, 94);  // #b68a5e
$color--button--gradient__hover__to    : rgb(199, 153, 106); // #c7996a

/* -------------------------------------------------- */
/* -------------------- [ solid ] ------------------- */

/* ---------- */
/* [catalog_popular] [dishes] [kits] */
/* жёлто-коричневые  */
$color--button--solid-yb__normal : rgb(210, 155, 59); // #d29b3b
$color--button--solid-yb__hover  : rgb(194, 142, 50); // #c28e32

/* [catalog_popular] [footer] */
/* красные цвета */
$color--button--solid-r__normal : rgb(182, 41, 39); // b62927
$color--button--solid-r__hover  : rgb(214, 63, 60); // d63f3c
$color--button--solid-r--footer__normal : rgb(177, 101, 75); // b1654b

/* ================================================================= */
/* -= Brand Colors =- */
$colors-brand-brown : $colors-brown;
$colors-brand-black : $colors-black;

/* ================================================================= */

$colors-map: (
    "base_white" : $color-base-white,        /* #ffffff*/
    "base_black" : $color-base-black,        /* #000000 */
    "error"      : $color-error,             /* #a94442 */
    "success"    : $color-success,           /* #3c763d */

    /* #925900 */
    "cb-brown" : $colors-brand-brown, /* brand browns */
    /* #000000, #222222, #444444, #5c5c5c, #6e6e6e, #848484 */
    "cb-black" : $colors-brand-black  /* brand blacks */
);
