@charset "UTF-8";

$font-OpenSans         : 'Open Sans', sans-serif;
$font-NotoSans         : 'Noto Sans', sans-serif;
$font-NotoSerif        : 'Noto Serif', serif;
$font-Karton           : 'Karton', sans-serif;
$font-Bristol          : 'Bristol', sans-serif;
$font-ProximaNova_Cond : 'Proxima Nova Cond', sans-serif;
