@charset "UTF-8";

/// @reviews__icon___size_rate -
/// размер блока и центрирование вложенного блока,
/// посредством line-height.
$reviews__icon___size_rate: 50px;

/// Описание элемента BEM блока reviews.
/// Элемент - icon.
.reviews__icon {
    border-radius: 50%;
    background-color: #e3e3e3;
    line-height:$reviews__icon___size_rate;
    padding: 8px;
    text-align: center;
    @include size($reviews__icon___size_rate);
}
