<!-- block search -->
<div class="container__form">
    <form action="search.php" class="form form-search" id="form-search" method="post">

        <div class="form-search__container">
            <input type="search" name="form-search__input_type_search" id="form-search__input_type_search" class="input input_type_search form-search__input form-search__input_type_search" placeholder="Искать по каталогу" />
            <button type="submit" class="form-search__btn form-search__btn_type_submit">
                <div class="form-search__icon">
                    <svg version="1.1" id="svg-icon_search" class="form-search__img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 17.7 17.7" style="enable-background:new 0 0 17.7 17.7;" xml:space="preserve">
                        <path id="svg-icon_search__path_1" d="M16.6,15.4l-3.3-3.3c0.9-1.2,1.5-2.7,1.5-4.3c0-3.9-3.1-7-7-7s-7,3.1-7,7s3.1,7,7,7c1.6,0,3.1-0.6,4.3-1.5l3.3,3.3c0.2,0.2,0.4,0.3,0.6,0.3c0.2,0,0.4-0.1,0.6-0.3C17,16.3,17,15.7,16.6,15.4z M2.6,7.8c0-2.9,2.4-5.2,5.2-5.2s5.2,2.4,5.2,5.2c0,1.4-0.6,2.7-1.5,3.6c0,0,0,0-0.1,0c0,0,0,0,0,0.1c-0.9,0.9-2.2,1.5-3.6,1.5C4.9,13.1,2.6,10.7,2.6,7.8z"/>
                    </svg>
                </div>
            </button>
        </div>

    </form>
</div>
