@charset "UTF-8";

/// Описание элемента BEM блока product.
/// Элемент - description.
.product__description {
    @extend .page__description;
    letter-spacing: 0.05em;
    min-height: 225px;

    @media (min-width: 992px) {
        overflow-y: scroll;
    }

    @media (min-width: 1420px) {
        padding-right: 90px;
    }

    /* Переделать по BEM! */
    p {
        &:first-child {
            margin-top: 0;
        }
    }
}
