<!-- form-coupon -->
<div class="form-coupon">
    <form action="coupon.php" class="form form-coupon__form" method="post">

        <div class="form-coupon__container">
            <div class="form__group form__group_inline form-coupon__group">
                <div class="form-coupon__icon">
                    <svg version="1.1" class="svg form-coupon__img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="8 4 18 39" style="enable-background:new 0 0 42 50;" xml:space="preserve">
                        <path d="M29.9,15.3c0.6-1.3,0.2-2.9-1-3.8c-0.7-0.5-1.2-1.3-1.3-2.2c-0.2-1.5-1.3-2.6-2.8-2.8h0c-0.9-0.1-1.7-0.6-2.2-1.3v0c-0.9-1.2-2.5-1.6-3.8-1c-0.8,0.4-1.7,0.4-2.5,0c-1.3-0.6-2.9-0.2-3.8,1v0c-0.5,0.7-1.3,1.2-2.2,1.3C8.8,6.7,7.6,7.8,7.4,9.3c-0.1,0.9-0.6,1.7-1.3,2.2h0c-1.2,0.9-1.6,2.5-1,3.8c0.4,0.8,0.4,1.7,0,2.5c-0.6,1.3-0.2,2.9,1,3.8h0c0.7,0.5,1.2,1.3,1.3,2.2v0c0.2,1.5,1.3,2.6,2.8,2.8c0.9,0.1,1.7,0.6,2.2,1.3c0.9,1.2,2.5,1.6,3.8,1c0.8-0.4,1.7-0.4,2.5,0c1.3,0.6,2.9,0.2,3.8-1c0.5-0.7,1.3-1.2,2.2-1.3h0c1.5-0.2,2.6-1.3,2.8-2.8v0c0.1-0.9,0.6-1.7,1.3-2.2c1.2-0.9,1.6-2.5,1-3.8C29.5,17,29.5,16.1,29.9,15.3z M17.5,24.3c-4.3,0-7.8-3.5-7.8-7.8s3.5-7.8,7.8-7.8s7.8,3.5,7.8,7.8S21.8,24.3,17.5,24.3z"></path>
                        <path d="M22.6,28.6c-0.9,1.2-2.5,1.6-3.8,1c-0.8-0.4-1.7-0.4-2.5,0c-1.3,0.6-2.9,0.2-3.8-1c0-0.1-0.1-0.1-0.2-0.2V42l5.2-6.2l5.2,6.2V28.4C22.7,28.5,22.6,28.5,22.6,28.6z"></path>
                    </svg>
                </div>
                <div class="form-coupon__label">
                    <label for="form-coupon__input">Введите код купона:</label>
                </div>
            </div>

            <div class="form__group form__group_inline form-coupon__group">
                <input type="text" name="form-coupon__input" class="input form-coupon__input" />
            </div>

            <div class="form__group form__group_inline form-coupon__group">
                <button type="submit" class="btn form-coupon__btn">
                    Использовать купон
                </button>
            </div>

        </div>

    </form>
</div>
