    <!-- build:js js/vendor.js -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->

    <!-- bower:js -->
    <!-- endbower -->

    <!-- endbuild -->

    <!-- build:js js/main.js -->
    <!-- endbuild -->

    <script>

        // Загрузка стилей
        function loadStyle(l) {
            var a = document.createElement("link");
            a.rel = "stylesheet";
            a.type = "text/css";
            a.href = l;
            document.getElementsByTagName("head")[0].appendChild(a)
        }

        // Загрузка скриптов
        function downloadJSAtOnload(l) {
            var element = document.createElement("script");
            element.src = l;
            document.getElementsByTagName("body")[0].appendChild(element)
        }

    </script>

    <script>

        var map;
        var markers = [], marker;

        function initMap() {
            map = new google.maps.Map(document.getElementById('gmap'), {
                zoom: 17,
                center: {lat: 53.911619, lng: 27.576343},
                disableDefaultUI: true,
                scrollwheel: false
            });
            /* 53.911619, 27.579647 */
            /*var image = './assets/img/map/marker.png';*/
            /*marker = new google.maps.Marker({
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: {
                    lat: 53.911619,
                    lng: 27.579647
                },
                icon: image
            });*/
        }
    </script>

    <!-- API GOOGLE MAP -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2a-rr7rqpb2ePaUWBoF856gWo8rpIFDE&callback=initMap"></script>

    <!-- Yandex.Metrika counter -->

    <!-- /Yandex.Metrika counter -->

    <!-- Google.Analytics counter -->

    <!-- /Google.Analytics counter -->
