
    <link rel="home" href="http://Tea-Mail/" />
    <!--<link rel="index" href="http://tea-mail/sitemap/" />-->

    <!--<meta name="robots" content="noodp"/>-->


    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,target-densitydpi=device-dpi, user-scalable=no" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <!--<link rel="icon" type="image/png" href="img/favicon.png">-->
    <!--<link rel="icon" type="image/vnd.microsoft.icon" href="img/favicon.ico">-->
    <!--<link rel="icon" type="image/gif" href="img/favicon.gif">-->

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- TEMP - DEVELOPE -->
    <meta name="robots" content="noindex,nofollow,noodp,noarchive,nosnippet" /> <!-- TEMP. Develope time -->
    <meta HTTP-EQUIV="Expires" CONTENT="0">
    <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, max-age=0">
    <!-- / TEMP - DEVELOPE -->

    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if gte IE 9]
        <style type="text/css">
            .gradient {
                filter: none;
            }
        </style>
    <![endif]-->

    <!-- build:css css/vendor.css -->

    <!-- bower:css -->
    <!-- endbower -->

    <!-- endbuild -->

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700i|Noto+Serif:400i,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i&amp;subset=cyrillic" rel="stylesheet">

