@charset "UTF-8";

/// Описание элемента блока similar-product.
/// Элемент form-container - input-field.
.similar-product__product-card-input-field {

    @media (max-width: 1309px) {
        margin: 0 5px;
        @include size(92px, 40px);
    }
}
