<section id="delivery" class="delivery section">
    <div class="container">

        <div class="delivery__container">

            <header class="delivery__headings section__headings decor decor_line decor_line-wavy-shadow decor_line-wavy-shadow_bottom">
                <h2 class="h2 delivery__title">
                    Доставка и оплата
                </h2>

                <div class="delivery__description-container">
                    <div class="delivery__description-icon"></div>

                    <div class="delivery__description-phone">
                        <div class="delivery__description">
                            На любые вопросы касаемо доставки,
                            оплаты и выбора вам ответят по
                            телефону
                        </div>

                        <div class="delivery__phone">
                            +375 (29) 854 34 60
                        </div>
                    </div>
                </div>
            </header>

        </div>

    </div>
</section>
