<section id="delivery" class="delivery section">
    <div class="container">

        <div class="delivery__container">

            <header class="delivery__headings section__headings decor decor_line decor_line-wavy-shadow decor_line-wavy-shadow_bottom">
                <h2 class="h2 delivery__title">
                    Доставка и оплата
                </h2>

                <div class="delivery__description-container">
                    <div class="delivery__description-icon"></div>

                    <div class="delivery__description-phone">
                        <div class="delivery__description">
                            На любые вопросы касаемо доставки,
                            оплаты и выбора вам ответят по
                            телефону
                        </div>

                        <div class="delivery__phone">
                            +375 (29) 854 34 60
                        </div>
                    </div>
                </div>
            </header>

            <div class="delivery__delivery-payment-content">
                <div class="delivery__delivery-payment-scope">
                    <button class="btn delivery__btn-scope delivery__btn-scope_active" data-target=".delivery__scope-delivery">
                        Доставка
                    </button>

                    <button class="btn delivery__btn-scope" data-target=".delivery__scope-payment">
                        Оплата
                    </button>
                </div>

                <div class="delivery__tabs-container">
                    <div class="delivery__scope-delivery delivery__scope delivery__scope_active">
                        //= ../../../modules/delivery/delivery__scope-delivery.html
                    </div>

                    <div class="delivery__scope-payment delivery__scope">
                        //= ../../../modules/delivery/delivery__scope-payment.html
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
