@charset "UTF-8";

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Serif', serif;
*/

$font-brand-base      : 'Open Sans', sans-serif;
$font-brand-userLabel : 'Proxima Nova', sans-serif;


$font-ProximaNova-Cond: 'Proxima Nova Cond', sans-serif;
$font-Karton          : 'Karton', sans-serif;
$font-Bristol         : 'Bristol', sans-serif;
