@charset "UTF-8";

/// Описание элемента блока similar-product.
/// Элемент контейнер product-card.
.similar-product__product-card {

    @media (min-width: 768px) {
        display: inline-block !important;
        float: none;
    }

    margin: 8px;
    @include size(188px, 245px);

    @media (max-width: 991px) {
        @include size(292px, 337px);
    }
}
