@charset "UTF-8";

/// Описание элемента BEM блока discount.
/// Элемент - discount.
.discount__discount {
    display: inline-block;
    margin-top: 90px;
    margin-bottom: -40px;
    @include size(340px, 177px);
    @include transition(margin);
}
