@charset "UTF-8";

/// Описание элемента BEM блока envelope.
/// Элемент - top.
.envelope__top {
    background-color: rgba(209, 180, 138, 0.51);
    background-clip: content-box;
    border-bottom-left-radius: 40px 70px;
    border-bottom-right-radius: 40px 70px;
    margin-top: -30px;
    padding-top: 30px;
    overflow: hidden;
    @include size(100%, 110px); /* 80px */
}
