@charset "UTF-8";

/// Описание элемента блока продукта.
/// Элемент контейнер цен.
.product__prices {
    float: right;
    text-align: center;

    @media (max-width: 479px) {
        float: none;
    }

    @media (min-width: 1420px) {
        margin-right: 60px;
    }

    @media (min-width: 1310px) and (max-width: 1419px) {
        margin-right: 35px;
    }

    @media (max-width: 767px) {
        margin-right: 40px;
    }
}
