<div class="reviews">

    <h3 class="h3 reviews__title">
        Отзывы
    </h3>

    <div class="reviews__quantity">
       <p>
           <span class="link__icon reviews__quantity-icon"></span>
            13 отзывов
       </p>
    </div>

    <div class="reviews__inner">

        <div id="reviews__comments" class="reviews__comments text-collapsing__text collapse" aria-expanded="false" style="height: 0;">

            <div class="reviews__comment">

                <div class="reviews__ratingdate clearfix">
                    <div class="rating reviews__rating">
                        <div class="rating__mark rating__mark_theme_tea-mail rating__mark_on" alt="1"></div>
                        <div class="rating__mark rating__mark_theme_tea-mail rating__mark_on" alt="2"></div>
                        <div class="rating__mark rating__mark_theme_tea-mail rating__mark_on" alt="3"></div>
                        <div class="rating__mark rating__mark_theme_tea-mail rating__mark_on" alt="4"></div>
                        <div class="rating__mark rating__mark_theme_tea-mail rating__mark_off" alt="5"></div>
                        <input type="hidden" name="rating__score" value="4" />
                    </div>

                    <div class="reviews__date">
                        <p>9 сен 2016</p>
                    </div>
                </div>

                <div class="reviews__person">
                    <div class="reviews__visual">
                        <div class="icon reviews__icon">
                            <svg version="1.1" class="svg svg_reviews-visual reviews__img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 66.2 49.2" xml:space="preserve">
                                <path class="svg__elem svg__elem_color_reviews-visual-base" d="M62.5,29.8c0,0-0.9,6.5-7,5.2c-6.1-1.2-10.2-9.2-15.3-9.2c-5.2,0-6.6,2.8-6.6,2.8s-1.4-2.8-6.6-2.8c-5.2,0-9.2,8-15.3,9.2c-6.1,1.2-7-5.2-7-5.2S4.3,40.1,18.1,40.1c11.2,0,15.5-3.6,15.5-3.6s4.3,3.6,15.5,3.6C62.8,40.1,62.5,29.8,62.5,29.8z"/>
                                <circle class="svg__elem svg__elem_color_reviews-visual-base" cx="18" cy="10.7" r="3.5"/>
                                <circle class="svg__elem svg__elem_color_reviews-visual-base" cx="50.6" cy="10.7" r="3.5"/>
                            </svg>
                        </div>
                    </div>

                    <div class="reviews__username toe">
                        <p>Валентин Емельянов</p>
                    </div>
                </div>

                <div class="reviews__text">
                    <p>
                        Чай восхитителен,мягкий и приятный на вкус (очень вкусный),
                        в аромате цветочные ноты ярко выражены, чай хорошо
                        подойдет для тех людей которые хотят…
                    </p>
                </div>

            </div>
            <div class="reviews__comment">

                <div class="reviews__ratingdate clearfix">
                    <div class="rating reviews__rating">
                        <div class="rating__mark rating__mark_theme_tea-mail rating__mark_on" alt="1"></div>
                        <div class="rating__mark rating__mark_theme_tea-mail rating__mark_on" alt="2"></div>
                        <div class="rating__mark rating__mark_theme_tea-mail rating__mark_on" alt="3"></div>
                        <div class="rating__mark rating__mark_theme_tea-mail rating__mark_on" alt="4"></div>
                        <div class="rating__mark rating__mark_theme_tea-mail rating__mark_off" alt="5"></div>
                        <input type="hidden" name="rating__score" value="4" />
                    </div>

                    <div class="reviews__date">
                        <p>9 сен 2016</p>
                    </div>
                </div>

                <div class="reviews__person">
                    <div class="reviews__visual">
                        <div class="icon reviews__icon">
                            <svg version="1.1" class="svg svg_reviews-visual reviews__img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 66.2 49.2" xml:space="preserve">
                                <path class="svg__elem svg__elem_color_reviews-visual-base" d="M62.5,29.8c0,0-0.9,6.5-7,5.2c-6.1-1.2-10.2-9.2-15.3-9.2c-5.2,0-6.6,2.8-6.6,2.8s-1.4-2.8-6.6-2.8c-5.2,0-9.2,8-15.3,9.2c-6.1,1.2-7-5.2-7-5.2S4.3,40.1,18.1,40.1c11.2,0,15.5-3.6,15.5-3.6s4.3,3.6,15.5,3.6C62.8,40.1,62.5,29.8,62.5,29.8z"/>
                                <circle class="svg__elem svg__elem_color_reviews-visual-base" cx="18" cy="10.7" r="3.5"/>
                                <circle class="svg__elem svg__elem_color_reviews-visual-base" cx="50.6" cy="10.7" r="3.5"/>
                            </svg>
                        </div>
                    </div>

                    <div class="reviews__username toe">
                        <p>Валентин Емельянов</p>
                    </div>
                </div>

                <div class="reviews__text">
                    <p>
                        Чай восхитителен,мягкий и приятный на вкус (очень вкусный),
                        в аромате цветочные ноты ярко выражены, чай хорошо
                        подойдет для тех людей которые хотят…
                    </p>
                </div>

            </div>
            <div class="reviews__comment">

                <div class="reviews__ratingdate clearfix">
                    <div class="rating reviews__rating">
                        <div class="rating__mark rating__mark_theme_tea-mail rating__mark_on" alt="1"></div>
                        <div class="rating__mark rating__mark_theme_tea-mail rating__mark_on" alt="2"></div>
                        <div class="rating__mark rating__mark_theme_tea-mail rating__mark_on" alt="3"></div>
                        <div class="rating__mark rating__mark_theme_tea-mail rating__mark_on" alt="4"></div>
                        <div class="rating__mark rating__mark_theme_tea-mail rating__mark_off" alt="5"></div>
                        <input type="hidden" name="rating__score" value="4" />
                    </div>

                    <div class="reviews__date">
                        <p>10 сен 2016</p>
                    </div>
                </div>

                <div class="reviews__person">
                    <div class="reviews__visual">
                        <div class="icon reviews__icon">
                            <svg version="1.1" class="svg svg_reviews-visual reviews__img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 66.2 49.2" xml:space="preserve">
                                <path class="svg__elem svg__elem_color_reviews-visual-base" d="M62.5,29.8c0,0-0.9,6.5-7,5.2c-6.1-1.2-10.2-9.2-15.3-9.2c-5.2,0-6.6,2.8-6.6,2.8s-1.4-2.8-6.6-2.8c-5.2,0-9.2,8-15.3,9.2c-6.1,1.2-7-5.2-7-5.2S4.3,40.1,18.1,40.1c11.2,0,15.5-3.6,15.5-3.6s4.3,3.6,15.5,3.6C62.8,40.1,62.5,29.8,62.5,29.8z"/>
                                <circle class="svg__elem svg__elem_color_reviews-visual-base" cx="18" cy="10.7" r="3.5"/>
                                <circle class="svg__elem svg__elem_color_reviews-visual-base" cx="50.6" cy="10.7" r="3.5"/>
                            </svg>
                        </div>
                    </div>

                    <div class="reviews__username toe">
                        <p>Алексей Петров</p>
                    </div>
                </div>

                <div class="reviews__text">
                    <p>
                        Спасибо за вашу работу всегда быстро приходит чай, радует подарочки вместе с заказом))
                    </p>
                    <p>
                        Чай восхитителен,мягкий и приятный на вкус (очень вкусный),
                        в аромате цветочные ноты ярко выражены, чай хорошо
                        подойдет для тех людей которые хотят…
                    </p>
                </div>

            </div>
            <div class="reviews__comment">

                <div class="reviews__ratingdate clearfix">
                    <div class="rating reviews__rating">
                        <div class="rating__mark rating__mark_theme_tea-mail rating__mark_on" alt="1"></div>
                        <div class="rating__mark rating__mark_theme_tea-mail rating__mark_on" alt="2"></div>
                        <div class="rating__mark rating__mark_theme_tea-mail rating__mark_on" alt="3"></div>
                        <div class="rating__mark rating__mark_theme_tea-mail rating__mark_on" alt="4"></div>
                        <div class="rating__mark rating__mark_theme_tea-mail rating__mark_off" alt="5"></div>
                        <input type="hidden" name="rating__score" value="4" />
                    </div>

                    <div class="reviews__date">
                        <p>11 сен 2016</p>
                    </div>
                </div>

                <div class="reviews__person">
                    <div class="reviews__visual">
                        <div class="icon reviews__icon">
                            <svg version="1.1" class="svg svg_reviews-visual reviews__img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 66.2 49.2" xml:space="preserve">
                                <path class="svg__elem svg__elem_color_reviews-visual-base" d="M62.5,29.8c0,0-0.9,6.5-7,5.2c-6.1-1.2-10.2-9.2-15.3-9.2c-5.2,0-6.6,2.8-6.6,2.8s-1.4-2.8-6.6-2.8c-5.2,0-9.2,8-15.3,9.2c-6.1,1.2-7-5.2-7-5.2S4.3,40.1,18.1,40.1c11.2,0,15.5-3.6,15.5-3.6s4.3,3.6,15.5,3.6C62.8,40.1,62.5,29.8,62.5,29.8z"/>
                                <circle class="svg__elem svg__elem_color_reviews-visual-base" cx="18" cy="10.7" r="3.5"/>
                                <circle class="svg__elem svg__elem_color_reviews-visual-base" cx="50.6" cy="10.7" r="3.5"/>
                            </svg>
                        </div>
                    </div>

                    <div class="reviews__username toe">
                        <p>Валентин Емельянов</p>
                    </div>
                </div>

                <div class="reviews__text">
                    <p>
                        Спасибо за вашу работу всегда быстро приходит чай, радует подарочки вместе с заказом))
                    </p>
                </div>

            </div>

        </div>

        <a href="#" class="link reviews__link-toggle text-collapsing__link-toggle text-collapsing__link-toggle_theme_tea-mail collapse-link-triangle collapse-link-triangle_position_top-inverse collapse-link-triangle_active border-line border-line_theme_tea-mail border-line_top" data-toggle="collapse" data-target="#reviews__comments" data-alttext="Свернуть отзывы">Смотреть все отзывы</a>

        <div class="reviews__form-container">

            <h4 class="h4 reviews__form-title">
                Оставить отзыв
            </h4>

            <form action="" class="form reviews__form" method="post">
                <div class="reviews__form-personrating form__group reviews__form-group">
                    <div class="reviews__form-person form__group form__group_inline reviews__form-group">
                        <div class="reviews__visual reviews__form-visual">
                            <div class="icon reviews__icon reviews__form-icon">
                                <svg version="1.1" class="svg svg_reviews-visual reviews__img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 66.2 49.2" xml:space="preserve">
                                    <path class="svg__elem svg__elem_color_reviews-visual-base" d="M62.5,29.8c0,0-0.9,6.5-7,5.2c-6.1-1.2-10.2-9.2-15.3-9.2c-5.2,0-6.6,2.8-6.6,2.8s-1.4-2.8-6.6-2.8c-5.2,0-9.2,8-15.3,9.2c-6.1,1.2-7-5.2-7-5.2S4.3,40.1,18.1,40.1c11.2,0,15.5-3.6,15.5-3.6s4.3,3.6,15.5,3.6C62.8,40.1,62.5,29.8,62.5,29.8z"/>
                                    <circle class="svg__elem svg__elem_color_reviews-visual-base" cx="18" cy="10.7" r="3.5"/>
                                    <circle class="svg__elem svg__elem_color_reviews-visual-base" cx="50.6" cy="10.7" r="3.5"/>
                                </svg>
                            </div>
                        </div>
                        <input name="reviews__input_text_name" id="reviews__input_text_name" class="input input_type_text form__input-field form__input-field_text reviews__input-field reviews__input" placeholder="Ваше имя" required />
                    </div>

                    <div class="reviews__form-rating form__group form__group_inline reviews__form-group">
                        <div class="reviews__rating-title">
                            <p>Ваша оценка</p>
                        </div>
                        <div class="rating reviews__rating">
                            <div class="rating__mark rating__mark_theme_tea-mail rating__mark_off" alt="1"></div>
                            <div class="rating__mark rating__mark_theme_tea-mail rating__mark_off" alt="2"></div>
                            <div class="rating__mark rating__mark_theme_tea-mail rating__mark_off" alt="3"></div>
                            <div class="rating__mark rating__mark_theme_tea-mail rating__mark_off" alt="4"></div>
                            <div class="rating__mark rating__mark_theme_tea-mail rating__mark_off" alt="5"></div>
                            <input type="hidden" name="rating__score" value="0" />
                        </div>
                    </div>
                </div>

                <div class="form__group reviews__form-group">
                    <textarea name="" id="" class="input input_type_textarea form__input-field form__input-field_textarea reviews__input-field reviews__textarea" placeholder="Ваш отзыв" cols="28" rows="10" required></textarea>
                </div>

                <div class="form__group reviews__form-group reviews__btn-container">
                    <a href="#" class="btn btn_gradient reviews__btn">Оставить отзыв</a>
                </div>
            </form>
        </div>

    </div>
</div>
