@charset "UTF-8";

/// Описание BEM блока меню каталога
.menu-catalog {
    background-color: #f6f6f5;
    padding-top: 100px;

    @media (max-width: 1279px) {
        padding: 0;
        z-index: 99;
    }
}
