@charset "UTF-8";

/// Описание элемента BEM блока discount-line.
/// Элемент - description-link.
.discount-line__description-link {
    color: getColor("Fallow-1") !important;
    letter-spacing: inherit !important;
    font-weight: inherit !important;
    font-size: inherit !important;
}
