@charset "UTF-8";

$colors: (
    "b_w" : $color-base-white,        /* #ffffff*/
    "b_b" : $color-base-black,        /* #000000 */
    "err" : $color-error,             /* #a94442 */
    "suc" : $color-success,           /* #3c763d */
    "bp1" : $color-brand-primary-1,   /* #FFC865 */
    "bp2" : $color-brand-primary-2,   /* #D29B3B */
    "bp3" : $color-brand-primary-3,   /* #8AAD7F */
    "bs1" : $color-brand-secondary-1, /* #181818 */
    "bs2" : $color-brand-secondary-2, /* #ACACAC */
    "bs3" : $color-brand-secondary-3, /* #5C5C5C */
    "bs4" : $color-brand-secondary-4  /* #3D3D3D */
);

$fonts: (
    "font-1" : $font-OpenSans,         /* Open Sans */
    "font-2" : $font-NotoSans,         /* Noto Sans */
    "font-3" : $font-NotoSerif,        /* Noto Serif */
    "font-4" : $font-Karton,           /* Karton */
    "font-5" : $font-Bristol,          /* Bristol */
    "font-6" : $font-ProximaNova_Cond  /* Proxima Nova condensed */
);

/* ------------ */

/* x.78px = x+1; */
$kegels: (
    "kegel-1"  : 12px,
    "kegel-2"  : 13px,
    "kegel-3"  : 14px,
    "kegel-4"  : 15px,
    "kegel-5"  : 16px,
    "kegel-6"  : 18px,
    "kegel-7"  : 19px,
    "kegel-8"  : 22px,
    "kegel-9"  : 25px,
    "kegel-10" : 28px,
    "kegel-11" : 30px,
    "kegel-12" : 35px,
    "kegel-13" : 40px,
    "kegel-14" : 45px,
    "kegel-15" : 48px,
    "kegel-16" : 50px
);

/* x.47 = x; x.02 = x; x.39 = x; x.53 = x; */
$leadings: (
    "leading-1"  : 15px, /* [ 1 ] */
    "leading-2"  : 16px, /* links */
    "leading-3"  : 18px, /* secondary text */
    "leading-4"  : 19px, /*  */
    "leading-5"  : 20px, /* [ 1 ] */
    "leading-6"  : 23px, /*  */
    "leading-7"  : 24px, /* [ 1 ] */
    "leading-8"  : 26px, /* [ 3 ] */
    "leading-9"  : 50px, /*  */
    "leading-10" : 80px, /* [ 3 ] */
    "leading-11" : 90px  /*  */
);

$trackings: (
    "tracking-1" : 0.025em, /* common */
    "tracking-2" : 0.04em,  /* search */
    "tracking-3" : 0.05em   /* lead */
);
