<div class="cart-steps">
    <div class="cart-steps__step cart-steps__step_active">
        <div class="cart-steps__step-number">
            <p><span>Шаг </span>1</p>
        </div>
        <div class="cart-steps__step-description">
            <p>Мои покупки</p>
        </div>
    </div>
    <div class="cart-steps__step">
        <div class="cart-steps__step-number">
            <p><span>Шаг </span>2</p>
        </div>
        <div class="cart-steps__step-description">
            <p>Доставка</p>
        </div>
    </div>
    <div class="cart-steps__step">
        <div class="cart-steps__step-number">
            <p><span>Шаг </span>3</p>
        </div>
        <div class="cart-steps__step-description">
            <p>Оформление</p>
        </div>
    </div>
</div>
