@charset "UTF-8";

/// Описание элемента BEM блока delivery.
/// Элеммент - title.
.delivery__title {
    @include font-Karton_Regular;
    color: getColor("black");
    font-size: 35px;
    line-height: 70px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
