@charset "UTF-8";

/// Описание элемента BEM блока delivery.
/// Элеммент - title.
.delivery__title {
    @include font-Karton_Regular;
    color: getColor("black");
    font-size: 35px;
    line-height: 70px;
    letter-spacing: 0.04em;
    margin-bottom: 55px;
    text-transform: uppercase;

    @media (min-width: 480px) {
        margin-bottom: 55px;
    }

    @media (max-width: 479px) {
        margin-bottom: 5px;
    }
}
