@charset "UTF-8";

/* ------------- -= Open Sans =- ------------- */
%font-OpenSans_Light {
    font-family: $font-OpenSans; /* Open Sans */
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
}
%font-OpenSans_LightItalic {
    font-family: $font-OpenSans; /* Open Sans */
    font-style: italic;
    font-variant: normal;
    font-weight: 300;
}
%font-OpenSans_Regular {
    font-family: $font-OpenSans; /* Open Sans */
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}
%font-OpenSans_RegularItalic {
    font-family: $font-OpenSans; /* Open Sans */
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
}
%font-OpenSans_Semibold {
    font-family: $font-OpenSans; /* Open Sans */
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
}
%font-OpenSans_SemiBoldItalic {
    font-family: $font-OpenSans; /* Open Sans */
    font-style: italic;
    font-variant: normal;
    font-weight: 600;
}
%font-OpenSans_Bold {
    font-family: $font-OpenSans; /* Open Sans */
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
}
%font-OpenSans_BoldItalic {
    font-family: $font-OpenSans; /* Open Sans */
    font-style: italic;
    font-variant: normal;
    font-weight: 700;
}

/* ------------- -= Noto Sans =- ------------- */
%font-NotoSans_Regular {
    font-family: $font-NotoSans; /* Noto Sans */
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}
%font-NotoSans_Italic {
    font-family: $font-NotoSans; /* Noto Sans */
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
}
%font-NotoSans_BoldItalic {
    font-family: $font-NotoSans; /* Noto Sans */
    font-style: italic;
    font-variant: normal;
    font-weight: 700;
}

/* ------------- -= Noto Serif =- ------------- */
%font-NotoSerif_BoldItalic {
    font-family: $font-NotoSerif; /* Noto Serif */
    font-style: italic;
    font-variant: normal;
    font-weight: 700;
}

/* ------------- -= Karton =- ------------- */
%font-Karton_Regular {
    font-family: $font-Karton; /* Karton */
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

/* ------------- -= Bristol =- ------------- */
%font-Bristol_Regular {
    font-family: $font-Bristol; /* Bristol */
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

/* ------------- -= Proxima Nova condensed =- ------------- */
%font-ProximaNova_Condensed_Regular {
    font-family: $font-ProximaNova_Cond; /* Proxima Nova condensed */
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: condensed;
}
