@charset "UTF-8";

/// Описание элемента BEM блока поля ввода типа поиск.
/// Элемента - icon
.input-search__icon {
    @extend %bg-cover;
    /*background-image: url("../img/header/search/search.png");*/
    background-color: transparent;
    @include clear-edging;
    cursor: pointer;
    position: absolute;
    right: 14px;
    top: 9px;
    margin-right: 15px;
    @include size(16px);
    vertical-align: middle;
}
