@charset "UTF-8";

/// Описание элемента BEM блока delivery.
/// Элеммент - tabpanel-content-title.
.delivery__tabpanel-content-title {
    @include font-NotoSerif_BoldItalic;
    color: getColor("black");
    font-size: 19px;
    letter-spacing: 0.05em;
    margin: 0 0 45px;
}

/* P.S. Не соответствие шрифта в psd и на сайте по идентичным параметрам,
является "свободное трансформирование" текста в PSD дизайнером !!! */
