@charset "UTF-8";

/// Описание элемента BEM блока секции.
/// Элемент - description.
.section__description {
    @include font-OpenSans_LightItalic;
    color: getColor("Charcoal-3");
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.025em;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 479px) {
        font-size: 16px;
        line-height: 23px;
    }
}
