@charset "UTF-8";

/// Описание модификатора BEM блока text-overflow.
/// Модификатор - ellipsis
.text-overflow_ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
