@charset "UTF-8";

/// Описание элемента BEM блока reviews.
/// Элемент - username.
.reviews__username {
    display: inline-block;
    vertical-align: middle;

    /* Переделать по BEM */
    p {
        margin: 0;
    }
}
