@charset "UTF-8";

/// Описание элемента BEM блока delivery.
/// Элеммент - phone.
.delivery__phone {
    @include font-OpenSans_Regular;
    color: getColor("GoldenBrown");
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.025em;
    margin-top: 20px;

    @media (min-width: 480px) {
        margin-top: 20px;
    }

    @media (max-width: 479px) {
        margin-top: 45px;
    }
}
