<div class="catalog-view">

    <div id="catalog-view__option_inline-block" class="catalog-view__option catalog-view__option_inline-block icon catalog-view__icon">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="svg-icon_catalog-view__option_inline-block" class="catalog-view__img" preserveAspectRatio="xMidYMid" width="15" height="13" viewBox="0 0 15 13">
            <image xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAANAgMAAAALcNzSAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEUAAADMnW0AAAAFk/twAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAATSURBVAjXYwgNCQ1hwEmAAV4lAANXD9njIW4MAAAAAElFTkSuQmCC" width="15" height="13"/>
        </svg>
    </div>

    <div id="catalog-view__option_block" class="catalog-view__option catalog-view__option_block icon catalog-view__icon">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="svg-icon_catalog-view__option_block" class="catalog-view__img" preserveAspectRatio="xMidYMid" width="15" height="13" viewBox="0 0 15 13">
            <image xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAANAgMAAAALcNzSAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEUAAADf398AAAAVmQZ9AAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAATSURBVAjXYwgNDQ1hQBAIQKQEAIOzC+yNRGVKAAAAAElFTkSuQmCC" width="15" height="13"/>
        </svg>
    </div>

</div>
