<div class="catalog-sorting dropdown">
    <a href="#" class="link catalog-sorting__link dropdown-toggle" data-toggle="dropdown">
        <b class="caret"></b>
        <span class="catalog-sorting__link-inner">Сортировать по: </span>
    </a>
    <ul class="dropdown-menu catalog-sorting__list">
        <li><a href="#">Дате</a></li>
        <li><a href="#">Цене</a></li>
        <li><a href="#">Популярности</a></li>
        <li class="divider"></li>
        <li><a href="#">По умолча́нию</a></li>
    </ul>

    <div class="catalog-sorting__label">
        Дате
    </div>
</div>
