@charset "UTF-8";

/// Описание BEM блока discount-line.
/// Элемент - point-label.
.discount-line__point-label {
    display: inline-block;
    @include font-NotoSans_Italic;
    color: #cccccc;
    letter-spacing: 0.025em;


    /* Переделать по BEM */

    p {
        margin: 0;
    }
}
