@charset "UTF-8";

/// Описание элемента BEM блока cart.
/// Элеммент - title.
.cart__title {
    @include font-OpenSans_Regular;
    color: #4b4b4b;
    font-size: 25px;
    line-height: 16px;
    letter-spacing: 0.05em;
}
