@charset "UTF-8";

/// Описание элемента BEM блока delivery.
/// Элеммент - headings.
.delivery__headings {
    margin-bottom: 70px;
    text-align: center;

    @media (min-width: 992px) {
        padding-bottom: 130px;
    }

    @media (min-width: 480px) and (max-width: 991px) {
        padding-bottom: 80px;
    }

    @media (max-width: 479px) {
        padding-bottom: 60px;
    }
}
