@charset "UTF-8";

/// Описание элемента блока карточки продукта.
/// Элемент btn-container - контейнер кнопки
.product-card__btn-container {

    @media (min-width: 1310px) {
        display: none;
    }
}
