@charset "UTF-8";

/// Описание модификатора элемента BEM блока discount.
/// Элемент - img-card.
/// Модификатор - hover.
.discount__img-card_hover {
    margin-top: -55px;

    @media (max-width: 1199px) {
        margin-top: -40px;
    }
}
