@charset "UTF-8";

/// Описание элемента BEM блока page.
/// Элемент - link-toggle.
/// Модификатор - target.
/// Значение - menu-catalog.
.page__link-toggle_target_menu-catalog {
    border-color: #dfdfdf;
    border-style: solid;
    border-top-width: 1px;

    @media (max-width: 479px) {
        margin-left: -20px; /* компенсирование оступа aside */
    }
}
