@charset "UTF-8";

/// Описание элемента BEM блока page.
/// Элемент - link-toggle.
/// Модификатор - target.
/// Значение - menu-catalog.
.page__link-toggle_target_menu-catalog {
    border-color: #dfdfdf;
    border-style: solid;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 1px;

    margin-left: -35px;
    margin-top: 24px;
    padding: 12px 0;
    text-align: center;
    width: calc(100% + 50px);

    @media (max-width: 479px) {
        //margin-left: -20px; /* компенсирование оступа aside */
    }

    @media (min-width: 1200px) {
        display: none;
    }
}
