@charset "UTF-8";

/// @BemEntryName: -=[ product ]=-.
/// @BemElementName: -=[ title ]=-.
/// @BemElementModName: -=[ subsection ]=-.
/// @description: стиль заголовка подразделов.
.product__title_subsection {
    font-size: 1.1em;

    @media (max-width: 479px) {
        margin-left: 15px;
        margin-right: 15px;
    }
}
