<!-- delivery__scope-payment -->
<div class="tabpanel delivery__tabpanel" role="tabpanel">

    <!-- Nav tabs -->
    <ul class="tabpanel__nav" role="tablist">
        <li role="presentation" class="tabpanel__nav-item tabpanel__nav-item_active" data-target="#tabpanel__pane_mail">
            Оплата через почту
        </li>
        <li role="presentation" class="tabpanel__nav-item" data-target="#tabpanel__pane_card">
            Картой
        </li>
        <li role="presentation" class="tabpanel__nav-item" data-target="#tabpanel__pane_cash-courierr">
            Наличными курьеру
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tabpanel__content delivery__tabpanel-content">
        <div role="tabpanel" class="tabpanel__pane tabpanel__pane_active" id="tabpanel__pane_mail">

        </div>

        <div role="tabpanel" class="tabpanel__pane" id="tabpanel__pane_card">

        </div>

        <div role="tabpanel" class="tabpanel__pane" id="tabpanel__pane_cash-courier">

        </div>
    </div>

</div>
<!-- delivery__scope-payment -->
