<!-- delivery__scope-delivery -->
<div class="tabpanel delivery__tabpanel" role="tabpanel">

    <!-- Nav tabs -->
    <ul class="tabpanel__nav" role="tablist">
        <li role="presentation" class="tabpanel__nav-item tabpanel__nav-item_active" data-target="#tabpanel__pane_pickup">
            Самовывоз
        </li>
        <li role="presentation" class="tabpanel__nav-item" data-target="#tabpanel__pane_mail">
            Доставка по почте
        </li>
        <li role="presentation" class="tabpanel__nav-item" data-target="#tabpanel__pane_courier">
            Курьерская доставка
        </li>
        <li role="presentation" class="tabpanel__nav-item" data-target="#tabpanel__pane_ems">
            Срочная экспресс доставка
        </li>
        <li role="presentation" class="tabpanel__nav-item" data-target="#tabpanel__pane_free">
            Бесплатная доставка
        </li>
        <li role="presentation" class="tabpanel__nav-item" data-target="#tabpanel__pane_countries">
            Доставка в другие страны
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tabpanel__content delivery__tabpanel-content">
        <div role="tabpanel" class="tabpanel__pane tabpanel__pane_active" id="tabpanel__pane_pickup">
            <div class="delivery__tabpanel-content-container">

                <div class="delivery__tabpanel-content-headings">
                    <h3 class="h3 delivery__tabpanel-content-title">Самовывоз</h3>
                </div>

                <div class="delivery__tabpanel-content-description">
                    <p>
                        Ваш заказ мы собираем в день его оформления. Точка самовывоза — наш чайный магазин «Чайная комната», находится по адресу пр. Независимости, 44. Это 2 минуты пешком от ст. метро «Площадь Победы». Вход через арку у кафе «Секрет», слева от арки пристройка подвального типа. Если вы заблу дились — вы всегда сможете уточнить, где мы находимся, по телефону +375-29-854-34-60. Открыты с 12 дня до 10 вечера ежедневно, работаем без обеда и выходных. Также не обязательно формировать заказ перед визитом, всегда возможно выбрать чай и посуду непосредственно в чайной. Есть возможность оплаты карточками Visa и MasterCard.
                    </p>
                </div>

                <div class="delivery__tabpanel-content-addition">

                    <p class="tea_room--address">
                        <span class="icon">
                            <svg version="1.1" class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-284 410.1 25.8 21.8" xml:space="preserve"><path class="svg__elem svg__elem_color_address-marker" d="M-271.8,414.5c-2.5,0-4.5,2-4.5,4.5c0,4.1,4.5,9,4.5,9s4.5-4.9,4.5-9C-267.2,416.5-269.2,414.5-271.8,414.5z M-271.8,421.5c-1.2,0-2.2-1-2.2-2.2c0-1.2,1-2.2,2.2-2.2c1.2,0,2.2,1,2.2,2.2C-269.5,420.5-270.5,421.5-271.8,421.5z"></path></svg>
                        </span>
                        Проспект Независимости 44
                    </p>

                    <div class="delivery__tabpanel-content-map">

                    </div>

                </div>

            </div>
        </div>

        <div role="tabpanel" class="tabpanel__pane" id="tabpanel__pane_mail">
            Доставка по почте
        </div>

        <div role="tabpanel" class="tabpanel__pane" id="tabpanel__pane_courier">
            Курьерская доставка
        </div>

        <div role="tabpanel" class="tabpanel__pane" id="tabpanel__pane_ems">
            Срочная экспресс доставка
        </div>

        <div role="tabpanel" class="tabpanel__pane" id="tabpanel__pane_free">
            Бесплатная доставка
        </div>

        <div role="tabpanel" class="tabpanel__pane" id="tabpanel__pane_countries">
            Доставка в другие страны
        </div>
    </div>

</div>
<!-- delivery__scope-delivery -->
