@charset "UTF-8";

/// Описание модификатора элемента BEM блока меню каталога.
/// Модификатор sub (подменю).
.menu-catalog__link_sub {
    color: getColor("GoldenBrown"); /* #925900 */
    font-size: 14px;
    font-weight: 600;

    &:hover {
        color: getColor("FireBush"); /* #d29a43 */
    }
}
