@charset "UTF-8";

/// Описание элемента блока карусели каталога.
/// Элемент контролы карусели.
.catalog-carousel__control {
    background: none;
    opacity: 1;
    @include transition();
    width: 10%;

    @media (min-width: 1310px) {
        display: none;
    }

    // Маленькая плюшечка)
    /*&:active, &:focus:active {

        .chevron {

            &-container {
                padding-left: 0;
                padding-right: 0;
            }

            &-inner {
                border: 1px solid #eeafaf;
                border-radius: 50%;
                transform: none;
            }
        }
    }*/
}
