@charset "UTF-8";

/// Получение значения Цвета
/// @access public
/// @param {String} $assignment - Область применения
/// @return {String}
/// @require services.vars.colors.$service-colors

@function color($assignment: use) {
    @return map-get($service-colors, $assignment);
}

@function c($assignment: use) {
    @return map-get($service-colors, $assignment);
}
