@charset "UTF-8";

/// Получение значения Гарнитуры
/// @access public
/// @param {String} $assignment - Область применения
/// @return {String}
/// @require services.vars.font-families.$service-font-families

@function font-family($assignment: use) {
    @return map-get($service-font-families, $assignment);
}

@function ff($assignment: use) {
    @return font-family($assignment);
}
