@charset "UTF-8";

/// Получение значения Кегля
/// @access public
/// @param {String} $assignment - Область применения
/// @return {String}
/// @require services.vars.kegels.$service-kegels

@function kegel($assignment: use) {
    @return map-get($service-kegels, $assignment);
}

@function fz($assignment: use) {
    @return kegel($assignment);
}
