@charset "UTF-8";

/// Получение значения Интерлиньяжа
/// @access public
/// @param {String} $assignment - Область применения
/// @return {String}
/// @require services.vars.leadings.$service-leadings

@function leading($assignment: use) {
    @return map-get($service-leadings, $assignment);
}

@function lh($assignment: use) {
    @return map-get($service-leadings, $assignment);
}
