@charset "UTF-8";

/// Описание элемента блока контейнера фильтров товаров.
/// Элемент - title.
.catalog-filter-container__title {
    border-bottom-width: 1px;
    border-color: #dfdfdf;
    border-style: solid;
    border-top-width: 1px;
    color: #4b4b4b;
    cursor: pointer;
    font-family: getFont-family("OpenSans");
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.05em;
    font-weight: 400;
    margin: 0 -15px;
    padding: 20px 15px;
}
