@charset "UTF-8";

/// Описание элемента BEM блока продукта.
/// Элемент - кнопка
.product__btn {
    border-radius: 4px;
    background-color: #b62927; /* TEMP - взять из карты цветов */
    @include f("catalog--product_card--button");
    line-height: 28px !important; /* TEMP */
    margin: 0 0;
    @include size(71px, 29px); /* size(77px, 31px) Поправка на зум */

    &:hover {
        background-color: #d63f3c;
        /*padding-top: 1px;*/
        @include size(73px, 30px); /* size(80px, 32px) Поправка на зум */
    }
}
