@charset "UTF-8";

/// Описание элемента блока карточки продукта.
/// Элемент - inner (контейнер тела).
.product-card__inner {
    background-color: c();
    border-style: solid;
    border-width: 2px;
    overflow: hidden;
    @include size(100%);
    @include transition(all, 600ms, cubic-bezier(0.075, 0.82, 0.165, 1), !important);
}
