@charset "UTF-8";

/// Описание элемента BEM блока cart.
/// Элеммент - steps-ctrl (кнопки).
.cart__steps-ctrl {
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: #d9d9d9;
    @include font-OpenSans_SemiBoldItalic;
    color: #8b8b8b;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.025em;
    outline: 0;
    padding: 10px;
    min-width: 180px;
    text-align: center;
}
