@charset "UTF-8";

/// Карта Гарнитуры. Все гарнитуры сайта по назначению
/// @access private
/// @type Map
/// @prop {String} key - Область применения
/// @prop {String} value - значение font-family, соответствущее ключу

$service-font-families: (
    use("use-1")  : getFont-family("OpenSans"),
    use("use-2")  : getFont-family("OpenSans"),
    use("use-3")  : getFont-family("OpenSans"),

    use("use-4")  : getFont-family("OpenSans"),
    use("use-5")  : getFont-family("OpenSans"),
    use("use-6")  : getFont-family("OpenSans"),

    use("use-7")  : getFont-family("OpenSans"),
    use("use-8")  : getFont-family("OpenSans"),
    use("use-9")  : getFont-family("OpenSans"),
    use("use-10") : getFont-family("OpenSans"),
    use("use-11") : getFont-family("OpenSans"),
    use("use-12") : getFont-family("OpenSans"),
    use("use-13") : getFont-family("OpenSans"),
    use("use-14") : getFont-family("OpenSans"),
    use("use-15") : getFont-family("OpenSans"),
    use("use-16") : getFont-family("OpenSans"),
    use("use-17") : getFont-family("OpenSans"),
    use("use-18") : getFont-family("OpenSans"),
    use("use-19") : getFont-family("OpenSans"),
    use("use-20") : getFont-family("OpenSans"),

    use("use-21") : getFont-family("OpenSans"),
    use("use-22") : getFont-family("OpenSans"),
    use("use-23") : getFont-family("OpenSans"),
    use("use-24") : getFont-family("OpenSans"),
    use("use-25") : getFont-family("OpenSans"),
    use("use-26") : getFont-family("OpenSans"),
    use("use-27") : getFont-family("OpenSans"),
    use("use-28") : getFont-family("OpenSans"),

    use("use-29") : getFont-family("OpenSans"),
    use("use-30") : getFont-family("OpenSans"),
    use("use-31") : getFont-family("OpenSans"),
    use("use-32") : getFont-family("OpenSans"),
    use("use-33") : getFont-family("OpenSans"),
    use("use-34") : getFont-family("OpenSans"),
    use("use-35") : getFont-family("OpenSans"),

    use("use-36") : getFont-family("OpenSans"),

    use("use-37") : getFont-family("OpenSans"),
    use("use-38") : getFont-family("OpenSans"),
    use("use-39") : getFont-family("OpenSans"),
    use("use-40") : getFont-family("OpenSans"),
    use("use-41") : getFont-family("OpenSans"),
    use("use-42") : getFont-family("OpenSans"),
    use("use-43") : getFont-family("OpenSans"),
    use("use-44") : getFont-family("OpenSans"),
    use("use-45") : getFont-family("OpenSans"),
    use("use-46") : getFont-family("OpenSans"),
    use("use-47") : getFont-family("OpenSans"),
    use("use-48") : getFont-family("OpenSans"),
    use("use-49") : getFont-family("OpenSans"),
    use("use-50") : getFont-family("OpenSans"),
    use("use-51") : getFont-family("OpenSans"),
    use("use-52") : getFont-family("OpenSans"),
    use("use-53") : getFont-family("OpenSans"),

    use("use-54") : getFont-family("OpenSans"),

    use("use-55") : getFont-family("OpenSans"),
    /* --------------------------------------------------------------------------- */
    use("use-56") : getFont-family("NotoSans"),

    use("use-57") : getFont-family("NotoSans"),
    use("use-58") : getFont-family("NotoSans"),
    use("use-59") : getFont-family("NotoSans"),
    use("use-60") : getFont-family("NotoSans"),
    use("use-61") : getFont-family("NotoSans"),
    use("use-62") : getFont-family("NotoSans"),
    use("use-63") : getFont-family("NotoSans"),
    use("use-64") : getFont-family("NotoSans"),

    use("use-65") : getFont-family("NotoSans"),
    use("use-66") : getFont-family("NotoSans"),
    /* --------------------------------------------------------------------------- */
    use("use-67") : getFont-family("NotoSerif"),
    use("use-68") : getFont-family("NotoSerif"),
    /* --------------------------------------------------------------------------- */
    use("use-69") : getFont-family("Karton"),
    use("use-70") : getFont-family("Karton"),
    use("use-71") : getFont-family("Karton"),
    use("use-72") : getFont-family("Karton"),
    use("use-73") : getFont-family("Karton"),
    use("use-74") : getFont-family("Karton"),
    use("use-75") : getFont-family("Karton"),
    use("use-76") : getFont-family("Karton"),
    use("use-77") : getFont-family("Karton"),
    use("use-78") : getFont-family("Karton"),
    use("use-79") : getFont-family("Karton"),
    use("use-80") : getFont-family("Karton"),
    /* -------------------------------------------------------------------------- */
    use("use-81") : getFont-family("Bristol"),
    use("use-82") : getFont-family("Bristol"),
    /* -------------------------------------------------------------------------- */
    use("use-83") : getFont-family()
);
