@charset "UTF-8";

/// Описание элемента BEM блока subscription.
/// Элемент - container.
.subscription__container {
    margin: 120px auto;
    max-width: 820px;

    @media (max-width: 1199px) {
        max-width: 430px;
        text-align: center;
    }

    @media (max-width: 767px) {
        padding: 0 15px;
    }
}
