<!-- block menu-catalog -->
<nav class="menu menu-catalog navbar text-collapsing" role="navigation">
    <div id="menu-catalog__content" class="menu__content menu-catalog__content collapse in clearfix">
        <ul id="menu-catalog__list_first" class="menu__list menu-catalog__list">
            <!-- Чай -->
            <li class="menu__item menu-catalog__item menu-catalog__item_category menu-catalog__item_category_tea menu-catalog__item_category_tea-1 dropdown">
                <a href="#" id="menu-catalog__link_tea" class="link menu__link menu-catalog__link menu-catalog__link_category menu-catalog__link_category_tea link_theme_pushed" data-toggle="collapse" data-target=".menu-catalog__list_tea">
                    <span class="icon menu-catalog__link-icon menu-catalog__link-icon_with-img">
                        <span class="caret menu-catalog__link-caret link__caret link__caret_theme_pushed"></span>
                    </span>
                    Чай
                    <span class="link__icon link__icon_menu-catalog">
                        <svg class="link__img link__img_menu-catalog"></svg>
                    </span>
                </a>
                <ul id="menu-catalog__list_tea_1" class="menu__list menu-catalog__list menu__list_sub menu-catalog__list_sub menu-catalog__list_tea collapse in">

                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Чай 2016 года
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Шу пуэр
                            <span class="link__elaboration">
                                (черныe)
                            </span>
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Шен пуэр
                            <span class="link__elaboration">
                                (зеленые)
                            </span>
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub dropdown">
                        <a href="#" id="menu-catalog__link-sub_oolong" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail" data-toggle="collapse" data-target="#menu-catalog__list-sub_oolong">
                            <span class="icon menu-catalog__link-icon">
                                <span class="caret menu-catalog__link-caret link__caret"></span>
                            </span>
                            Улуны
                        </a>
                        <ul id="menu-catalog__list-sub_oolong" class="menu__list menu-catalog__list menu__list_sub menu-catalog__list_sub menu__list_sub_2 menu-catalog__list_sub_2 collapse">

                            <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub menu__item_sub_2 menu-catalog__item_sub_2">
                                <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_sub_2 menu-catalog__link_sub_2 menu__link_theme_tea-mail">
                                    Южнофуцзянские
                                </a>
                            </li>
                            <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub menu__item_sub_2 menu-catalog__item_sub_2">
                                <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_sub_2 menu-catalog__link_sub_2 menu__link_theme_tea-mail">
                                    Уишаньские
                                </a>
                            </li>
                            <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub menu__item_sub_2 menu-catalog__item_sub_2">
                                <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_sub_2 menu-catalog__link_sub_2 menu__link_theme_tea-mail">
                                    Гуандунские
                                </a>
                            </li>
                            <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub menu__item_sub_2 menu-catalog__item_sub_2">
                                <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_sub_2 menu-catalog__link_sub_2 menu__link_theme_tea-mail">
                                    Тайваньские
                                </a>
                            </li>
                            <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub menu__item_sub_2 menu-catalog__item_sub_2">
                                <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_sub_2 menu-catalog__link_sub_2 menu__link_theme_tea-mail">
                                    ГАБА
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub menu-catalog__mark-item_992-1200">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Красный чай
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub menu-catalog__mark-item_992-1200">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Индийский чай
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub menu-catalog__mark-item_992-1200">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Тайский чай
                        </a>
                    </li>
                    <!-- divider -->

                </ul>
            </li>
            <!-- Чай 2 -->
            <li class="menu__item menu-catalog__item menu-catalog__item_category menu-catalog_item_without-item menu-catalog__item_category_tea menu-catalog__item_category_tea-2">

                <ul id="menu-catalog__list_tea_2" class="menu__list menu-catalog__list menu__list_sub menu-catalog__list_sub menu-catalog__list_tea collapse in">

                    <!-- divider -->
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Хейча
                            <span class="link__elaboration">
                                (черный чай)
                            </span>
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Белый чай
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Желтый чай
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Зеленый чай
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub menu-catalog__mark-item_992-1200">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Японский чай
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub menu-catalog__mark-item_992-1200 dropdown">
                        <a href="#" id="menu-catalog__link-sub_herbs" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail" data-toggle="collapse" data-target="#menu-catalog__list-sub_herbs">
                            <span class="icon menu-catalog__link-icon">
                                <span class="caret menu-catalog__link-caret link__caret"></span>
                            </span>
                            Цветы, травы, добавки
                        </a>
                        <ul id="menu-catalog__list-sub_herbs" class="menu__list menu-catalog__list menu__list_sub menu-catalog__list_sub menu__list_sub_2 menu-catalog__list_sub_2 collapse">

                            <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub menu__item_sub_2 menu-catalog__item_sub_2">
                                <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_sub_2 menu-catalog__link_sub_2 menu__link_theme_tea-mail">
                                    Иван Чай
                                </a>
                            </li>
                            <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub menu__item_sub_2 menu-catalog__item_sub_2">
                                <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_sub_2 menu-catalog__link_sub_2 menu__link_theme_tea-mail">
                                    Нечайный чай
                                </a>
                            </li>
                            <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub menu__item_sub_2 menu-catalog__item_sub_2">
                                <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_sub_2 menu-catalog__link_sub_2 menu__link_theme_tea-mail">
                                    Цветы
                                </a>
                            </li>
                            <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub menu__item_sub_2 menu-catalog__item_sub_2">
                                <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_sub_2 menu-catalog__link_sub_2 menu__link_theme_tea-mail">
                                    Аюрведические смеси
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub menu-catalog__mark-item_992-1200">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Чай от чайной почты
                        </a>
                    </li>

                </ul>
            </li>
            <!-- Чай 3 -->
            <li class="menu__item menu-catalog__item menu-catalog__item_category menu-catalog_item_without-item menu-catalog__item_category_tea menu-catalog__item_category_tea-3">

                <ul id="menu-catalog__list_tea_3" class="menu__list menu-catalog__list menu__list_sub menu-catalog__list_sub menu-catalog__list_tea collapse in">

                </ul>
            </li>
            <!-- Посуда -->
            <li class="menu__item menu-catalog__item menu-catalog__item_category dropdown">
                <a href="#" id="menu-catalog__link_dishes" class="link menu__link menu-catalog__link menu-catalog__link_category menu-catalog__link_category_dishes" data-toggle="collapse" data-target="#menu-catalog__list_dishes">
                   <span class="icon menu-catalog__link-icon menu-catalog__link-icon_with-img">
                        <span class="caret menu-catalog__link-caret link__caret"></span>
                    </span>
                    Посуда
                    <span class="link__icon link__icon_menu-catalog link__icon_menu-catalog_dishes">
                        <svg version="1.1" id="svg-icon_link-icon_dishes" class="link__img link__img_menu-catalog" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 49.8 39.8" style="enable-background:new 0 0 49.8 39.8;" xml:space="preserve">
                            <path id="svg-icon_link-icon_dishes__path_1" class="svg-icon_link-icon__path svg-icon_link-icon_dishes__path" d="M10,13.9h32c0,0-0.8,5-3.8,8s-5,4.4-5,4.4v1.8H19.6v-2.2c0,0-4.3-1.7-6.9-4.8S10,13.9,10,13.9z"/>
                            <path id="svg-icon_link-icon_dishes__path_2" class="svg-icon_link-icon__path svg-icon_link-icon_dishes__path" d="M40.7,32.3H11.3c-0.8,0-1.5-0.7-1.5-1.5v0c0-0.8,0.7-1.5,1.5-1.5h29.5c0.8,0,1.5,0.7,1.5,1.5v0C42.2,31.7,41.6,32.3,40.7,32.3z"/>
                            <path id="svg-icon_link-icon_dishes__path_2" class="svg-icon_link-icon__path svg-icon_link-icon_dishes__path" d="M18.6,13c-1.7-1.7-3.7-3.4-5.4-4.9c0.3-1.3,0-2.7-1-3.8c-1.6-1.6-4.1-1.6-5.7,0s-1.6,4.1,0,5.7c1,1,2.3,1.3,3.5,1.1c0.5,0.6,1.1,1.3,1.6,1.9H18.6z"/>
                        </svg>
                    </span>
                </a>
                <ul id="menu-catalog__list_dishes" class="menu__list menu-catalog__list menu__list_sub menu-catalog__list_sub collapse">

                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Типоды
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Сифоны
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Термосы
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Пиалы
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Чабани
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Чайники
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Наборы посуды
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Гайвани
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Авторская керамика
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Колбы и Стаканы
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Чахэ
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub dropdown">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail dropdown-toggle" data-toggle="dropdown">
                            <span class="link__elaboration">
                                Еще (в каталог)
                            </span>
                        </a>
                    </li>

                </ul>
            </li>
            <!-- Прочее -->
            <li class="menu__item menu-catalog__item menu-catalog__item_category dropdown">
                <a href="#" id="menu-catalog__link_other" class="link menu__link menu-catalog__link menu-catalog__link_category menu-catalog__link_category_other" data-toggle="collapse" data-target="#menu-catalog__list_other">
                   <span class="icon menu-catalog__link-icon menu-catalog__link-icon_with-img">
                        <span class="caret menu-catalog__link-caret link__caret"></span>
                    </span>
                    Прочее
                    <span class="link__icon link__icon_menu-catalog link__icon_menu-catalog_other">
                    <svg version="1.1" id="svg-icon_link-icon_other" class="link__img link__img_menu-catalog" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-300 403 48 35" xml:space="preserve">
                        <path id="svg-icon_link-icon_other__path_1" class="svg-icon_link-icon__path svg-icon_link-icon_dishes__path" d="M-260.8,409.4c0-2.1-1.7-3.8-3.8-3.8c-1.4,0-2.7,0.8-3.3,2h-3.7c-0.8-0.8-2.6-2.1-5.4-2
                        c-2.7,0.2-4.2,1.3-4.9,2h-4c-0.6-1.2-1.9-2-3.3-2c-2.1,0-3.8,1.7-3.8,3.8c0,1.4,0.8,2.7,2,3.3v3.4c-0.7,0.8-1.6,2.2-1.7,4.6
                        c-0.1,2.5,0.9,4.2,1.7,5.1v3.8c-1.2,0.6-2,1.9-2,3.3c0,2.1,1.7,3.8,3.8,3.8c1.4,0,2.6-0.8,3.2-1.9h4.2c0.7,0.7,2.2,1.7,4.8,1.8
                        c2.7,0.1,4.4-1.1,5.3-1.8h3.9c0.7,1.1,1.9,1.9,3.2,1.9c2.1,0,3.8-1.7,3.8-3.8c0-1.3-0.7-2.5-1.7-3.1v-4c0.8-0.9,1.8-2.6,1.7-5.1
                        c-0.1-2.3-1-3.8-1.7-4.6v-3.6C-261.5,411.9-260.8,410.7-260.8,409.4z M-265.3,431.9h-3h-17.4h-2.4v-2.5V413v-2.4h2.4h17.5h2.9V431.9
                        z"/>
                    </svg>
                </span>
                </a>
                <ul id="menu-catalog__list_other" class="menu__list menu-catalog__list menu__list_sub menu-catalog__list_sub collapse">

                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Фигурки
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Книги
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Живопись
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Упаковка
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Благовония
                            <span class="link__elaboration">
                                (Сян Дао)
                            </span>
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Баночки и чайницы
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Мешочки и чехлы
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Футболки
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Браслеты
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Декоративные вазочки
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail">
                            Подставки для чайников
                        </a>
                    </li>
                    <li class="menu__item menu-catalog__item menu__item_sub menu-catalog__item_sub dropdown">
                        <a href="#" class="link menu__link menu-catalog__link menu__link_sub menu-catalog__link_sub menu__link_theme_tea-mail dropdown-toggle" data-toggle="dropdown">
                            <span class="link__elaboration">
                                Еще (в каталог)
                            </span>
                        </a>
                    </li>

                </ul>
            </li>
        </ul>

        <ul id="menu-catalog__list_without-sub" class="menu__list menu-catalog__list menu-catalog__list_without-sub">
            <!-- Подарочные сертификаты -->
            <li class="menu__item menu-catalog__item menu-catalog__item_category menu-catalog__item_without-sub">
                <a href="#" id="menu-catalog__link_gift" class="link menu__link menu-catalog__link menu-catalog__link_category menu-catalog__link_category_gift">
                    Подарочные сертификаты
                    <span class="link__icon link__icon_menu-catalog link__icon_menu-catalog_gift">
                        <svg version="1.1" id="svg-icon_link-icon_gift" class="link__img link__img_menu-catalog" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 42 50" style="enable-background:new 0 0 42 50;" xml:space="preserve">
                            <path id="svg-icon_link-icon_gift_path_1" class="svg-icon_link-icon__path svg-icon_link-icon_gift_path" d="M29.9,15.3c0.6-1.3,0.2-2.9-1-3.8c-0.7-0.5-1.2-1.3-1.3-2.2c-0.2-1.5-1.3-2.6-2.8-2.8h0c-0.9-0.1-1.7-0.6-2.2-1.3v0c-0.9-1.2-2.5-1.6-3.8-1c-0.8,0.4-1.7,0.4-2.5,0c-1.3-0.6-2.9-0.2-3.8,1v0c-0.5,0.7-1.3,1.2-2.2,1.3C8.8,6.7,7.6,7.8,7.4,9.3c-0.1,0.9-0.6,1.7-1.3,2.2h0c-1.2,0.9-1.6,2.5-1,3.8c0.4,0.8,0.4,1.7,0,2.5c-0.6,1.3-0.2,2.9,1,3.8h0c0.7,0.5,1.2,1.3,1.3,2.2v0c0.2,1.5,1.3,2.6,2.8,2.8c0.9,0.1,1.7,0.6,2.2,1.3c0.9,1.2,2.5,1.6,3.8,1c0.8-0.4,1.7-0.4,2.5,0c1.3,0.6,2.9,0.2,3.8-1c0.5-0.7,1.3-1.2,2.2-1.3h0c1.5-0.2,2.6-1.3,2.8-2.8v0c0.1-0.9,0.6-1.7,1.3-2.2c1.2-0.9,1.6-2.5,1-3.8C29.5,17,29.5,16.1,29.9,15.3z M17.5,24.3c-4.3,0-7.8-3.5-7.8-7.8s3.5-7.8,7.8-7.8s7.8,3.5,7.8,7.8S21.8,24.3,17.5,24.3z"/>
                            <path id="svg-icon_link-icon_gift_path_2" class="svg-icon_link-icon__path svg-icon_link-icon_gift__path" d="M22.6,28.6c-0.9,1.2-2.5,1.6-3.8,1c-0.8-0.4-1.7-0.4-2.5,0c-1.3,0.6-2.9,0.2-3.8-1c0-0.1-0.1-0.1-0.2-0.2V42l5.2-6.2l5.2,6.2V28.4C22.7,28.5,22.6,28.5,22.6,28.6z"/>
                        </svg>
                    </span>
                </a>
            </li>
            <!-- Чайные наборы -->
            <li class="menu__item menu-catalog__item menu-catalog__item_category menu-catalog__item_without-sub">
                <a href="#" id="menu-catalog__link_kits" class="link menu__link menu-catalog__link menu-catalog__link_category menu-catalog__link_category_kits">
                    Чайные наборы
                    <span class="link__icon link__icon_menu-catalog link__icon_menu-catalog_kits">
                        <svg version="1.1" id="svg-icon_link-icon_kits" class="link__img link__img_menu-catalog" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 52 40" style="enable-background:new 0 0 52 40;" xml:space="preserve">
                            <path id="svg-icon_link-icon_kits__path_1" class="svg-icon_link-icon__path svg-icon_link-icon_kits__path" d="M37.9,12.9L38,9.6H24.2l0,3.6c0,0-3.4,4.1-3.4,5.9s0,19.2,0,19.2h20.9c0,0,0-16.6,0-18.8S37.9,12.9,37.9,12.9z M26.4,12c-0.4,0-0.7-0.3-0.7-0.7c0-0.4,0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7C27.1,11.7,26.8,12,26.4,12zM36.1,12c-0.4,0-0.7-0.3-0.7-0.7c0-0.4,0.3-0.7,0.7-0.7s0.7,0.3,0.7,0.7C36.8,11.7,36.5,12,36.1,12z"/>
                            <path id="svg-icon_link-icon_kits__path_2" class="svg-icon_link-icon__path svg-icon_link-icon_kits__path" d="M19.5,19.7c0-2.7,3.8-6.9,3.8-6.9V8.6l1.4-0.1V4.3H8.4l0,4.2c0,0-4,4.9-4,7s0,22.7,0,22.7h15.1C19.5,34.6,19.5,22,19.5,19.7z M22.4,5.6c0.4,0,0.8,0.4,0.8,0.8s-0.4,0.8-0.8,0.8s-0.8-0.4-0.8-0.8S22,5.6,22.4,5.6z M10.9,7.2c-0.4,0-0.8-0.4-0.8-0.8s0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8S11.3,7.2,10.9,7.2z"/>
                        </svg>
                    </span>
                </a>
            </li>
        </ul>
    </div>

    <a href="#" class="link text-collapsing__link-toggle text-collapsing__link-toggle_theme_tea-mail menu-catalog__link-toggle collapse-link-triangle collapse-link-triangle_position_top-inverse collapse-link-triangle_active" data-toggle="collapse" data-alttext="Раскрыть каталог" data-target="#menu-catalog__content">Скрыть каталог</a>
</nav>
