<!-- comment-order -->
<div class="comment-order">
    <div class="comment-order__heading header-strip__heading">
        <h3 class="h3 comment-order__title header-strip__title">
            Комментарий к заказу
        </h3>
    </div>

    <div class="form__group">
        <textarea name="comment-order__comment" id="" class="input input_type_textarea form__input-field form__input-field_textarea comment-order__textarea" placeholder="Если у вас есть пожелания, напишите их здесь" cols="28" rows="10" required></textarea>
    </div>

</div>
<!-- / comment-order -->
