@charset "UTF-8";

#about_project {
    background-image: url(../img/about_project/bg.png);
    background-color: #fff;
    background-position: center 64px;
    background-repeat: no-repeat;
    padding-top: 120px;

    @media (max-width: 1309px) {
        background-position: 55% 64px;
    }

    @media (max-width: 1199px) {
        background-position: 70% 64px;
    }

    @media (max-width: 1100px) {
        background-position: 75% 64px;
    }
}

.about_project {

    &-container {
        background-image: url(../img/about_project/bg-2.png);
        background-position: calc(100% - 134px) 100%;
        background-repeat: no-repeat;
        padding: 0 134px;

        @media (max-width: 1309px) {
            background-position: calc(100% - 104px) 100%;
            padding: 0 104px;
        }

        @media (max-width: 1199px) {
            background-position: calc(100% - 40px) 100%;
            padding: 0 54px;
        }

        @media (max-width: 1100px) {
            background-position: 100% 100%;
        }
    }

    &--heading {
        margin: 0;
        text-transform: uppercase;
    }

    &--subHeading {

    }

    &--text {
        max-width: 420px;
    }

    &--button {
        margin-top: 41px;
        margin: 41px 0 55px;

        @media (max-width: 1309px) {
            margin-top: 62px;
        }

    }

}
