@charset "UTF-8";

#care {
    background-color: #fff;
    padding-bottom: 60px; /* TEMP */
    text-align: center;

    @media (max-width: 479px) {
        padding-bottom: 30px;
    }

    &--advantages {

        &--gift {

            .icon {
                /*background-image: url(../img/care/advantages/gift.png);*/

                svg {
                    left: 0px;
                    top: 4px;
                    width: 39px;
                }
            }
        }

        &--sale {

            .icon {
                /*background-image: url(../img/care/advantages/sale.png);*/

                svg {
                    left: -5px;
                    top: 0px;
                    width: 61px;
                }
            }
        }

        &--delivery {

            .icon {
                background-image: url(../img/care/advantages/delivery.png);

                svg {
                    left: -6px;
                    top: -6px;
                    width: 62px;
                }
            }
        }
    }

    .care {
        &--container {

        }

        &--heading {
            text-transform: uppercase;

            @media (max-width: 991px) {
                font-size: 26px;
            }

            @media (max-width: 499px) {
                line-height: 1.75em;
                margin-left: auto;
                margin-right: auto;
                max-width: 300px;
            }

            @media (max-width: 479px) {
                margin-top: 40px;
                margin-bottom: 5px;
            }
        }

        &--button {
            margin-top: 20px;
        }

        &--advantages {
            display: inline-block;
            min-width: 325px;
            padding: 0 15px;
            text-align: center;

            /* [!] Выбрать каким способом стилизовать float или inline-block */
            .advantage { /* Сделать марджины для адаптивки. Картинки на фоне ковером сделаны, т. что они почти одинаковой высоты */
                min-width: 140px;
                margin: 23px auto;
                overflow: hidden;
                padding: 0 15px;
                text-align: center;
                vertical-align: top;

                @media (min-width: 992px) {
                    display: inline-block;
                    max-width: 225px;
                }

                p {
                    margin: 0;
                }

                .icon {
                    @extend %bg-cover;
                    margin: 0 auto 22px;
                    @include size(50px);

                    img, svg {
                        /*fill: #bf9265;*/
                    }

                    svg {
                        position: relative;
                    }
                }
            }
        }
    }

    /// Описание карусельки
    &--carousel {

        .carousel {
            &-inner {
                margin: 0 auto;

                @media (max-width: 991px) {
                    max-width: 225px;
                }

                &>.item {

                    @media (min-width: 992px) {

                    }
                }
            }
            &-control {
                background: none;
                opacity: 1;
                @include transition();
                width: 10%;

                @media (min-width: 992px) {
                    display: none;
                }

                .chevron {
                    &-container {
                        display: inline-block;
                        border-style: solid;
                        border-width: 1px;
                        border-color: #d5d5d5;
                        border-radius: 50%;
                        background-color: #ffffff;
                        margin-top: -28px;
                        /*padding: 19px;*/
                        padding-bottom: 18px;
                        padding-top: 18px;
                        position: absolute;
                        top: 50%;
                        @include size(55px);
                        @include transition();
                    }

                    &-inner {
                        display: inline-block;
                        margin: auto 0;
                        transform-origin: 50% 50%;
                        transform: rotate(45deg);
                        /*@include size(16px);*/
                        @include size(18px);
                        @include transition($time: 100ms);
                    }
                }

                &.left {
                    .chevron {
                        &-container {
                            left: -6px;
                            padding-left: 9px;

                            @media (max-width: 479px) {
                                left: 3px;
                            }
                        }
                        &-inner {
                            border-bottom: 1px solid #a4a4a4;
                            border-left: 1px solid #a4a4a4;
                        }
                    }
                }

                &.right {
                    .chevron {
                        &-container {
                            padding-right: 9px;
                            right: -6px;

                            @media (max-width: 479px) {
                                /*right: 3px;*/
                                /*right: 8px;*/
                                right: 11px; /* всвязи со скроллбаром */
                            }
                        }
                        &-inner {
                            border-right: 1px solid #a4a4a4;
                            border-top: 1px solid #a4a4a4;
                        }
                    }
                }

                &:hover {

                    .chevron-inner {
                        border-width: 2px;
                        border-color: #d29b3b;
                    }
                }

                /*&:active, &:focus:active {

                    .chevron {

                        &-container {
                            padding-left: 0;
                            padding-right: 0;
                        }

                        &-inner {
                            border: 1px solid #eeafaf;
                            border-radius: 50%;
                            transform: none;
                        }
                    }
                }*/
            }
        }
    }
}

