@charset "UTF-8";

#care {
    background-color: #fff;
    padding-bottom: 60px; /* TEMP */
    text-align: center;

    &--advantages {

        &--gift {

            .icon {
                /*background-image: url(../img/care/advantages/gift.png);*/

                svg {
                    left: 0px;
                    top: 4px;
                    width: 39px;
                }
            }
        }

        &--sale {

            .icon {
                /*background-image: url(../img/care/advantages/sale.png);*/

                svg {
                    left: -5px;
                    top: 0px;
                    width: 61px;
                }
            }
        }

        &--delivery {

            .icon {
                background-image: url(../img/care/advantages/delivery.png);

                svg {
                    left: -6px;
                    top: -6px;
                    width: 62px;
                }
            }
        }
    }

    .care {
        &--container {

        }

        &--heading {
            text-transform: uppercase;

            @media (max-width: 991px) {
                font-size: 26px;
            }

            @media (max-width: 499px) {
                line-height: 1.75em;
                margin-left: auto;
                margin-right: auto;
                max-width: 300px;
            }
        }

        &--button {
            margin-top: 20px;
        }

        &--advantages {
            text-align: center;
            overflow: hidden;
            padding: 0 15px;

            /* [!] Выбрать каким способом стилизовать float или inline-block */
            .advantage { /* Сделать марджины для адаптивки. Картинки на фоне ковером сделаны, т. что они почти одинаковой высоты */
                /*float: left;*/
                min-width: 140px;
                overflow: hidden;
                margin: 23px 0;
                padding: 0 15px;
                text-align: center;
                vertical-align: top;
                /*width: 20%;*/

                /*outline: 1px solid;*/

                display: inline-block;
                /*margin: 0 -2px;*/

                /*width: 16.5%;*/
                width: 18%;


                p {
                    margin: 0;
                }

                .icon {
                    @extend %bg-cover;
                    margin: 0 auto 22px;
                    @include size(50px);

                    img, svg {
                        /*fill: #bf9265;*/
                    }

                    svg {
                        position: relative;
                    }
                }
            }
        }
    }
}

