@charset "UTF-8";

/* [!] Унифицировать margins */
#hero {
    @extend %bg-cover;
    background-image: url(../img/hero/bg_0.png);
    height: 742px; /*750px*/
    overflow: hidden;
    position: relative;
    @include transition(all, 1.3s, cubic-bezier(0.66, -0.91, 0.32, 1.28));

    @media (max-width: 991px) {
        height: 585px;
    }

    @media (max-width: 479px) {
        /*overflow-y: auto;*/
    }

    .hero--search--container {
        text-align: center;
    }

    /* [!] TEMP - переделать! */
    .hero--gradientBlackout-bottom {
        background-image: -moz-linear-gradient( 90deg, rgb(115,195,166) 0%, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(115,195,166) 0%, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(115,195,166) 0%, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
        bottom: 0;
        height: 280px;
        left: 0;
        opacity: 0.678;
        position: absolute;
        right: 0;
    }

    &-control {

        &.left {
        }

        &.right {
        }

        &:hover {
        }
    }

    .ctrl {

        .ctrl-arrow {
            /*background-image: url(../img/hero/ctrl-arrow.png);*/
            background-position: 0 0;
            background-repeat: no-repeat;
            cursor: pointer;
            height: 126px; /*86px*/
            padding: 20px;
            position: absolute;
            top: 330px; /*350px*/
            /*width: 32px;*/
            width: 76px; /*36px*/

            @media (max-width: 991px) and (min-width: 480px) {
                top: 360px;
            }

            svg {
                @media (max-width: 479px) {
                    display: none;
                }
            }

            .chevron {
                &-container {
                    display: inline-block;
                    border-style: solid;
                    border-width: 1px;
                    border-color: rgba(0,0,0,0.3);
                    border-radius: 50%;
                    background-color: rgba(0,0,0,0.3);
                    margin-top: -28px;
                    /*padding: 19px;*/
                    padding-bottom: 18px;
                    padding-top: 18px;
                    position: absolute;
                    top: 50%;
                    @include size(55px);
                    @include transition();

                    &:hover {
                        background-color: rgba(0,0,0,0.5);
                    }

                    @media (min-width: 480px) {
                        display: none;
                    }
                }
                &-inner {
                    display: inline-block;
                    margin: auto 0;
                    transform-origin: 50% 50%;
                    transform: rotate(45deg);
                    /*@include size(16px);*/
                    @include size(18px);
                    @include transition($time: 100ms);
                }
            }

            &-stroke {
                fill: rgba(0,0,0,0.2);
                @include transition(fill);
            }

            &-fill {
                fill: #d19a3a;
            }

            &-left {
                /*background-position: 0 0;*/
                left: 10px; /*254px 15px 30px*/
                right: auto;

                .chevron {
                    &-container {
                        left: -28px;
                        padding-left: 9px;

                        @media (max-width: 767px) {
                            left: 0;
                        }
                    }
                    &-inner {
                        border-bottom: 2px solid #a4a4a4;
                        border-left: 2px solid #a4a4a4;
                    }
                }
            }

            &-right {
                /*background-position: -32px 0;*/
                left: auto;
                right: 10px; /*254 15px 30px*/

                svg {
                    transform: scale(-1, 1);
                }

                .chevron {
                    &-container {
                        padding-right: 9px;
                        right: -28px;

                        @media (max-width: 767px) {
                            /*right: 0;*/
                            right: 3px;  /* всвязи со скроллбаром */
                        }
                    }

                    &-inner {
                        border-right: 2px solid #a4a4a4;
                        border-top: 2px solid #a4a4a4;
                    }
                }
            }

            &:hover {
                /*background-image: url(../img/hero/ctrl-arrow_hover.png);*/
                @extend .pulse;
                @extend .animated;
                @extend .infinite;

                .ctrl-arrow-stroke {
                    fill: rgba(0,0,0,0.4);
                }

                .chevron-inner {
                    border-width: 3px;
                    border-color: #d29b3b;
                }
            }
        }
    }

    h1 {
        margin: 252px auto 99px;
        text-align: center;
        text-shadow: -2.828px 2.828px 54px rgba(0, 0, 0, 0.83);
        text-transform: uppercase;

        @media (max-width: 991px) {
            line-height: 1.75em;
            font-size: 35px;
        }

        @media (max-width: 759px) and (min-width: 480px) {
            margin: 214px 60px 68px;
        }

        @media (max-width: 479px) {
            font-size: 30px;
            margin-bottom: 130px;
        }
    }

    .search {
        display: inline-block;
        border: solid 2px rgb(210, 155, 59);
        background-color: rgba(0, 0, 0, 0.31);
        border-radius: 18.5px;
        margin: 0 auto 117px;
        position: relative;
        /*@include size(241px, 37px);*/
        @include size(auto, 37px);

        @media (max-width: 479px) {
            /*margin-bottom: 0;*/
        }

        .icon-search {


            svg {
            }
        }

        &--icon {

        }

        input {
            position: relative;
            z-index: 9;
        }

        &--input {

            &:focus {
                width: 306px;
            }
        }

        &--preResult {
            background-color: rgba(0, 0, 0, 0.549);
            border-radius: 18.5px;
            display: none;
            height: 169px;
            padding: 44px 18px 7px; /* 37px 18px 18px 7px */
            position: absolute;
            /*top: 0;
            left: 0;
            width: 343px;*/
            top: -2px;
            left: -2px;
            overflow: hidden;
            text-align: left;
            /*width: 346px;*/
            width: calc(100% + 4px);
            @include transition();
            z-index: 8;

            p {
                margin: 0;

                a {
                    color: inherit;
                }
            }

            .category {
                border-bottom: 1px solid #393939;
                padding: 3px 0 10px;

                &:last-child {
                    border: none;
                }
            }
        }
    }

    .advantages {
        text-align: center;
        overflow: hidden;
        padding: 0 15px;

        @media (max-width: 991px) {
            display: none;
        }

        /* [!] Выбрать каким способом стилизовать float или inline-block */
        .advantage {
            /*float: left;*/
            min-width: 140px;
            overflow: hidden;
            padding: 0 15px;
            text-align: center;
            vertical-align: top;
            /*width: 20%;*/
            /*outline: 1px solid;*/
            display: inline-block;
            /*margin: 0 -2px;*/
            width: 19%;

            @media (max-width: 1279px) {
                padding: 0;
            }

            p {
                margin: 0;
            }

            .icon {
                @extend %bg-cover;
                height: 29px;
                margin: 0 auto 22px;
                width: 42px;

                svg {
                    fill: #d09a3a;
                    position: relative;
                }
            }

            &#get_from {

                .icon {
                    /*background-image: url(../img/hero/advantages/get_from.png);*/

                    svg {
                        left: -6px;
                        top: -5px;
                        width: 56px;
                    }
                }
            }

            &#delivery {

                .icon {
                    /*background-image: url(../img/hero/advantages/delivery.png);*/

                    svg {
                        left: -12px;
                        top: -2px;
                        width: 65px;
                    }
                }
            }

            &#tested {

                .icon {
                    /*background-image: url(../img/hero/advantages/tested.png);*/

                    svg {
                        left: 1px;
                        top: -3px;
                        width: 42px;
                    }
                }
            }

            &#wide_range {

                .icon {
                    /*background-image: url(../img/hero/advantages/wide_range.png);*/

                    svg {
                        left: 0px;
                        top: -2px;
                        width: 37px;
                    }
                }
            }

            &#discounts {

                .icon {
                    /*background-image: url(../img/hero/advantages/discounts.png);*/

                    svg {
                        left: -1px;
                        top: -4px;
                        width: 45px;
                    }
                }
            }
        }
    }

    .shapely_line {
        background: transparent url(../img/hero/shapely_line.png) no-repeat center bottom;
        @include background-size(cover);
        bottom: 28px;
        @include size(100%, 16px);
        position: absolute;

        @media (max-width: 991px) {
            bottom: 0;
        }

        &:after {
            content: "";
            background-color: rgb(246, 246, 245); /* Ivory #f6f6f5 */
            @include size(100%, 28px);
            position: absolute;
            bottom: -28px;

            @media (max-width: 991px) {
                display: none;
            }
        }
    }
}
