@charset "UTF-8";

#kits {
    padding: 64px 0;
    text-align: center;

    /// Описание картинок ссылок
    &--imgLink {

        &-1 {
            background-image: url(../img/kits/1.png);
            background-position: -400px 0;

            &:hover {
                /*background-image: url(../img/kits/1-hover.png);*/
                background-position: 0 0;
            }
        }

        &-2 {
            background-image: url(../img/kits/2.png);
            background-position: 0 0;

            &:hover {
                /*background-image: url(../img/kits/2-hover.png);*/
                background-position: -400px 0;
            }
        }
    }
}

.kits {

    &--content {
        background-color: #fff;
        background: url(../img/kits/bg-left.png) 40px 45% no-repeat,
            url(../img/kits/bg-right.png) calc(100% - 40px) 45% no-repeat,
            #fff;
        /*@include size(485px, 399px);*/
        /*border-top-left-radius: 20px 150px;
        border-top-right-radius: 20px 150px;
        border-bottom-left-radius: 20px 150px;
        border-bottom-right-radius: 20px 150px;*/
        border-radius: 20px/150px;
        padding: 1px 100px;
        @include size(485px, 399px);
    }

    &--heading {
        margin-bottom: 17px;
        margin-top: 13px;
        text-transform: uppercase;
    }

    &--text {
        /*font-size: 14px !important;*/
        line-height: 19px !important;
        letter-spacing: .025em !important;
    }

    &--button {
        margin: 23px auto 0 !important;
    }

    &--imgLink {
        /*@include bg-cover;*/
        /*@include size(100%, auto);*/
        background-repeat: no-repeat;
        /*background-position: 0 0;*/
        margin-top: 14px;
        @include size(100%, 380px);
        @include transition(background-position, 0.3s, cubic-bezier(0.68, -0.55, 0.265, 1.55));

        &:hover {
            /*background-position: -400px 0;*/
        }

        img {
            /* size(720px, 355px) */
        }
    }

}
