@charset "UTF-8";

#kits {
    background-color: #fff;
    padding: 64px 0;
    text-align: center;

    @media (max-width: 991px) {
        padding-bottom: 8px;
    }

    /// Описание картинок ссылок
    &--imgLink {

        &-left {

            &-1 {
                /*calc(32.5% - 400px)*/
                background-image: url(../img/kits/box-left-1.png);
                //background-position: -400px 0;
                left: calc(32.5% - 251px);
                margin-left: 251px;

                @media (max-width: 1279px) {
                    left: calc(32.5% - 235px);
                    margin-left: 235px;
                }

                @media (max-width: 991px) {
                    display: none;
                }

                &:hover {
                    /*background-image: url(../img/kits/1-hover.png);*/
                    //background-position: 0 0;
                }
            }

            &-2 {
                /*calc(32.5% - 400px)*/
                background-image: url(../img/kits/box-left-2.png);
                //background-position: -400px 0;
                left: calc(32.5% - 400px);
                margin-left: 400px;

                @media (max-width: 1279px) {
                    left: calc(32.5% - 341px);
                    margin-left: 341px;
                }

                @media (max-width: 991px) {
                    display: none;
                }

                &:hover {
                    /*background-image: url(../img/kits/1-hover.png);*/
                    //background-position: 0 0;
                }
            }
        }

        &-right {
            &-1 {
                background-image: url(../img/kits/box-right-1.png);
                //background-position: 0 0;
                margin-right: 235px;
                right: calc(32.5% - 235px);

                @media (max-width: 991px) {
                    right: calc(50% - 80px);
                }

                &:hover {
                    /*background-image: url(../img/kits/2-hover.png);*/
                    //background-position: -400px 0;
                }
            }

            &-2 {
                background-image: url(../img/kits/box-right-2.png);
                //background-position: 0 0;
                margin-right: 365px;
                right: calc(32.5% - 365px);

                @media (max-width: 1279px) {
                    margin-right: 336px;
                    right: calc(32.5% - 336px);
                }

                @media (max-width: 991px) {
                    right: calc(50% - 180px);
                }

                &:hover {
                    /*background-image: url(../img/kits/2-hover.png);*/
                    //background-position: -400px 0;
                }
            }
        }
    }
}

.kits {

    &-decorate {
        position: absolute;
        top: 94px;
        @include size(auto, 190px); /* 175px */
        z-index: 8;
        /*z-index: -1;*/

        svg {
            @include size(100%, 100%);
        }

        &-svg-cl {
            fill: none;
            stroke: #ffe7be;
            stroke-miterlimit:10;
        }

        &.first {
            left: -90px;
            @media (max-width: 991px) {
                left: calc(50% - 150px);
                top: -144px;
                transform: rotate(90deg);
            }
        }

        &.second {
            right: -90px;
            transform: scale(-1, 1);

            @media (max-width: 991px) {
                bottom: -141px;
                left: calc(50% - 150px);
                right: auto;
                top: auto;
                transform: rotate(-90deg);
            }
        }
    }

    &--content {
        background-color: #fff;
        /*background: url(../img/kits/bg-left.png) 40px 45% no-repeat,
            url(../img/kits/bg-right.png) calc(100% - 40px) 45% no-repeat,
            #fff;*/
        /*@include size(485px, 399px);*/
        /*border-top-left-radius: 20px 150px;
        border-top-right-radius: 20px 150px;
        border-bottom-left-radius: 20px 150px;
        border-bottom-right-radius: 20px 150px;*/
        border-radius: 20px/150px;
        margin: 0 auto;
        max-width: 485px;
        padding: 1px 100px;
        position: relative;
        @include size(100%, 399px);
        z-index: 9;

        @media (max-width: 991px) {
            height: auto;
            margin-bottom: 66px;
            padding: 0 33px;
        }
    }

    &--heading {
        margin-bottom: 17px;
        margin-top: 13px;
        position: relative;
        text-transform: uppercase;
        z-index: 9;

        @media (max-width: 991px) {
            line-height: 59px !important;
        }
    }

    &--text {
        /*font-size: 14px !important;*/
        line-height: 19px !important;
        letter-spacing: .025em !important;
        position: relative;
        z-index: 9;
    }

    &--button {
        margin: 23px auto 0 !important;
        position: relative;
        z-index: 9;

        @media (max-width: 991px) {
            margin: 310px auto 0!important;
        }
    }

    &--imgLink {
        /*@include bg-cover;*/
        /*@include size(100%, auto);*/
        background-repeat: no-repeat;
        background-size: contain;
        /*background-position: 0 0;*/
        margin-top: 14px;
        /*max-width: 400px;*/
        position: absolute;
        top: 0;
        /*@include size(100%, 380px);*/
        /*@include size(400px, 380px);*/
        @include size(251px, 380px);
        /*@include transition(background-position, 0.3s, cubic-bezier(0.68, -0.55, 0.265, 1.55));*/
        @include transition(margin, 1s, cubic-bezier(0.68, -0.55, 0.265, 1.55));
        z-index: 8;

        @media (max-width: 1279px) {
            height: 290px;
            width: 192px;
            top: 30px;
        }

        @media (max-width: 991px) {
            margin-right: 0px !important;
            top: 187px;
            z-index: 10;
        }

        &:hover {
            /*background-position: -400px 0;*/
            /*@extend .animated;
            @extend .bounce;
            @extend .infinite;*/
        }

        img {
            /* size(720px, 355px) */
        }
    }

}
