@charset "UTF-8";

#newsletters {
    text-align: center;

    .letter {
        background-color: #edd6a7; /* TEMP взять из карты цветов */
        overflow: hidden;
        margin: 0 auto;
        position: relative;
        @include size(1152px, 548px); /* 468 | 52 */

        .bg-top {
            background-color: #d1b48a;
            opacity: 0.51;
            border-bottom-left-radius: 30% 650%;
            border-bottom-right-radius: 30% 650%;
            position: absolute;
            top: -30px; /* 0 */
            @include size(100%, 110px); /* 80px */

            &-inner {
                background-image: -moz-linear-gradient( -90deg, rgb(177,153,105) 0%, rgba(229,202,147,0) 100%);
                background-image: -webkit-linear-gradient( -90deg, rgb(177,153,105) 0%, rgba(229,202,147,0) 100%);
                background-image: -ms-linear-gradient( -90deg, rgb(177,153,105) 0%, rgba(229,202,147,0) 100%);
                @include size(100%, 100%);
            }
        }

        .bg-bottom {
            background-color: #fff;
            position: absolute;
            bottom: 0;
            @include size(50%, 28px);

            &.left {
                left: 0;
                transform-origin: 0 0;
                transform: rotate(2.8deg);
            }

            &.right {
                right: 0;
                transform-origin: 100% 0;
                transform: rotate(-2.8deg);
            }
        }

        &-content {
            margin-top: 182px;
            position: relative;
        }
    }
}

.newsletters {

    &--heading {
        text-transform: uppercase;
    }

    &--text {
        margin-right: auto;
        margin-left: auto;
        max-width: 450px;
    }

    &--button {
        margin-top: 24px;
    }
}
