@charset "UTF-8";

#tea_room {
    @include bg-cover;
    background-image: url(../img/tea_room/bg.png);
    background-color: #fff;
    /*height: 820px;*/
    height: 620px;
    overflow: visible;

    @media (max-width: 991px) {
        background-image: none;
        height: auto;
    }

    .shapely_line {
        @include background-size(100% 100%);
        @include size(100%, 16px);
        position: absolute;

        &.top {
            background: transparent url(../img/tea_room/shapely_line/top.png) no-repeat center top;
            top: 0;
        }

        &.bottom {
            background: transparent url(../img/tea_room/shapely_line/bottom.png) no-repeat center bottom;
            bottom: 0;
        }
    }

    .bg-mobile {
        @include bg-cover;
        background-image: url(../img/tea_room/bg-mobile.png);
        display: none;
        height: 0;
        @include transition();

        @media (max-width: 991px) {
            display: block;
            height: 340px;
            position: relative;
        }
    }

    .tea_room-content {
        position: absolute;

        @media (max-width: 991px) {
            position: static;
        }
    }
}

.tea_room {

    &-container {
        margin-right: auto;
        margin-left: auto;
        position: relative;

        @media (min-width: 1200px) {
            padding-left: 15px;
            padding-right: 15px;
            width: 1170px;
        }

        @media (min-width: 1310px) {
            padding-left: 15px;
            padding-right: 15px;
            width: 1280px;
        }

        .col {
            position: relative;

            @media (max-width: 1199px) and (min-width: 992px) {
                width: calc(50% + 48px);
            }
        }

    }

    &-content {

        @media (min-width: 992px) {
            background-color: #fae7d4; /* TEMP взять из карты цветов */
            border-radius: 600%/30%;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            padding: 60px 100px 0 168px;
            position: absolute;
            margin-top: 225px;
            top: 20px; /* TEMP */
            @include size(690px, 600px);
            z-index: 9;
        }

        @media (max-width: 1199px) and (min-width: 992px) {
            right: 0;
            padding-left: 170px;
            padding-right: 75px;
            width: 660px;
        }

        @media (max-width: 991px) {
            padding: 0 30px;
            margin: 0 auto;
            max-width: 490px;
            text-align: center;
        }

        &:after {
            background: url(../img/tea_room/bg-content-bottom.png) 0 100% repeat-x transparent;
            bottom: -28px;
            content: '';
            display: block;
            left: 0;
            position: absolute;
            @include size(100%, 28px);

            @media (max-width: 991px) {
                display: none;
            }
        }
    }

    &--heading {
        text-transform: uppercase;

        &:after {
            @include bg-cover;
            background-image: url(../img/tea_room/visual.png);
            content: '';
            float: right;
            margin-left: -32px;
            margin-top: -37px;
            @include size(98px, 117px);

            @media (max-width: 991px) {
                display: none;
            }
        }
    }

    &--subHeading {

    }

    &--text {

    }

    &--address {
        margin: 41px 0 22px;

        /*&:before {
            @include bg-cover;
            fill: #9D7A55;
            background-image: url(../img/tea_room/marker.png);
            content: '';
            float: left;
            margin-right: 11px;
            @include size(13px, 20px);
        }*/

        .icon {
            @media (max-width: 991px) {
                display: inline-block;
                vertical-align: middle;
                margin: -6px 0 -8px;
            }

            svg {
                float: left;
                margin-left: -11px;
                margin-top: -5px;
                width: 37px;
            }
        }
    }

    &--button {

    }
}
