@charset "UTF-8";

#tea_blog {
    background-color: #fff;
    /*padding-top: 142px;*/
    padding-top: 95px;

    @media (max-width: 991px) {
        display: none;
    }

    /* Карусель */
    .carousel {

        &-indicators {
            bottom: initial;
            left: auto;
            margin: 0 31px 0 0;
            right: 0;
            bottom: 145px;
            width: auto;

            li {
                background-color: #f5f5f5; /* TEMP - взять из карты цветов */
                border-radius: 50%;
                /*border: none;*/
                /*@include size(10px);*/ /* fact 9px */

                &.active {
                    background-color: #d7a96a; /* TEMP - взять из карты цветов */
                    margin: 0px 3px; /* Эффект вдавленности - нажатости */
                }
            }
        }
    }

    .tea_blog {

        &--heading {
            margin: 19px 0 54px;
            text-align: center;

            &:before, &:after {
                display: inline-block;
                content: '';
                @include bg-cover;
                background-image: url(../img/tea_blog/yin-yang_symbol.png);
                position: relative;
                top: 5px;
                @include size(28px, 27px);
            }

            &:before {
                margin-left: auto;
                margin-right: 25px;
            }

            &:after {
                margin-left: 25px;
                margin-right: auto;
            }
        }

        /* Колонка */
        &--article {
            display: inline-block;
            padding: 0 56px;
            min-height: 651px;
            /*max-width: 733px;*/
            vertical-align: middle;
            @include size(100%, auto);
            @include size(57.265625%, auto);

            @media (max-width: 1279px) {
                padding: 0 41px 0 30px;
            }

            &--heading {
                margin: 11px 0 22px;
            }

            &--date {
                margin: 0;
            }

            &--text {
                margin: 0;
            }

            &--link_more {
                /*margin: 22px 0 3px;*/ /* 14px 0 11px */
                margin: 26px 0 3px;
            }
        }

        /* Тизер */
        &-teaser {

            &-visual {
                margin-bottom: 19px;
                max-height: 358px;
                max-width: 621px;
                @include size(100%, 100%);

                img {
                    @include size(100%, auto);
                    vertical-align: middle;
                }
            }

            &-article {
                max-width: 434px; /* 400+34 */
                padding-left: 34px;
            }
        }

        /* ------------------ */

        /* Колонка */
        &--news {
            display: inline-block;
            border-left: 2px solid #a28455; /* TEMP */
            /*max-width: 437px;*/
            max-width: 463px;
            max-height: 651px;
            padding: 5px;
            vertical-align: top;
            @include size(42.734375%, auto);

            .nav {

                &-justified  {
                    height: 41px;
                    margin-bottom: 15px;
                    margin-top: 5px;

                    li {
                        width: auto; /*50%*/

                        &:first-child {
                            border-right: 1px solid #dcdcdc;
                        }

                        & > a {
                            @include transition();

                            &:active, &:focus, &:focus:active, &:hover, &:link, &:visited {
                                background: none;
                                width: 100%;
                            }

                            &:hover, &:focus, &:hover:focus {
                                color: c("tea_news--post--nav_tab-news-hover");
                            }

                            &:active, &:focus:active, &::selection { /* Внести стиль в карты ... */
                                color: #925900;
                                font-size: 22px;
                            }
                        }

                        &.active > a {

                            &:active, &:focus, &:focus:active, &:hover, &:link, &:visited {
                                color: #925900;
                                font-size: 22px;
                            }
                        }
                    }
                }
            }

            & .tea_news {

                &--post {
                    background-color: transparent;
                    border-style: solid;
                    border-width: 1px;
                    border-color: transparent;
                    padding: 9px;
                    overflow: hidden;
                    position: relative;
                    margin-top: -21px;
                    z-index: 8;
                    /*@include size(451px, auto);*/
                    /*@include size(451px, 107px);*/
                    @include transition();

                    @media (max-width: 1309px) {
                        margin-top: auto;

                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: 0;
                            background-color: #dcdcdc;
                            height: 1px;
                            max-width: 370px;
                            width: 100%;
                        }
                    }

                    &:hover {
                        background-color: #fff;
                        border-color: #e4e4e4;
                        z-index: 9;
                        /*@include size(451px, 128px);*/

                        .tea_news--post--link_more {
                            color: c("tea_news--post--link_more");
                        }

                        @media (max-width: 1309px) {
                            border-color: transparent;
                        }
                    }

                    &:first-child {
                        margin-top: 0;
                    }

                    p {
                        margin: 0;
                    }

                    &--visual {
                        display: inline-block;
                        float: left;
                        margin-right: 9px;
                        vertical-align: top;
                        @include size(78px);

                        img {
                            @include size(100%, auto);
                        }

                        @media (max-width: 1309px) {
                            margin-top: 20px;
                        }
                    }

                    &--content {
                        display: inline-block;
                        padding: 0 7px 9px 9px;
                        vertical-align: top;
                        overflow: hidden;
                        @include size(344px, 108px);

                        @media (max-width: 1309px) {
                            @include size(280px, 128px);
                        }
                    }

                    &--heading {
                        margin: 0;
                    }

                    &--link_more {
                        color: transparent;
                        margin-top: 6px;

                        @media (max-width: 1309px) {
                            color: c("tea_news--post--link_more");
                            margin-top: 9px;
                        }
                    }
                }

                &--link_more {
                    margin-top: 10px;

                    &-container {
                        /*margin-top: -18px;*/
                        text-align: center;
                    }
                }
            }

            .posts {
                height: 546px;

                @media (max-width: 1309px) {
                    height: 510px;
                    overflow-y: scroll;
                }

                @media (max-width: 1279px) {
                    height: 533px;
                }

                @media (max-width: 1199px) {
                    height: 467px;
                }
            }
        }
    }
}
