@charset "UTF-8";

#tea_blog {
    padding-top: 142px;

    /* Карусель */
    .carousel {

        &-indicators {
            bottom: initial;
            top: 383px;

            li {
                background-color: #f5f5f5; /* TEMP - взять из карты цветов */
                border-radius: 50%;
                border: none;
                margin: 1px 3px;
                @include size(10px); /* fact 9px */

                &.active {
                    background-color: #d7a96a; /* TEMP - взять из карты цветов */
                    margin: 0px 3px; /* Эффект вдавленности - нажатости */
                }
            }
        }
    }

    .tea_blog {

        /* Колонка */
        &--article {
            display: inline-block;
            border: 1px solid red; /* TEMP */
            padding: 0 56px;
            max-width: 733px;
            @include size(100%, auto);

            &--heading {
                margin: 11px 0 22px;
            }

            &--date {
                margin: 0;
            }

            &--text {
                margin: 0;
            }

            &--link_more {
                margin: 14px 0;
                text-decoration: underline;
            }
        }

        /* Тизер */
        &-teaser {

            &-visual {
                margin-bottom: 19px;
                max-height: 358px;
                max-width: 621px;
                @include size(100%, 100%);

                img {
                    @include size(100%, auto);
                    vertical-align: middle;
                }
            }

            &-article {
                max-width: 434px; /* 400+34 */
                padding-left: 34px;
            }
        }

        /* ------------------ */

        /* Колонка */
        &-news {
            display: inline-block;
            border: 1px solid blue; /* TEMP */
        }

        &--heading {
            margin: 19px 0 54px;
            text-align: center;

            &:before, &:after {
                display: inline-block;
                content: '';
                @include bg-cover;
                background-image: url(../img/tea_blog/yin-yang_symbol.png);
                position: relative;
                top: 5px;
                @include size(28px, 27px);
            }

            &:before {
                margin-left: auto;
                margin-right: 25px;
            }

            &:after {
                margin-left: 25px;
                margin-right: auto;
            }
        }

    }

}
