@charset "UTF-8";

/// Описание элемента BEM блока catalog-filter.
/// Элемент - slider-price-conteiner.
.catalog-filter__slider-price-conteiner {
    display: inline-block;
    margin: 0 5px;
    padding: 10px 0px;
    width: 290px;
}
