@charset "UTF-8";

/// Описание элемента блока хлебных крошек.
/// Элемент - item.
.breadcrumb__item {
    display: inline-block;

    &:first-child {

    }

    & + .breadcrumb__item:before {
        padding: 0 5px;
        color: #ccc;
        content: "/\00a0";
    }

    &:last-child {
        @extend .breadcrumb__item_active;
    }
}
