@charset "UTF-8";

/// Карта гарнитур, собирает все гарнитуры сайта
/// @access private
/// @type Map
/// @prop {String} key - Имя гарнитуры
/// @prop {String} value - значение font-family, соответствущее ключу

$domain-font-families: (
    "OpenSans"         : "'Open Sans', sans-serif",
    "NotoSans"         : "'Noto Sans', sans-serif",
    "NotoSerif"        : "'Open Serif', serif",
    "Karton"           : "'Karton', sans-serif",
    "Bristol"          : "'Bristol', sans-serif",
    "ProximaNovaCond"  : "'Proxima Nova Condensed', sans-serif"
);
