@charset "UTF-8";

/// Описание элемента BEM блока tabpanel.
/// Элемент - content.
.tabpanel__content {
    background-color: getColor("white");
    border-color: #eeeeee;
    border-style: solid;
    border-width: 1px;
    overflow-x: hidden;
    overflow-y: scroll;

    @media (min-width: 1200px) {
       height: 510px;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
       height: 530px;
    }
}
