@charset "UTF-8";

/// Описание элемента BEM блока tabpanel.
/// Элемент - content.
.tabpanel__content {
    background-color: getColor("white");
    border-color: #eeeeee;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 15px;
}
