@charset "UTF-8";

/// Описание BEM блока socials.
.socials {
    background-clip: content-box;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../assets/socials/bg.png);
}
