@charset "UTF-8";

.nav {

    &-catalog-opened {
        background-color: #f6f6f5;
        display: block;
        padding-top: 100px;
        /*padding-bottom: 10px;*/
        @include transition();
        z-index: 90;

        @media (max-width: 1279px) {
            margin-right: -15px;
        }

        @media (min-width: 1280px) {
            /*display: none;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;*/
        }

        ul {
            display: inline-block;
            list-style: none;
            margin-right: 55px;
            max-width: 200px;
            padding: 0;
            vertical-align: top;

            @media (max-width: 1309px) {
                margin-right: 66px;
            }

            @media (max-width: 1279px) {
                margin-right: 91px;
            }

            @media (max-width: 1259px) {
                margin-right: 86px;
            }

            @media (max-width: 1239px) {
                margin-right: 80px;
            }

            @media (max-width: 1219px) {
                margin-right: 75px;
            }

            @media (max-width: 1199px) {
                margin-right: 87px;
            }

            @media (max-width: 1179px) {
                margin-right: 82px;
            }

            @media (max-width: 1159px) {
                margin-right: 77px;
            }

            @media (max-width: 1139px) {
                margin-right: 72px;
            }

            @media (max-width: 1119px) {
                margin-right: 67px;
            }

            @media (max-width: 1099px) {
                margin-right: 62px;
            }

            @media (max-width: 1079px) {
                margin-right: 57px;
            }

            @media (max-width: 1059px) {
                margin-right: 52px;
            }

            @media (max-width: 1039px) {
                margin-right: 47px;
            }

            @media (max-width: 1019px) {
                margin-right: 42px;
            }

            @media (max-width: 999px) {
                margin-right: 38px;
            }

            /*@media (max-width: 1179px) {
                margin-right: 45px;
            }*/

            ul {
                margin: 0;
            }

            &.list-categories {
                margin-right: 0;
                max-width: 100%;

                @media (min-width: 1310px) {
                    max-width: 170px;
                }

                li {
                    @media (max-width: 1309px) {
                        display: inline-block;
                        max-width: 200px;
                    }
                }
            }
        }

        .menu-content {
            margin: 0 105px;

            @media (max-width: 1199px) {
                margin: 0px 71px;
            }

            @media (max-width: 1100px) {
                margin-right: 36px;
            }

            @media (max-width: 991px) {
                margin: 0 0 0 61px;
            }

            ul li {
                > a {
                    @extend .nav-opened--link;
                    padding: 5px 0;

                    &.list-title {
                        @extend .nav-opened--category;
                        padding-bottom: 12px;
                        position: relative;

                        &:before {
                            content: '';
                            @include bg-cover;
                            display: inline-block;
                            position: absolute;
                            left: -35px;
                            top: -1px;
                            @include size(26px, 32px);
                        }

                        &.title {
                            &-tea {
                                &:before {
                                    background-image: url(../img/nav/opened/title-icons/tea.png);
                                }
                            }
                            &-dishes {
                                /*&:before {
                                    background-image: url(../img/nav/opened/title-icons/dishes.png);
                                }*/

                                .icon {
                                    left: -39px;
                                    top: 2px;
                                }
                            }
                            &-other {
                                &:before {
                                    background-image: url(../img/nav/opened/title-icons/other.png);
                                }
                            }
                            &-gift {
                                /*&:before {
                                    background-image: url(../img/nav/opened/title-icons/gift.png);
                                    top: 10px;
                                }*/

                                .icon {
                                    left: -37px;
                                    top: 7px;
                                }
                            }
                            &-kits {
                                /*&:before {
                                    background-image: url(../img/nav/opened/title-icons/kits.png);
                                }*/

                                .icon {
                                    left: -38px;
                                    top: 1px;
                                }
                            }
                        }

                        .icon {
                            position: absolute;
                            width: 35px;

                            svg {

                            }
                        }
                    }

                    span {
                        @extend .nav-opened--link-elaboration;
                    }

                    &:hover {
                        @extend .nav-opened--link-hover;
                    }
                }

                .subList {
                    margin-left: 12px;

                    li {

                        a {
                            @extend .nav-opened--link--sublink;
                            padding: 4px 0;
                        }
                    }
                }
            }
        }

        &-list-title-icon {
            fill: #3b404f;
        }

        /*&:after {
            content: '';
            background-image: url(../img/nav/bg-opened-bottom.png);
            background-repeat: repeat-x;
            background-position: 0 100%;
            display: block;
            position: absolute;
            bottom: -11px;
            @include size(100%, 11px);
        }*/
    }

    &-main {
        background-color: transparent !important;
        background-image: url(../img/nav/bg.png);
        background-repeat: no-repeat;
        background-position: 50% 100%;
        /*background-size: 100% 119px;*/
        /*background-size: 100% 219px;*/
        background-size: 180% 219px;
        border: 0px solid transparent !important;
        border: none !important;
        /*height: 119px;*/
        height: 219px;
        margin-top: -100px;
        padding-top: 100px;
        @include transition();

        @media (max-width: 991px) {
            background-size: 300% 219px;
            margin-top: -117px;
            padding-top: 117px;
        }

        @media (max-width: 767px) {
            background-size: 500% 219px;
        }

        @media (max-width: 554px) {
            background-size: 800% 219px;
        }

        .container-collapse-menu {
            @media (max-width: 1279px) {
                width: auto;
            }
        }

        .navbar-header {
            @media (max-width: 1279px) {
                float: left;
            }

            .navbar-toggle {
                margin-left: 15px;
                position: absolute;
                z-index: 999;

                .icon-bar {
                    background-color: #d6a54f;
                }
            }

            a.phone {
                left: calc(25% - 11px);
                position: absolute;
                top: 17px; /* 19px */
                z-index: 98;

                @media (min-width: 992px) {
                    display: none;
                }

                .icon {
                    display: block;
                    @include size(42px, auto);

                    svg {
                        fill: #a0a09f;
                    }
                }

                .icon-phone {
                    fill: none;
                    stroke: #a0a09f;
                    stroke-width: 1.75;
                    stroke-miterlimit: 10;
                }
            }
        }

        .navbar-main-collapse {
            margin: 0 -15px !important;
            padding-left: 0;

            .bg-bottom {
                background-image: url(../img/nav/bg-opened-bottom.png);
                background-repeat: repeat-x;
                background-position: 0 100%;
                display: block;
                position: absolute;
                bottom: -11px;
                @include size(100%, 11px);
            }

            @at-root {
                main .navbar-main-collapse {
                    margin-left: -15px;

                    .nav-catalog-opened {
                        padding-top: 17px !important;
                    }
                }
            }
        }

        .logo {
            position: absolute;
            z-index: 9;
            left: calc(50% - 25px);
            top: 21px;
            @include size(50px, 81px);
            z-index: 99;

            @media (max-width: 991px) {
                top: 11px;
            }
        }

        .dropdown {

        }

        .navbar-main-links {
            position: relative;
            z-index: 98;

            @media (max-width: 1279px) {
                display: none;
            }

            ul.before, ul.after {
                display: inline-block;
                list-style: none;
                margin: 0;
                padding: 0;
                position: absolute;

                > li {
                    display: inline-block;

                    > a {
                        @extend .nav--link;
                        padding: 28px 14px;
                        max-width: 103px;
                        position: relative;
                        vertical-align: middle;

                        &:hover {
                            @extend .nav--link-hover;
                            text-decoration: none;
                        }
                    }

                    &:hover {
                        .icon {

                            svg {
                                fill: c("nav--link-hover");
                            }
                        }
                    }

                    .icon {
                        svg {
                            @include transition(fill);
                        }
                    }

                    &.pushed {
                        > a {
                            &:after {
                                content: '';
                                @include bg-cover;
                                background-image: url(../img/nav/underline-pusshed.png);
                                bottom: 19px;
                                display: block;
                                position: absolute;
                                right: 31px;
                                @include size(25px, 5px);
                            }
                        }
                    }
                }
            }

            ul.before {
                margin-right: 51px;
                right: 50%;

                li.catalog {
                    padding-left: 20px;
                    position: relative;

                    &.pushed {
                        .icon {
                            .caret {
                                border-bottom: none;
                                border-top: 4px dashed;
                                border-top: 4px solid\9;
                                margin-top: -6px;
                            }
                        }
                    }

                    &:hover {
                        .icon {
                            background-color: c("nav--link-hover");
                        }
                    }

                    .icon {
                        background-color: #000;
                        border-radius: 50%;
                        color: #fff;
                        left: 8px;
                        position: absolute;
                        top: 38px;
                        @include size(12px);
                        @include transition(background-color);

                        .caret {
                            /*border-top: 4px dashed;
                            border-top: 4px solid\9;
                            border-right: 4px solid transparent;
                            border-left: 4px solid transparent;*/

                            border-top: none;
                            border-bottom: 4px dashed;
                            border-bottom: 4px solid\9;
                            margin-top: -8px;
                            @include transition();
                        }
                    }

                    a.catalog-toggle {
                        /*&:before {
                            content: '';
                            @include bg-cover;
                            background-image: url(../img/nav/caret.png);
                            display: inline-block;
                            position: absolute;
                            border-radius: 50%;
                            left: -21px;
                            top: 38px;
                            @include size(13px);
                        }*/
                    }
                }

                li.care {
                    padding-left: 20px;
                    position: relative;

                    .icon {
                        /*left: -11px;*/
                        left: 8px;
                        position: absolute;
                        top: 36px;

                        svg {
                            /*@include size(17px);*/
                            @include size(18px, 16px);
                        }
                    }

                    a {

                    }
                }
            }

            ul.after {
                left: 50%;
                margin-left: 58px;
                margin-top: 6px;
            }
        }

        .navbar-right-container {
            margin: 23px 0;
            left: calc(50% + 90px);
            padding: 0;
            position: absolute;
            right: 15px;
            z-index: 98;

            @media (max-width: 991px) {
                margin: 17px 0;
            }

            ul.navbar-right {
                list-style: none;
                margin: 0;
                padding: 0;

                li {

                    a {
                        text-align: center;
                        width: 100%;
                    }

                    &.basket {
                        text-align: center;

                        a {
                            @extend .nav--link;
                            font-size: 14px;

                            .icon {
                                @include bg-cover;
                                /*background-image: url(../img/nav/basket.png);*/
                                display: inline-block;
                                @include size(25px, 20px);
                                position: relative;

                                &:before {
                                    @extend .nav--username;
                                    font-size: 13px;
                                    color: #fff !important;
                                    content: '2';
                                    background-color: #b62927;
                                    border-radius: 50%;
                                    display: inline-block;
                                    left: -8px;
                                    margin: 0 !important;
                                    position: relative;
                                    text-align: center;
                                    top: -4px;
                                    @include size(17px);
                                    z-index: 9;
                                }

                                svg {
                                    fill: #d09a3a;
                                    float: left;
                                    left: -3px;
                                    position: absolute;
                                    top: -4px;
                                    width: 29px;
                                    z-index: 8;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &-secondary {

    }

    &--username {
        margin-top: 10px;
    }
}
