@charset "UTF-8";

.nav {

    &-catalog-opened {
        display: block;
        /*padding-bottom: 10px;*/

        @media (max-width: 1279px) {
            margin-right: -15px;
        }

        @media (min-width: 1280px) {
            /*display: none;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;*/
        }

        &-list-title-icon {

        }

        /*&:after {
            content: '';
            background-image: url(../img/nav/bg-opened-bottom.png);
            background-repeat: repeat-x;
            background-position: 0 100%;
            display: block;
            position: absolute;
            bottom: -11px;
            @include size(100%, 11px);
        }*/
    }

    &-main {

        .container-collapse-menu {
            @media (max-width: 1279px) {
                width: auto;
            }
        }

        .navbar-header {
            @media (max-width: 1279px) and (min-width: 992px) {
                margin-bottom: 10px;
            }

            @media (max-width: 991px) {
                margin-bottom: 30px;
            }

            .navbar-toggle {
                border-color: #ddd;
                margin-left: 15px;
                @include transition();
                z-index: 999;

                &:hover {
                    background-color: #d6a54f;

                    .icon-bar {
                        background-color: #fff;
                        @include transition();
                    }
                }

                .icon-bar {
                    background-color: #d6a54f;
                }

                &_catalog {

                    @media (max-width: 767px) {
                        display: none;
                    }
                }
            }

            a.phone {
                left: calc(25% - 11px);
                position: absolute;
                top: 17px; /* 19px */
                z-index: 98;

                @media (min-width: 992px) {
                    display: none;
                }

                .icon {
                    display: block;
                    @include size(42px, auto);

                    svg {
                        fill: #a0a09f;
                    }
                }

                .svg-icon_header_phone__circle_1 {
                    fill: none;
                    stroke: #a0a09f;
                    stroke-width: 1.75;
                    stroke-miterlimit: 10;
                }
            }
        }

        .navbar-main-collapse {
            margin: 0 -15px !important;
            padding-left: 0;

            .bg-bottom {
                background-image: url(../img/nav/bg-opened-bottom.png);
                background-repeat: repeat-x;
                background-position: 0 100%;
                display: block;
                position: absolute;
                bottom: -11px;
                @include size(100%, 11px);
            }

            @at-root {
                main .navbar-main-collapse {
                    margin-left: -15px;

                    .nav-catalog-opened {
                        padding-top: 17px !important;
                    }
                }
            }
        }

        .logo {
            position: absolute;
            z-index: 9;
            left: calc(50% - 25px);
            top: 21px;
            @include size(50px, 81px);
            z-index: 99;

            @media (max-width: 991px) {
                top: 11px;
            }
        }

        .navbar-main-links {
            background-color: #f6f6f5;
            position: relative;
            z-index: 98;

            @media (max-width: 1279px) {
                z-index: 99;
            }

            @media (max-width: 767px) {
                padding: 25px 15px 30px;
            }

            /*@media (max-width: 1279px) {
                display: none;
            }*/

            ul.before, ul.after {
                display: inline-block;
                list-style: none;
                margin: 0;
                padding: 0;
                position: absolute;
                text-align: left;

                @media (max-width: 1279px) {
                    position: static;
                }

                @media (max-width: 767px) {
                    display: block;
                    margin: 0 !important;
                }

                li {

                    @media (max-width: 767px) {
                        display: block !important;
                        padding-left: 15px;
                    }

                    /* 2n+1 */
                    &:nth-child(odd) {
                        @media (max-width: 767px) {
                            background-color: #efefef;
                        }
                    }

                    a {
                        @media (max-width: 767px) {
                            display: block;
                            font-style: normal !important;
                            font-size: 12px;
                            min-width: 100%;
                            padding: 8px 15px !important;
                            text-transform: uppercase;
                        }
                    }
                }

                > li {
                    display: inline-block;

                    > a {
                        @extend .nav--link;
                        padding: 28px 14px;
                        max-width: 103px;
                        position: relative;
                        vertical-align: middle;
                    }

                    &:hover {
                        .icon {
                            svg {
                                fill: c("nav--link-hover");
                            }
                        }

                        > a {
                            @extend .nav--link-hover;
                            text-decoration: none;
                        }
                    }

                    .icon {
                        svg {
                            @include transition(fill);
                        }
                    }

                    &.pushed {
                        > a {
                            &:after {
                                content: '';
                                @include bg-cover;
                                background-image: url(../img/nav/underline-pusshed.png);
                                bottom: 19px;
                                display: block;
                                position: absolute;
                                right: 31px;
                                @include size(25px, 5px);
                            }
                        }
                    }
                }
            }

            ul.before {
                margin-right: 51px;
                right: 50%;

                li.catalog {
                    padding-left: 20px;
                    position: relative;

                    @media (max-width: 767px) {
                        padding-left: 15px;
                    }

                    &.pushed {
                        .icon {
                            .caret {
                                border-top: none;
                                border-bottom: 4px dashed;
                                border-bottom: 4px solid\9;
                                margin-top: -8px;
                            }
                        }
                    }

                    &:hover {
                        .icon {
                            background-color: c("nav--link-hover");
                        }
                    }

                    .icon {
                        background-color: #000;
                        border-radius: 50%;
                        color: #fff;
                        left: 8px;
                        position: absolute;
                        top: 38px;
                        @include size(12px);
                        @include transition(background-color);

                        @media (max-width: 767px) {
                            display: none !important;
                        }

                        .caret {
                            /*border-top: 4px dashed;
                            border-top: 4px solid\9;
                            border-right: 4px solid transparent;
                            border-left: 4px solid transparent;*/

                            border-bottom: none;
                            border-top: 4px dashed;
                            border-top: 4px solid\9;
                            margin-top: -6px;
                            @include transition();
                        }
                    }

                    a.catalog-toggle {
                        /*&:before {
                            content: '';
                            @include bg-cover;
                            background-image: url(../img/nav/caret.png);
                            display: inline-block;
                            position: absolute;
                            border-radius: 50%;
                            left: -21px;
                            top: 38px;
                            @include size(13px);
                        }*/
                    }
                }

                li.care {
                    padding-left: 20px;
                    position: relative;

                    @media (max-width: 767px) {
                        padding-left: 15px;
                    }

                    .icon {
                        /*left: -11px;*/
                        left: 8px;
                        position: absolute;
                        top: 36px;

                        @media (max-width: 767px) {
                            top: 9px;
                        }

                        svg {
                            /*@include size(17px);*/
                            @include size(18px, 16px);
                        }
                    }

                    a {

                    }
                }
            }

            ul.after {
                left: 50%;
                margin-left: 58px;
                margin-top: 6px;

                @media (max-width: 991px) and (min-width: 768px) {
                    margin-left: 0;
                }

            }
        }

        .navbar-right-container {
            margin: 23px 0;
            left: calc(50% + 90px);
            padding: 0;
            position: absolute;
            right: 15px;
            top: 0;
            z-index: 98;

            @media (max-width: 991px) {
                margin: 17px 0;
            }

            ul.navbar-right {
                list-style: none;
                margin: 0;
                padding: 0;

                li {

                    a {
                        text-align: center;
                        width: 100%;

                        &.nav--username {

                            @media (max-width: 479px) {
                                display: none;
                            }
                        }
                    }

                    &.basket {
                        text-align: center;

                        a {
                            @extend .nav--link;
                            font-size: 14px;

                            .icon {
                                @include bg-cover;
                                /*background-image: url(../img/nav/basket.png);*/
                                display: inline-block;
                                @include size(25px, 20px);
                                position: relative;

                                &:before {
                                    @extend .nav--username;
                                    font-size: 13px;
                                    color: #fff !important;
                                    content: '2';
                                    background-color: #b62927;
                                    border-radius: 50%;
                                    display: inline-block;
                                    left: -8px;
                                    margin: 0 !important;
                                    position: relative;
                                    text-align: center;
                                    top: -4px;
                                    @include size(17px);
                                    z-index: 9;
                                }

                                svg {
                                    fill: #d09a3a;
                                    float: left;
                                    left: -3px;
                                    position: absolute;
                                    top: -4px;
                                    width: 29px;
                                    z-index: 8;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &--username {
        margin-top: 10px;
    }
    /*
        .svg-icon_menu-catalog-link-icon__path,
        .svg-icon_menu-catalog-link-icon_dishes__path,
        .svg-icon_menu-catalog-link-icon_gift_path,
        .svg-icon_menu-catalog-link-icon_kits__path,
        .svg-icon_link-icon__path {
            fill: #3b404f;
        }*/
}
