@charset "UTF-8";

/// Описание модификатора элемента блока карточки продукта.
/// Модификатор - hover.
.product-card__inner_hover {
    border-color: getColor("GoldenBrown") !important;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.17);
    position: relative;
    z-index: 9;

    @media (min-width: 1310px) {
        margin: -8px;
    }
}
