<!-- Описание страницы -->
<!--
.page__description-container(#page__description.page__description.collapse(p(lorem40))+a.link[href="#page__description" data-toggle="collapse" aria-expanded="false" aria-controls="page__description"]{Читать полностью})
-->
<div class="page__description-container text-collapsing">
    <div id="page__description" class="page__description text-collapsing__text collapse" aria-expanded="false" style="height: 0;">
        <p>Зеленый чай с высоким содержанием светлых почек, ароматизированный цветками жасмина. Жасмин поднимает настроение и придает позитивный импульс в любых начинаниях. Такой чай особенно любим прекрасной половиной человечества.</p>
        <p>Зеленый чай с высоким содержанием светлых почек, ароматизированный цветками жасмина. Жасмин поднимает настроение и придает позитивный импульс в любых начинаниях. Такой чай особенно любим прекрасной половиной человечества.</p>
        <p>Зеленый чай с высоким содержанием светлых почек, ароматизированный цветками жасмина. Жасмин поднимает настроение и придает позитивный импульс в любых начинаниях. Такой чай особенно любим прекрасной половиной человечества.</p>
    </div>

    <a href="#" class="link text-collapsing__link-toggle text-collapsing__link-toggle_theme_tea-mail page__description-link-toggle" data-toggle="collapse" data-target="#page__description">Читать полностью</a>
</div>
