@charset "UTF-8";

/// Описание элемента BEM блока cart.
/// Элеммент - discount-line.
.cart__discount-line {
    border: 1px solid #ededed;
    margin: 25px 4px 4px;

    @media (min-width: 1420px) {
        /*max-width: 900px;*/
        margin-left: auto;
        margin-right: auto;
    }

    @media (min-width: 992px) {
        margin-left: auto;
        margin-right: auto;
    }

    /* Переделать по BEM! */
    .discount-line__line {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 50px;
        max-width: 100%;
        width: auto;
    }
    .discount-line__description {

        p {
            margin-top: 0;
        }
    }
}
