@charset "UTF-8";

/// Описание элемента BEM блока cart.
/// Элеммент - discount-line.
.cart__discount-line {
    border: 1px solid #ededed;
    margin: 4px;

    @media (min-width: 1420px) {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Переделать по BEM! */
    .discount-line__line {
        margin-right: 20px;
        margin-left: 20px;
        max-width: 100%;
        width: auto;
    }
}
