@charset "UTF-8";

/// Описание элемента BEM блока container (grid).
/// Элемент - catalog.
.container__catalog {
    padding: 10px;

    @media (max-width: 479px) {
        padding-left: 0;
        padding-right: 0;
    }
}
