@charset "UTF-8";

/// Описание BEM блока catalog-filter.
.catalog-filter {
    border-color: #dfdfdf;
    border-style: solid;
    border-width: 1px 0 1px 0;
    margin: 30px 0;
    padding: 38px 0 22px;
}
