@charset "UTF-8";

/// Описание модификатора элемента BEM блока меню каталога.
/// Модификатор - category.
/// Значение - tea-2.
.menu-catalog__item_category_tea-2 {

    @media (max-width: 991px) and (min-width: 480px) {
        margin-top: 37px;
    }
}
