@charset "UTF-8";

/// Описание BEM блока полосы-заголовка.
/// Элемент - heading.
.header-strip__heading {
    background-color: #f5f5f5;
    border-radius: 20px;
    padding-bottom: 9px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 9px;
    @include size(auto, 37px);
}
