@charset "UTF-8";

/// Описание модификатора элемента блока карточки продукта.
/// Модификатор - view.
/// Значение - block.
.product-card__description_view_block {
    /*display: inline-block;*/
    margin-left: 260px;
    text-align: left;
    vertical-align: top;
}
