@charset "UTF-8";

/// Описание модификатора элемента блока карточки продукта.
/// Модификатор - view.
/// Значение - block.
.product-card__form-container_view_block {
    display: inline-block;
    padding-top: 50px;
    width: 49%;

    @media (min-width: 992px) and (max-width: 1199px) {
        width: 280px;
    }
}
