@charset "UTF-8";

/// Описание элемента BEM блока reviews.
/// Элемент - form-container (контейнер формы).
.reviews__form-container {

    @media (min-width: 768px) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @media (max-width: 767px) and (min-width: 480px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}
