@charset "UTF-8";

/// Описание BEM блока треугольничка линка колапса.
.collapse-link-triangle {
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;

    &:after {
        background-color: #fff;
        border-color: #eeeeee;
        border-style: solid;
        border-width: 0;
        content: '';
        left: calc(50% - 8px);
        position: absolute;
        transform-origin: 50% 50%;
        transform: rotate(45deg);
        @include size(16px);
        @include transition();
    }
}
