@charset "UTF-8";

/// Описание модификатора элемента BEM блока меню каталога.
/// Модификатор inline.
.menu-catalog__item_inline {
    display: inline-block;
    margin-right: 55px;
    max-width: 200px;
    padding: 0;
    vertical-align: top;

    @media (max-width: 1309px) {
        margin-right: 66px;
    }

    @media (max-width: 1279px) {
        margin-right: 73px;
    }

    @media (max-width: 1199px) {
        margin-right: 39px;
    }
}
