@charset "UTF-8";

/// Описание элемента блока similar-product.
/// Элемент контейнер product-card-cost.
.similar-product__product-card-cost {

    @media (max-width: 991px) {
        font-size: 23px;
        margin-bottom: 10px;
        margin-top: 13px;
    }
}
