@charset "UTF-8";

/* Karton */
/*@font-face {
    font-family: 'Karton';
    src: local('Karton'), local('Karton Regular'),
        url('../fonts/Karton-Regular/Karton-Regular.eot');
    src: local('Karton'), local('Karton Regular'),
        url('../fonts/Karton-Regular/Karton-Regular.woff2') format('woff2'),
        url('../fonts/Karton-Regular/Karton-Regular.woff') format('woff'),
        url('../fonts/Karton-Regular/Karton-Regular.ttf') format('truetype'),
        url('../fonts/Karton-Regular/Karton-Regular.svg#Karton-Regular') format('svg'),
        url('../fonts/Karton-Regular/Karton-Regular.eot?#iefix') format('embedded-opentype');
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}*/
