@charset "UTF-8";

/// Описание элемента блока хлебных крошек типа стрелки.
/// Элемент - link.
.breadcrumb-arrow__link {
    border-style: solid;
    border-width: 1px;
    color: #fff;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 10px 0 25px;
    position: relative;
    text-decoration: none !important;
    @include transition();
    vertical-align: top;

    &:before,
    &:after {
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        border-left-style: solid;
        border-left-width: 11px;
        content: '';
        height: 0;
        position: absolute;
        top: -1px;
        @include transition();
        width: 0;
    }

    &:before {
        right: -10px;
        z-index: 3;
    }

    &:after {
        right: -11px;
        z-index: 2;
    }
}
