@charset "UTF-8";

/// Описание элемента BEM блока карточки продукта.
/// Элемент - кнопка
.product-card__btn {
    border-radius: 4px;
    background-color: #b62927; /* TEMP - взять из карты цветов */
    margin: 10px 0 0;
    @include size(71px, 29px); /* size(77px, 31px) Поправка на зум */

    @media (max-width: 1309px) {
        line-height: 38px !important;
        @include size(90px, 40px);
    }

    &:hover {
        background-color: #d63f3c;
        /*padding-top: 1px;*/
        @include size(73px, 30px); /* size(80px, 32px) Поправка на зум */

        @media (max-width: 1309px) {
            @include size(90px, 40px);
        }
    }
}
