<section id="about_project" class="section section_about-project">
    <div class="container">

        <div class="about_project-container">

            <div>
                <h2 class="about_project--heading">О чайной почте</h2>
            </div>

            <div>
                <h3 class="about_project--subHeading">Чай, посуда и люди.</h3>
            </div>

            <div>
                <p class="about_project--text">
                    Первые шаги по открытию Чайной Почты были
                    сделаны в моем путешествии авто-стопом из Минска
                    в малазийский Куала-Лумпур через Китай. Тогда я
                    впервые побывал на чайной церемонии в провинции
                    Хуй Цсяй…
                </p>
            </div>

            <div>
                <a href="#" class="btn btn_gradient section__btn_about-project about_project--button">Узнать больше</a>
            </div>

        </div>

    </div>
</section>
