<section id="care">
    <div class="container">

        <div class="care-container">
            <div>
                <h2 class="care--heading">
                    Мы хотим чтобы вам понравился наш сервис!
                </h2>
            </div>

            <div class="row">
                <div class="advantages care--advantages">
                    <div class="advantage" id="care--advantages--gift">
                        <div class="icon"></div>
                        <p>
                            Подарок в
                            каждой упаковке
                        </p>
                    </div>
                    <div class="advantage" id="care--advantages--sale">
                        <div class="icon"></div>
                        <p>
                            Скидки постоянным
                            клиентам до 15%
                        </p>
                    </div>
                    <div class="advantage" id="care--advantages--delivery">
                        <div class="icon"></div>
                        <p>
                            Бесплатная доставка от 40руб
                            по все Беларуси
                        </p>
                    </div>
                </div>
            </div>

            <div>
                <a href="#" class="btn btn-gradient care--button">Узнать больше</a>
            </div>
        </div>

    </div>
</section>
