<section id="catalog">

    <div class="container">

        <div class="catalog-container">

            <!--
            .catalog-col.catalog--category#catalog--category-x*3(h3.catalog--category--title{Новые товары}+.catalog--product(.catalog--product_card(.catalog--product_card--visual(img[src="assets/img/catalog/new_products/$.png" alt="TheNameOfProduct" height="132" width="184"])+hgroup(h4.catalog--product_card--title{Тай Пин Хоу Куй}+h5.catalog--product_card--subTitle{Весна 2016г})+.catalog--product_card--price_block(.catalog--product_card--price(p{54 р})+.catalog--product_card--oldPrice(p{56 р}))+.input-group.input-group-inline(input[type="text"].product_card-inputData.catalog--product_card--inputData-weight+input[type="text"].product_card-inputData.catalog--product_card--inputData-count)+a[href="#"].btn.btn-product.catalog--product_card--button{В корзину})*8)+.catalog--category--decor-bottom)
            -->

            <!--
            #catalog--category-popular_goods
            #catalog--category-new_goods
            #catalog--category-choice_teaPost
            -->

            <div class="catalog-col catalog--category" id="catalog--category-popular_goods">
                <h3 class="catalog--category--title">Популярные товары</h3>
                <div class="catalog--product">
                    <div class="catalog--product_card">
                        <div class="catalog--product_card--visual"><img src="assets/img/catalog/new_products/1.png" alt="TheNameOfProduct" height="132" width="184"></div>
                        <hgroup>
                            <h4 class="catalog--product_card--title">Тай Пин Хоу Куй</h4>
                            <h5 class="catalog--product_card--subTitle">Весна 2016г</h5>
                        </hgroup>
                        <div class="catalog--product_card--price_block">
                            <div class="catalog--product_card--price">
                                <p>54 р</p>
                            </div>
                            <div class="catalog--product_card--oldPrice">
                                <p>56 р</p>
                            </div>
                        </div>
                        <div class="input-group input-group-inline"><input type="text" class="product_card-inputData catalog--product_card--inputData-weight"><input type="text" class="product_card-inputData catalog--product_card--inputData-count"></div>
                        <a href="#" class="btn btn-product catalog--product_card--button">В корзину</a>
                    </div>
                    <div class="catalog--product_card">
                        <div class="catalog--product_card--visual"><img src="assets/img/catalog/new_products/2.png" alt="TheNameOfProduct" height="132" width="184"></div>
                        <hgroup>
                            <h4 class="catalog--product_card--title">Тай Пин Хоу Куй</h4>
                            <h5 class="catalog--product_card--subTitle">Весна 2016г</h5>
                        </hgroup>
                        <div class="catalog--product_card--price_block">
                            <div class="catalog--product_card--price">
                                <p>54 р</p>
                            </div>
                            <div class="catalog--product_card--oldPrice">
                                <p></p>
                            </div>
                        </div>
                        <div class="input-group input-group-inline"><input type="text" class="product_card-inputData catalog--product_card--inputData-weight"><input type="text" class="product_card-inputData catalog--product_card--inputData-count"></div>
                        <a href="#" class="btn btn-product catalog--product_card--button">В корзину</a>
                    </div>
                    <div class="catalog--product_card">
                        <div class="catalog--product_card--visual"><img src="assets/img/catalog/new_products/3.png" alt="TheNameOfProduct" height="132" width="184"></div>
                        <hgroup>
                            <h4 class="catalog--product_card--title">Тай Пин Хоу Куй</h4>
                            <h5 class="catalog--product_card--subTitle">Весна 2016г</h5>
                        </hgroup>
                        <div class="catalog--product_card--price_block">
                            <div class="catalog--product_card--price">
                                <p>54 р</p>
                            </div>
                            <div class="catalog--product_card--oldPrice">
                                <p>55 р</p>
                            </div>
                        </div>
                        <div class="input-group input-group-inline"><input type="text" class="product_card-inputData catalog--product_card--inputData-weight"><input type="text" class="product_card-inputData catalog--product_card--inputData-count"></div>
                        <a href="#" class="btn btn-product catalog--product_card--button">В корзину</a>
                    </div>
                    <div class="catalog--product_card">
                        <div class="catalog--product_card--visual"><img src="assets/img/catalog/new_products/4.png" alt="TheNameOfProduct" height="132" width="184"></div>
                        <hgroup>
                            <h4 class="catalog--product_card--title">Тай Пин Хоу Куй</h4>
                            <h5 class="catalog--product_card--subTitle">Весна 2016г</h5>
                        </hgroup>
                        <div class="catalog--product_card--price_block">
                            <div class="catalog--product_card--price">
                                <p>54 р</p>
                            </div>
                            <div class="catalog--product_card--oldPrice">
                                <p></p>
                            </div>
                        </div>
                        <div class="input-group input-group-inline"><input type="text" class="product_card-inputData catalog--product_card--inputData-weight"><input type="text" class="product_card-inputData catalog--product_card--inputData-count"></div>
                        <a href="#" class="btn btn-product catalog--product_card--button">В корзину</a>
                    </div>
                    <div class="catalog--product_card">
                        <div class="catalog--product_card--visual"><img src="assets/img/catalog/new_products/5.png" alt="TheNameOfProduct" height="132" width="184"></div>
                        <hgroup>
                            <h4 class="catalog--product_card--title">Тай Пин Хоу Куй</h4>
                            <h5 class="catalog--product_card--subTitle">Весна 2016г</h5>
                        </hgroup>
                        <div class="catalog--product_card--price_block">
                            <div class="catalog--product_card--price">
                                <p>54 р</p>
                            </div>
                            <div class="catalog--product_card--oldPrice">
                                <p></p>
                            </div>
                        </div>
                        <div class="input-group input-group-inline"><input type="text" class="product_card-inputData catalog--product_card--inputData-weight"><input type="text" class="product_card-inputData catalog--product_card--inputData-count"></div>
                        <a href="#" class="btn btn-product catalog--product_card--button">В корзину</a>
                    </div>
                    <div class="catalog--product_card">
                        <div class="catalog--product_card--visual"><img src="assets/img/catalog/new_products/6.png" alt="TheNameOfProduct" height="132" width="184"></div>
                        <hgroup>
                            <h4 class="catalog--product_card--title">Тай Пин Хоу Куй</h4>
                            <h5 class="catalog--product_card--subTitle">Весна 2016г</h5>
                        </hgroup>
                        <div class="catalog--product_card--price_block">
                            <div class="catalog--product_card--price">
                                <p>54 р</p>
                            </div>
                            <div class="catalog--product_card--oldPrice">
                                <p>56 р</p>
                            </div>
                        </div>
                        <div class="input-group input-group-inline"><input type="text" class="product_card-inputData catalog--product_card--inputData-weight"><input type="text" class="product_card-inputData catalog--product_card--inputData-count"></div>
                        <a href="#" class="btn btn-product catalog--product_card--button">В корзину</a>
                    </div>
                    <div class="catalog--product_card">
                        <div class="catalog--product_card--visual"><img src="assets/img/catalog/new_products/7.png" alt="TheNameOfProduct" height="132" width="184"></div>
                        <hgroup>
                            <h4 class="catalog--product_card--title">Тай Пин Хоу Куй</h4>
                            <h5 class="catalog--product_card--subTitle">Весна 2016г</h5>
                        </hgroup>
                        <div class="catalog--product_card--price_block">
                            <div class="catalog--product_card--price">
                                <p>54 р</p>
                            </div>
                            <div class="catalog--product_card--oldPrice">
                                <p>56 р</p>
                            </div>
                        </div>
                        <div class="input-group input-group-inline"><input type="text" class="product_card-inputData catalog--product_card--inputData-weight"><input type="text" class="product_card-inputData catalog--product_card--inputData-count"></div>
                        <a href="#" class="btn btn-product catalog--product_card--button">В корзину</a>
                    </div>
                    <div class="catalog--product_card">
                        <div class="catalog--product_card--visual"><img src="assets/img/catalog/new_products/8.png" alt="TheNameOfProduct" height="132" width="184"></div>
                        <hgroup>
                            <h4 class="catalog--product_card--title">Тай Пин Хоу Куй</h4>
                            <h5 class="catalog--product_card--subTitle">Весна 2016г</h5>
                        </hgroup>
                        <div class="catalog--product_card--price_block">
                            <div class="catalog--product_card--price">
                                <p>54 р</p>
                            </div>
                            <div class="catalog--product_card--oldPrice">
                                <p>56 р</p>
                            </div>
                        </div>
                        <div class="input-group input-group-inline"><input type="text" class="product_card-inputData catalog--product_card--inputData-weight"><input type="text" class="product_card-inputData catalog--product_card--inputData-count"></div>
                        <a href="#" class="btn btn-product catalog--product_card--button">В корзину</a>
                    </div>
                </div>
                <div class="catalog--category--decor-bottom"></div>
            </div>
            <div class="catalog-col catalog--category" id="catalog--category-new_goods">
                <h3 class="catalog--category--title">Новые товары</h3>
                <div class="catalog--product">
                    <div class="catalog--product_card">
                        <div class="catalog--product_card--visual"><img src="assets/img/catalog/new_products/1.png" alt="TheNameOfProduct" height="132" width="184"></div>
                        <hgroup>
                            <h4 class="catalog--product_card--title">Тай Пин Хоу Куй</h4>
                            <h5 class="catalog--product_card--subTitle">Весна 2016г</h5>
                        </hgroup>
                        <div class="catalog--product_card--price_block">
                            <div class="catalog--product_card--price">
                                <p>54 р</p>
                            </div>
                            <div class="catalog--product_card--oldPrice">
                                <p>56 р</p>
                            </div>
                        </div>
                        <div class="input-group input-group-inline"><input type="text" class="product_card-inputData catalog--product_card--inputData-weight"><input type="text" class="product_card-inputData catalog--product_card--inputData-count"></div>
                        <a href="#" class="btn btn-product catalog--product_card--button">В корзину</a>
                    </div>
                    <div class="catalog--product_card">
                        <div class="catalog--product_card--visual"><img src="assets/img/catalog/new_products/2.png" alt="TheNameOfProduct" height="132" width="184"></div>
                        <hgroup>
                            <h4 class="catalog--product_card--title">Тай Пин Хоу Куй</h4>
                            <h5 class="catalog--product_card--subTitle">Весна 2016г</h5>
                        </hgroup>
                        <div class="catalog--product_card--price_block">
                            <div class="catalog--product_card--price">
                                <p>54 р</p>
                            </div>
                            <div class="catalog--product_card--oldPrice">
                                <p>56 р</p>
                            </div>
                        </div>
                        <div class="input-group input-group-inline"><input type="text" class="product_card-inputData catalog--product_card--inputData-weight"><input type="text" class="product_card-inputData catalog--product_card--inputData-count"></div>
                        <a href="#" class="btn btn-product catalog--product_card--button">В корзину</a>
                    </div>
                    <div class="catalog--product_card">
                        <div class="catalog--product_card--visual"><img src="assets/img/catalog/new_products/3.png" alt="TheNameOfProduct" height="132" width="184"></div>
                        <hgroup>
                            <h4 class="catalog--product_card--title">Тай Пин Хоу Куй</h4>
                            <h5 class="catalog--product_card--subTitle">Весна 2016г</h5>
                        </hgroup>
                        <div class="catalog--product_card--price_block">
                            <div class="catalog--product_card--price">
                                <p>54 р</p>
                            </div>
                            <div class="catalog--product_card--oldPrice">
                                <p>56 р</p>
                            </div>
                        </div>
                        <div class="input-group input-group-inline"><input type="text" class="product_card-inputData catalog--product_card--inputData-weight"><input type="text" class="product_card-inputData catalog--product_card--inputData-count"></div>
                        <a href="#" class="btn btn-product catalog--product_card--button">В корзину</a>
                    </div>
                    <div class="catalog--product_card">
                        <div class="catalog--product_card--visual"><img src="assets/img/catalog/new_products/4.png" alt="TheNameOfProduct" height="132" width="184"></div>
                        <hgroup>
                            <h4 class="catalog--product_card--title">Тай Пин Хоу Куй</h4>
                            <h5 class="catalog--product_card--subTitle">Весна 2016г</h5>
                        </hgroup>
                        <div class="catalog--product_card--price_block">
                            <div class="catalog--product_card--price">
                                <p>54 р</p>
                            </div>
                            <div class="catalog--product_card--oldPrice">
                                <p>56 р</p>
                            </div>
                        </div>
                        <div class="input-group input-group-inline"><input type="text" class="product_card-inputData catalog--product_card--inputData-weight"><input type="text" class="product_card-inputData catalog--product_card--inputData-count"></div>
                        <a href="#" class="btn btn-product catalog--product_card--button">В корзину</a>
                    </div>
                    <div class="catalog--product_card">
                        <div class="catalog--product_card--visual"><img src="assets/img/catalog/new_products/5.png" alt="TheNameOfProduct" height="132" width="184"></div>
                        <hgroup>
                            <h4 class="catalog--product_card--title">Тай Пин Хоу Куй</h4>
                            <h5 class="catalog--product_card--subTitle">Весна 2016г</h5>
                        </hgroup>
                        <div class="catalog--product_card--price_block">
                            <div class="catalog--product_card--price">
                                <p>54 р</p>
                            </div>
                            <div class="catalog--product_card--oldPrice">
                                <p>56 р</p>
                            </div>
                        </div>
                        <div class="input-group input-group-inline"><input type="text" class="product_card-inputData catalog--product_card--inputData-weight"><input type="text" class="product_card-inputData catalog--product_card--inputData-count"></div>
                        <a href="#" class="btn btn-product catalog--product_card--button">В корзину</a>
                    </div>
                    <div class="catalog--product_card">
                        <div class="catalog--product_card--visual"><img src="assets/img/catalog/new_products/6.png" alt="TheNameOfProduct" height="132" width="184"></div>
                        <hgroup>
                            <h4 class="catalog--product_card--title">Тай Пин Хоу Куй</h4>
                            <h5 class="catalog--product_card--subTitle">Весна 2016г</h5>
                        </hgroup>
                        <div class="catalog--product_card--price_block">
                            <div class="catalog--product_card--price">
                                <p>54 р</p>
                            </div>
                            <div class="catalog--product_card--oldPrice">
                                <p>56 р</p>
                            </div>
                        </div>
                        <div class="input-group input-group-inline"><input type="text" class="product_card-inputData catalog--product_card--inputData-weight"><input type="text" class="product_card-inputData catalog--product_card--inputData-count"></div>
                        <a href="#" class="btn btn-product catalog--product_card--button">В корзину</a>
                    </div>
                    <div class="catalog--product_card">
                        <div class="catalog--product_card--visual"><img src="assets/img/catalog/new_products/7.png" alt="TheNameOfProduct" height="132" width="184"></div>
                        <hgroup>
                            <h4 class="catalog--product_card--title">Тай Пин Хоу Куй</h4>
                            <h5 class="catalog--product_card--subTitle">Весна 2016г</h5>
                        </hgroup>
                        <div class="catalog--product_card--price_block">
                            <div class="catalog--product_card--price">
                                <p>54 р</p>
                            </div>
                            <div class="catalog--product_card--oldPrice">
                                <p>56 р</p>
                            </div>
                        </div>
                        <div class="input-group input-group-inline"><input type="text" class="product_card-inputData catalog--product_card--inputData-weight"><input type="text" class="product_card-inputData catalog--product_card--inputData-count"></div>
                        <a href="#" class="btn btn-product catalog--product_card--button">В корзину</a>
                    </div>
                    <div class="catalog--product_card">
                        <div class="catalog--product_card--visual"><img src="assets/img/catalog/new_products/8.png" alt="TheNameOfProduct" height="132" width="184"></div>
                        <hgroup>
                            <h4 class="catalog--product_card--title">Тай Пин Хоу Куй</h4>
                            <h5 class="catalog--product_card--subTitle">Весна 2016г</h5>
                        </hgroup>
                        <div class="catalog--product_card--price_block">
                            <div class="catalog--product_card--price">
                                <p>54 р</p>
                            </div>
                            <div class="catalog--product_card--oldPrice">
                                <p>56 р</p>
                            </div>
                        </div>
                        <div class="input-group input-group-inline"><input type="text" class="product_card-inputData catalog--product_card--inputData-weight"><input type="text" class="product_card-inputData catalog--product_card--inputData-count"></div>
                        <a href="#" class="btn btn-product catalog--product_card--button">В корзину</a>
                    </div>
                </div>
                <div class="catalog--category--decor-bottom"></div>
            </div>
            <div class="catalog-col catalog--category" id="catalog--category-choice_teaPost">
                <h3 class="catalog--category--title">Выбор чайной почты</h3>
                <div class="catalog--product">
                    <div class="catalog--product_card">
                        <div class="catalog--product_card--visual"><img src="assets/img/catalog/new_products/1.png" alt="TheNameOfProduct" height="132" width="184"></div>
                        <hgroup>
                            <h4 class="catalog--product_card--title">Тай Пин Хоу Куй</h4>
                            <h5 class="catalog--product_card--subTitle">Весна 2016г</h5>
                        </hgroup>
                        <div class="catalog--product_card--price_block">
                            <div class="catalog--product_card--price">
                                <p>54 р</p>
                            </div>
                            <div class="catalog--product_card--oldPrice">
                                <p>56 р</p>
                            </div>
                        </div>
                        <div class="input-group input-group-inline"><input type="text" class="product_card-inputData catalog--product_card--inputData-weight"><input type="text" class="product_card-inputData catalog--product_card--inputData-count"></div>
                        <a href="#" class="btn btn-product catalog--product_card--button">В корзину</a>
                    </div>
                    <div class="catalog--product_card">
                        <div class="catalog--product_card--visual"><img src="assets/img/catalog/new_products/2.png" alt="TheNameOfProduct" height="132" width="184"></div>
                        <hgroup>
                            <h4 class="catalog--product_card--title">Тай Пин Хоу Куй</h4>
                            <h5 class="catalog--product_card--subTitle">Весна 2016г</h5>
                        </hgroup>
                        <div class="catalog--product_card--price_block">
                            <div class="catalog--product_card--price">
                                <p>54 р</p>
                            </div>
                            <div class="catalog--product_card--oldPrice">
                                <p>56 р</p>
                            </div>
                        </div>
                        <div class="input-group input-group-inline"><input type="text" class="product_card-inputData catalog--product_card--inputData-weight"><input type="text" class="product_card-inputData catalog--product_card--inputData-count"></div>
                        <a href="#" class="btn btn-product catalog--product_card--button">В корзину</a>
                    </div>
                    <div class="catalog--product_card">
                        <div class="catalog--product_card--visual"><img src="assets/img/catalog/new_products/3.png" alt="TheNameOfProduct" height="132" width="184"></div>
                        <hgroup>
                            <h4 class="catalog--product_card--title">Тай Пин Хоу Куй</h4>
                            <h5 class="catalog--product_card--subTitle">Весна 2016г</h5>
                        </hgroup>
                        <div class="catalog--product_card--price_block">
                            <div class="catalog--product_card--price">
                                <p>54 р</p>
                            </div>
                            <div class="catalog--product_card--oldPrice">
                                <p>56 р</p>
                            </div>
                        </div>
                        <div class="input-group input-group-inline"><input type="text" class="product_card-inputData catalog--product_card--inputData-weight"><input type="text" class="product_card-inputData catalog--product_card--inputData-count"></div>
                        <a href="#" class="btn btn-product catalog--product_card--button">В корзину</a>
                    </div>
                    <div class="catalog--product_card">
                        <div class="catalog--product_card--visual"><img src="assets/img/catalog/new_products/4.png" alt="TheNameOfProduct" height="132" width="184"></div>
                        <hgroup>
                            <h4 class="catalog--product_card--title">Тай Пин Хоу Куй</h4>
                            <h5 class="catalog--product_card--subTitle">Весна 2016г</h5>
                        </hgroup>
                        <div class="catalog--product_card--price_block">
                            <div class="catalog--product_card--price">
                                <p>54 р</p>
                            </div>
                            <div class="catalog--product_card--oldPrice">
                                <p>56 р</p>
                            </div>
                        </div>
                        <div class="input-group input-group-inline"><input type="text" class="product_card-inputData catalog--product_card--inputData-weight"><input type="text" class="product_card-inputData catalog--product_card--inputData-count"></div>
                        <a href="#" class="btn btn-product catalog--product_card--button">В корзину</a>
                    </div>
                    <div class="catalog--product_card">
                        <div class="catalog--product_card--visual"><img src="assets/img/catalog/new_products/5.png" alt="TheNameOfProduct" height="132" width="184"></div>
                        <hgroup>
                            <h4 class="catalog--product_card--title">Тай Пин Хоу Куй</h4>
                            <h5 class="catalog--product_card--subTitle">Весна 2016г</h5>
                        </hgroup>
                        <div class="catalog--product_card--price_block">
                            <div class="catalog--product_card--price">
                                <p>54 р</p>
                            </div>
                            <div class="catalog--product_card--oldPrice">
                                <p>56 р</p>
                            </div>
                        </div>
                        <div class="input-group input-group-inline"><input type="text" class="product_card-inputData catalog--product_card--inputData-weight"><input type="text" class="product_card-inputData catalog--product_card--inputData-count"></div>
                        <a href="#" class="btn btn-product catalog--product_card--button">В корзину</a>
                    </div>
                    <div class="catalog--product_card">
                        <div class="catalog--product_card--visual"><img src="assets/img/catalog/new_products/6.png" alt="TheNameOfProduct" height="132" width="184"></div>
                        <hgroup>
                            <h4 class="catalog--product_card--title">Тай Пин Хоу Куй</h4>
                            <h5 class="catalog--product_card--subTitle">Весна 2016г</h5>
                        </hgroup>
                        <div class="catalog--product_card--price_block">
                            <div class="catalog--product_card--price">
                                <p>54 р</p>
                            </div>
                            <div class="catalog--product_card--oldPrice">
                                <p>56 р</p>
                            </div>
                        </div>
                        <div class="input-group input-group-inline"><input type="text" class="product_card-inputData catalog--product_card--inputData-weight"><input type="text" class="product_card-inputData catalog--product_card--inputData-count"></div>
                        <a href="#" class="btn btn-product catalog--product_card--button">В корзину</a>
                    </div>
                    <div class="catalog--product_card">
                        <div class="catalog--product_card--visual"><img src="assets/img/catalog/new_products/7.png" alt="TheNameOfProduct" height="132" width="184"></div>
                        <hgroup>
                            <h4 class="catalog--product_card--title">Тай Пин Хоу Куй</h4>
                            <h5 class="catalog--product_card--subTitle">Весна 2016г</h5>
                        </hgroup>
                        <div class="catalog--product_card--price_block">
                            <div class="catalog--product_card--price">
                                <p>54 р</p>
                            </div>
                            <div class="catalog--product_card--oldPrice">
                                <p>56 р</p>
                            </div>
                        </div>
                        <div class="input-group input-group-inline"><input type="text" class="product_card-inputData catalog--product_card--inputData-weight"><input type="text" class="product_card-inputData catalog--product_card--inputData-count"></div>
                        <a href="#" class="btn btn-product catalog--product_card--button">В корзину</a>
                    </div>
                    <div class="catalog--product_card">
                        <div class="catalog--product_card--visual"><img src="assets/img/catalog/new_products/8.png" alt="TheNameOfProduct" height="132" width="184"></div>
                        <hgroup>
                            <h4 class="catalog--product_card--title">Тай Пин Хоу Куй</h4>
                            <h5 class="catalog--product_card--subTitle">Весна 2016г</h5>
                        </hgroup>
                        <div class="catalog--product_card--price_block">
                            <div class="catalog--product_card--price">
                                <p>54 р</p>
                            </div>
                            <div class="catalog--product_card--oldPrice">
                                <p>56 р</p>
                            </div>
                        </div>
                        <div class="input-group input-group-inline"><input type="text" class="product_card-inputData catalog--product_card--inputData-weight"><input type="text" class="product_card-inputData catalog--product_card--inputData-count"></div>
                        <a href="#" class="btn btn-product catalog--product_card--button">В корзину</a>
                    </div>
                </div>
                <div class="catalog--category--decor-bottom"></div>
            </div>

    </div>

        <a href="#" class="btn btn-simple catalog--button">Перейти в каталог</a>

</section>
