<section id="dishes">

    <div class="bg-shadow bg-shadow-left"></div>
    <div class="bg-shadow bg-shadow-right"></div>
    <div class="bg-shadow bg-shadow-bottom"></div>

    <div class="shapely_line top"></div>
    <div class="shapely_line bottom"></div>

    <div class="container">

        <div>
            <h2 class="dishes--heading">
                Посуда от чайной почты
            </h2>
        </div>

        <div>
            <a href="#" class="btn btn-simple dishes--button">Перейти в каталог</a>
        </div>

    </div>
</section>
