<section id="kits">
    <div class="container">

        <a href="#" class="kits--imgLink" id="kits--imgLink-left-1" title="Жми!"><!--<img src="assets/img/kits/box-left-1.png" alt="1">--></a>
        <a href="#" class="kits--imgLink" id="kits--imgLink-left-2" title="Жми!"><!--<img src="assets/img/kits/box-left-2.png" alt="2">--></a>
        <a href="#" class="kits--imgLink" id="kits--imgLink-right-2" title="Жми!"><!--<img src="assets/img/kits/box-right-2.png" alt="2">--></a>
        <a href="#" class="kits--imgLink" id="kits--imgLink-right-1" title="Жми!"><!--<img src="assets/img/kits/box-right-1.png" alt="1">--></a>

        <div class="kits--content">
            <h2 class="kits--heading">Чайные наборы</h2>
            <p class="kits--text">
                Мы собираем и упаковываем наборы с
                различными сортами чая. Это может
                быть интересная подборка для
                чайных гурманов или подарок для
                близких, которому наш художник
                придаст красивое и неповторимое
                оформление. Так же в каждом наборе
                вы найдете сюрприз от Чайной
                Почты!
            </p>
            <a href="#" class="btn btn-simple kits--button">Перейти в каталог</a>
        </div>

    </div>
</section>
