<section id="kits">
    <div class="container">

        <a href="#" class="kits--imgLink" id="kits--imgLink-1" title="Жми!"><!--<img src="assets/img/kits/1.png" alt="1">--></a>
        <div class="kits--content">
                <h2 class="kits--heading">Чайные наборы</h2>
                <p class="kits--text">
                    Мы собираем и упаковываем наборы с
                    различными сортами чая. Это может
                    быть интересная подборка для
                    чайных гурманов или подарок для
                    близких, которому наш художник
                    придаст красивое и неповторимое
                    оформление. Так же в каждом наборе
                    вы найдете сюрприз от Чайной
                    Почты!
                </p>
                <a href="#" class="btn btn-simple kits--button">Перейти в каталог</a>
            </div>
        <a href="#" class="kits--imgLink" id="kits--imgLink-2" title="Жми!"><!--<img src="assets/img/kits/2.png" alt="2">--></a>

    </div>
</section>
