<div id="map">
    <div class="address-container" id="map--address">
        <div class="container">
            <div class="binding">
                <div class="circle top">
                    <div class="circle-inner"></div>
                </div>
                <div class="circle bottom">
                    <div class="circle-inner"></div>
                </div>
            </div>

            <div class="address-content">
                <p class="map--firmName">Чайная Почта, </p>
                <p class="map--address">Проспект Независимости 44</p>
                <p class="map--address-metro">
                    <span class="icon">
                        <svg version="1.1" id="map-address-metro-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 11.6 12" style="enable-background:new 0 0 11.6 12;" xml:space="preserve"><polygon id="XMLID_666_" class="map-address-metro-icon-cl0" points="7.1,4.6 5.7,6.4 4.4,4.6 2.7,4.6 2.7,6.8 4.4,6.8 4.4,6 5.7,7.7 7.1,6 7.1,6.8 8.7,6.8 8.7,4.6 "/><path id="XMLID_667_" class="map-address-metro-icon-cl1" d="M5.7,8.8L4.7,7.6H2V3.9h2.6l1.2,1.5l1.2-1.5h2.7v3.7H6.8L5.7,8.8z M2.2,7.4h2.6l1,1.1l1-1.1h2.7V4.1H7L5.7,5.7L4.5,4.1H2.2V7.4z"/><path id="XMLID_668_" class="map-address-metro-icon-cl1" d="M5.8,10.1c-2.4,0-4.3-1.9-4.3-4.3c0-2.4,1.9-4.3,4.3-4.3c2.4,0,4.3,1.9,4.3,4.3C10.1,8.1,8.1,10.1,5.8,10.1z M5.8,1.6c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2S9.9,8,9.9,5.8S8,1.6,5.8,1.6z"/></svg>
                    </span>
                    Пл. Победы
                </p>
                <p class="map--address-description">Вход через арку со двора</p>
                <p class="map--work_mode">
                    Мы открыты с <span class="map--work_mode-time">12:00</span> до <span class="map--work_mode-time">22:00</span>
                    без обеда и выходных.
                </p>
            </div>
        </div>
    </div>
    <div id="gmap"></div>

    <div class="shapely_line"></div>
</div>
