<div id="map">
    <div class="container">
        <div class="address-container">
            <div class="binding">
                <div class="circle top">
                    <div class="circle-inner"></div>
                </div>
                <div class="circle bottom">
                    <div class="circle-inner"></div>
                </div>
            </div>

            <div class="address-content">
                <p class="map--firmName">Чайная Почта, </p>
                <p class="map--address">Проспект Независимости 44</p>
                <p class="map--address-metro">Пл. Победы</p>
                <p class="map--address-description">Вход через арку со двора</p>
                <p class="map--work_mode">
                    Мы открыты с <span class="map--work_mode-time">12:00</span> до <span class="map--work_mode-time">22:00</span>
                    без обеда и выходных.
                </p>
            </div>
        </div>
    </div>
    <div id="gmap"></div>
</div>
