<section id="newsletters" class="section section_newsletters">
    <div class="container">

        <div class="letter">

            <div class="bg-top">
                <div class="bg-top-inner"></div>
            </div>

            <div class="envelope-circle-container">
                <div class="envelope-circle top">
                    <div class="inner"></div>
                </div>
                <div class="envelope-circle bottom">
                    <div class="inner"></div>
                </div>
            </div>

            <div class="letter-content">

                <div>
                    <h2 class="newsletters--heading">Чайная подписка</h2>
                </div>

                <div>
                    <p class="newsletters--text">
                        Каждый месяц мы отбираем 10 из более чем 200 лучших сортов чая по
                        версии Чайной Почты и высылаем их вам с Чайным Дневником
                        для дегустации!
                    </p>
                </div>

                <div>
                    <a href="#" class="btn btn_gradient section__btn_newsletters newsletters--button">Узнать больше</a>
                </div>

            </div>

        </div>

    </div>

    <div class="bg-bottom gradient"></div>
    <div class="bg-bottom left"></div>
    <div class="bg-bottom right"></div>
</section>
