<section id="reviews">
    <div class="container">

        <div>
            <hgroup>
                <h2 class="reviews--heading">ОТзывы</h2>
                <h3 class="reviews--subHeading">о чайной почте</h3>
            </hgroup>
        </div>

       <div class="reviews-container">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"> </li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"> </li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"> </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="[INSERT IMAGE HERE]" alt="First slide" />
                    </div>
                    <div class="item">
                        <img src="[INSERT IMAGE HERE]" alt="Second slide" />
                    </div>
                    <div class="item">
                        <img src="[INSERT IMAGE HERE]" alt="Third slide" />
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
       </div>

       <div>
           <a href="#" class="btn btn-gradient reviews--button">Оставить отзыв</a>
       </div>

       <div class="reviews-decoration-bottom"></div>

    </div>
</section>
