<section id="reviews">
    <div class="container">

        <div>
            <hgroup>
                <h2 class="reviews--heading">ОТзывы</h2>
                <h3 class="reviews--subHeading">о чайной почте</h3>
            </hgroup>
        </div>

       <div class="reviews-container">
            <div id="reviews--carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#reviews--carousel" data-slide-to="0" class="active"> </li>
                    <li data-target="#reviews--carousel" data-slide-to="1"> </li>
                    <li data-target="#reviews--carousel" data-slide-to="2"> </li>
                    <li data-target="#reviews--carousel" data-slide-to="3"> </li>
                    <li data-target="#reviews--carousel" data-slide-to="4"> </li>
                    <li data-target="#reviews--carousel" data-slide-to="5"> </li>
                    <li data-target="#reviews--carousel" data-slide-to="6"> </li>
                    <li data-target="#reviews--carousel" data-slide-to="7"> </li>
                    <li data-target="#reviews--carousel" data-slide-to="8"> </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <div>
                            <div class="reviews--rating"></div>
                            <p class="reviews--date">9 сен 2016</p>
                            <div class="clearfix"></div>
                        </div>
                        <div>
                            <div class="col">
                                <div class="reviews--visual">
                                    <!--<img src="assets/img/reviews/1/visual.png" alt="FIO" />-->
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <p class="reviews--username">
                                        Валентин Александрович Емельянов
                                    </p>
                                </div>
                                <div>
                                    <p class="reviews--text">
                                        спасибо за вашу работу всегда быстро приходит чай,
                                        радует подарочки вместе с заказом))
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div class="reviews--rating"></div>
                            <p class="reviews--date">9 сен 2016</p>
                            <div class="clearfix"></div>
                        </div>
                        <div>
                            <div class="col">
                                <div class="reviews--visual">
                                    <!--<img src="assets/img/reviews/1/visual.png" alt="FIO" />-->
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <p class="reviews--username">
                                        Валентин Александрович Емельянов
                                    </p>
                                </div>
                                <div>
                                    <p class="reviews--text">
                                        спасибо за вашу работу всегда быстро приходит чай,
                                        радует подарочки вместе с заказом))
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div class="reviews--rating"></div>
                            <p class="reviews--date">9 сен 2016</p>
                            <div class="clearfix"></div>
                        </div>
                        <div>
                            <div class="col">
                                <div class="reviews--visual">
                                    <!--<img src="assets/img/reviews/1/visual.png" alt="FIO" />-->
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <p class="reviews--username">
                                        Валентин Александрович Емельянов
                                    </p>
                                </div>
                                <div>
                                    <p class="reviews--text">
                                        спасибо за вашу работу всегда быстро приходит чай,
                                        радует подарочки вместе с заказом))
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div class="reviews--rating"></div>
                            <p class="reviews--date">9 сен 2016</p>
                            <div class="clearfix"></div>
                        </div>
                        <div>
                            <div class="col">
                                <div class="reviews--visual">
                                    <!--<img src="assets/img/reviews/1/visual.png" alt="FIO" />-->
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <p class="reviews--username">
                                        Валентин Александрович Емельянов
                                    </p>
                                </div>
                                <div>
                                    <p class="reviews--text">
                                        спасибо за вашу работу всегда быстро приходит чай,
                                        радует подарочки вместе с заказом))
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div class="reviews--rating"></div>
                            <p class="reviews--date">9 сен 2016</p>
                            <div class="clearfix"></div>
                        </div>
                        <div>
                            <div class="col">
                                <div class="reviews--visual">
                                    <!--<img src="assets/img/reviews/1/visual.png" alt="FIO" />-->
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <p class="reviews--username">
                                        Валентин Александрович Емельянов
                                    </p>
                                </div>
                                <div>
                                    <p class="reviews--text">
                                        спасибо за вашу работу всегда быстро приходит чай,
                                        радует подарочки вместе с заказом))
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div class="reviews--rating"></div>
                            <p class="reviews--date">9 сен 2016</p>
                            <div class="clearfix"></div>
                        </div>
                        <div>
                            <div class="col">
                                <div class="reviews--visual">
                                    <!--<img src="assets/img/reviews/1/visual.png" alt="FIO" />-->
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <p class="reviews--username">
                                        Валентин Александрович Емельянов
                                    </p>
                                </div>
                                <div>
                                    <p class="reviews--text">
                                        спасибо за вашу работу всегда быстро приходит чай,
                                        радует подарочки вместе с заказом))
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div class="reviews--rating"></div>
                            <p class="reviews--date">9 сен 2016</p>
                            <div class="clearfix"></div>
                        </div>
                        <div>
                            <div class="col">
                                <div class="reviews--visual">
                                    <!--<img src="assets/img/reviews/1/visual.png" alt="FIO" />-->
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <p class="reviews--username">
                                        Валентин Александрович Емельянов
                                    </p>
                                </div>
                                <div>
                                    <p class="reviews--text">
                                        спасибо за вашу работу всегда быстро приходит чай,
                                        радует подарочки вместе с заказом))
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div class="reviews--rating"></div>
                            <p class="reviews--date">9 сен 2016</p>
                            <div class="clearfix"></div>
                        </div>
                        <div>
                            <div class="col">
                                <div class="reviews--visual">
                                    <!--<img src="assets/img/reviews/1/visual.png" alt="FIO" />-->
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <p class="reviews--username">
                                        Валентин Александрович Емельянов
                                    </p>
                                </div>
                                <div>
                                    <p class="reviews--text">
                                        спасибо за вашу работу всегда быстро приходит чай,
                                        радует подарочки вместе с заказом))
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div class="reviews--rating"></div>
                            <p class="reviews--date">9 сен 2016</p>
                            <div class="clearfix"></div>
                        </div>
                        <div>
                            <div class="col">
                                <div class="reviews--visual">
                                    <!--<img src="assets/img/reviews/1/visual.png" alt="FIO" />-->
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <p class="reviews--username">
                                        Валентин Александрович Емельянов
                                    </p>
                                </div>
                                <div>
                                    <p class="reviews--text">
                                        спасибо за вашу работу всегда быстро приходит чай,
                                        радует подарочки вместе с заказом))
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#reviews--carousel" data-slide="prev">
                    <span class="chevron-container">
                        <span class="chevron-inner"></span>
                    </span>
                </a>
                <a class="right carousel-control" href="#reviews--carousel" data-slide="next">
                    <span class="chevron-container">
                        <span class="chevron-inner"></span>
                    </span>
                </a>
            </div>
       </div>

       <div>
           <a href="#" class="btn btn-gradient reviews--button">Оставить отзыв</a>
       </div>

       <div class="reviews-decoration-bottom"></div>

    </div>
</section>
