<section id="tea_mail">
    <div class="container">

        <div class="col">
            <a href="#" id="tea_mail--imgLink-1"></a>
        </div><div class="col">
            <h2 class="tea_mail--heading">Линейка чая от Чайной Почты</h2>
            <p class="tea_mail--text">
                Чай нашего производства из провинции
                Юньнань, с любовью собраный, спрессованный
                и упакованный Чайной Почтой для вашего
                удовольствия!
            </p>
            <a href="#" class="btn btn-gradient tea_mail--button">Узнать больше</a>
        </div><div class="col">
            <a href="#" id="tea_mail--imgLink-2"></a>
        </div>

    </div>
</section>
