<section id="tea_room">

    <div class="bg-mobile">
        <div class="shapely_line top"></div>
        <div class="shapely_line bottom"></div>
    </div>

    <div class="tea_room-container">

        <div class="col">
            <div class="tea_room-content" id="tea_room-content">
                <h2 class="tea_room--heading">Чайная комната</h2>
                <h3 class="tea_room--subHeading">Чай, посуда и люди.</h3>
                <div class="tea_room--text">
                    <p>
                        Чайная комната - место с особой атмосферой, где вы
                        можете продегустировать и приобрести различные
                        сорта чая, познакомится с чайной церемонией,
                        широком ассортиментом посуды и сопутствующих
                        товаров, и просто приятно провести время..
                    </p>
                </div>
                <div>
                    <p class="tea_room--address">
                        <span class="icon">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="-284 410.1 25.8 21.8" style="enable-background:new -284 410.1 25.8 21.8;" xml:space="preserve"><path id="XMLID_234_" class="st0" d="M-271.8,414.5c-2.5,0-4.5,2-4.5,4.5c0,4.1,4.5,9,4.5,9s4.5-4.9,4.5-9C-267.2,416.5-269.2,414.5-271.8,414.5z M-271.8,421.5c-1.2,0-2.2-1-2.2-2.2c0-1.2,1-2.2,2.2-2.2c1.2,0,2.2,1,2.2,2.2C-269.5,420.5-270.5,421.5-271.8,421.5z"/></svg>
                        </span>
                        Проспект Независимости 44
                    </p>
                </div>
                <div>
                    <a href="" class="btn btn-simple tea_room--button">Узнать больше</a>
                </div>
            </div>
        </div>

    </div>
</section>
