<section id="tea_room">
    <div class="container">

        <div class="tea_room-content" id="tea_room-content">
            <h2 class="tea_room--heading">Чайная комната</h2>
            <h3 class="tea_room--subHeading">Чай, посуда и люди.</h3>
            <div class="tea_room--text">
                <p>
                    Чайная комната - место с особой атмосферой, где вы
                    можете продегустировать и приобрести различные
                    сорта чая, познакомится с чайной церемонией,
                    широком ассортиментом посуды и сопутствующих
                    товаров, и просто приятно провести время..
                </p>
            </div>
            <div>
                <p class="tea_room--address">Проспект Независимости 44</p>
            </div>
            <div>
                <a href="" class="btn btn-simple tea_room--button">Узнать больше</a>
            </div>
        </div>

    </div>
</section>
