<section id="tea_blog">
    <div class="container">

        <div class="row">

            <!-- articles -->
            <div class="tea_blog--article">
                <h2 class="tea_blog--heading">чайные записки</h2>

                <!-- slider -->
                <div id="tea_blog--carousel" class="carousel slide tea_blog-slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#tea_blog--carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#tea_blog--carousel" data-slide-to="1"></li>
                        <li data-target="#tea_blog--carousel" data-slide-to="2"></li>
                        <li data-target="#tea_blog--carousel" data-slide-to="3"></li>
                        <li data-target="#tea_blog--carousel" data-slide-to="4"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">

                            <!-- teaser -->

                            <!--
                            .teaser.tea_blog-teaser(.tea_blog-teaser-visual(img[src="assets/img/tea_blog/teasers/1/visual.png" alt="1"])+.tea_blog-teaser-article(div(p.tea_blog-teaser-date.tea_blog--article--date{9 сен 2016})+div(h3.tea_blog-teaser-heading.tea_blog--article--heading{О желтом чае})+div(p.tea_blog-teaser-text.tea_blog--article--text{Вообще статья носит рекламный характер, поэтому будьте осторожны! Вы бывали в Узбекистане? Мы как то там оказались и всюду люди пили зеленый чай...})+div(a[href="#"].tea_blog-teaser-link_more.tea_blog--article--link_more{Читать полностью})))
                            -->

                            <div class="teaser tea_blog-teaser">
                                <div class="tea_blog-teaser-visual">
                                    <img src="assets/img/tea_blog/teasers/1/visual.png" alt="1">
                                </div>
                                <div class="tea_blog-teaser-article">
                                    <div>
                                        <p class="tea_blog-teaser-date tea_blog--article--date">9 сен 2016</p>
                                    </div>
                                    <div>
                                        <h3 class="tea_blog-teaser-heading tea_blog--article--heading">О желтом чае</h3>
                                    </div>
                                    <div>
                                        <p class="tea_blog-teaser-text tea_blog--article--text">
                                            Вообще статья носит рекламный характер, поэтому
                                            будьте осторожны! Вы бывали в Узбекистане? Мы как
                                            то там оказались и всюду люди пили зеленый чай...
                                        </p>
                                    </div>
                                    <div>
                                        <a href="#" class="tea_blog-teaser-link_more tea_blog--article--link_more">Читать полностью</a>
                                    </div>
                                </div>
                            </div>

                            <!-- / teaser -->

                        </div>
                        <div class="item">

                            <!-- teaser -->

                            <div class="teaser tea_blog-teaser">
                                <div class="tea_blog-teaser-visual">
                                    <img src="assets/img/tea_blog/teasers/2/visual.png" alt="2">
                                </div>
                                <div class="tea_blog-teaser-article">
                                    <div>
                                        <p class="tea_blog-teaser-date tea_blog--article--date">12 сен 2016</p>
                                    </div>
                                    <div>
                                        <h3 class="tea_blog-teaser-heading tea_blog--article--heading">О желтом чае 2</h3>
                                    </div>
                                    <div>
                                        <p class="tea_blog-teaser-text tea_blog--article--text">
                                            Вообще статья носит рекламный характер, поэтому
                                            будьте осторожны! Вы бывали в Узбекистане? Мы как
                                            то там оказались и всюду люди пили зеленый чай...
                                        </p>
                                    </div>
                                    <div>
                                        <a href="#" class="tea_blog-teaser-link_more tea_blog--article--link_more">Читать полностью</a>
                                    </div>
                                </div>
                            </div>

                            <!-- / teaser -->

                        </div>
                        <div class="item">

                            <!-- teaser -->

                            <div class="teaser tea_blog-teaser">
                                <div class="tea_blog-teaser-visual">
                                    <img src="assets/img/tea_blog/teasers/3/visual.png" alt="3">
                                </div>
                                <div class="tea_blog-teaser-article">
                                    <div>
                                        <p class="tea_blog-teaser-date tea_blog--article--date">13 сен 2016</p>
                                    </div>
                                    <div>
                                        <h3 class="tea_blog-teaser-heading tea_blog--article--heading">О желтом чае 3</h3>
                                    </div>
                                    <div>
                                        <p class="tea_blog-teaser-text tea_blog--article--text">
                                            Вообще статья носит рекламный характер, поэтому
                                            будьте осторожны! Вы бывали в Узбекистане? Мы как
                                            то там оказались и всюду люди пили зеленый чай...
                                        </p>
                                    </div>
                                    <div>
                                        <a href="#" class="tea_blog-teaser-link_more tea_blog--article--link_more">Читать полностью</a>
                                    </div>
                                </div>
                            </div>

                            <!-- / teaser -->

                        </div>
                        <div class="item">

                            <!-- teaser -->

                            <div class="teaser tea_blog-teaser">
                                <div class="tea_blog-teaser-visual">
                                    <img src="assets/img/tea_blog/teasers/4/visual.png" alt="4">
                                </div>
                                <div class="tea_blog-teaser-article">
                                    <div>
                                        <p class="tea_blog-teaser-date tea_blog--article--date">14 сен 2016</p>
                                    </div>
                                    <div>
                                        <h3 class="tea_blog-teaser-heading tea_blog--article--heading">О желтом чае 4</h3>
                                    </div>
                                    <div>
                                        <p class="tea_blog-teaser-text tea_blog--article--text">
                                            Вообще статья носит рекламный характер, поэтому
                                            будьте осторожны! Вы бывали в Узбекистане? Мы как
                                            то там оказались и всюду люди пили зеленый чай...
                                        </p>
                                    </div>
                                    <div>
                                        <a href="#" class="tea_blog-teaser-link_more tea_blog--article--link_more">Читать полностью</a>
                                    </div>
                                </div>
                            </div>

                            <!-- / teaser -->

                        </div>
                        <div class="item">

                            <!-- teaser -->

                            <div class="teaser tea_blog-teaser">
                                <div class="tea_blog-teaser-visual">
                                    <img src="assets/img/tea_blog/teasers/5/visual.png" alt="5">
                                </div>
                                <div class="tea_blog-teaser-article">
                                    <div>
                                        <p class="tea_blog-teaser-date tea_blog--article--date">15 сен 2016</p>
                                    </div>
                                    <div>
                                        <h3 class="tea_blog-teaser-heading tea_blog--article--heading">О желтом чае 5</h3>
                                    </div>
                                    <div>
                                        <p class="tea_blog-teaser-text tea_blog--article--text">
                                            Вообще статья носит рекламный характер, поэтому
                                            будьте осторожны! Вы бывали в Узбекистане? Мы как
                                            то там оказались и всюду люди пили зеленый чай...
                                        </p>
                                    </div>
                                    <div>
                                        <a href="#" class="tea_blog-teaser-link_more tea_blog--article--link_more">Читать полностью</a>
                                    </div>
                                </div>
                            </div>

                            <!-- / teaser -->

                        </div>
                    </div>
                </div>
                <!-- / slider -->
            </div><!-- / articles --><!-- --------------------- --><!-- news --><div class="tea_blog--news">

                <!-- Nav tabs -->
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#useful_articles" aria-controls="useful_articles" role="tab" data-toggle="tab">Полезные статьи</a>
                    </li>
                    <li role="presentation">
                        <a href="#news" aria-controls="news" role="tab" data-toggle="tab">Новости</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="useful_articles">

                    </div>
                    <div role="tabpanel" class="tab-pane" id="news">
                        ...
                    </div>
                </div>

            </div>
            <!-- / news -->

        </div>

    </div>
</section>
