@charset "UTF-8";

/// Описание модификатора BEM блока треугольничка линка колапса.
/// Модификатор - position.
/// Значение - top-inverse.
.collapse-link-triangle_position_top-inverse {

    &:after {
        border-bottom-width: 1px;
        border-right-width: 1px;
        top: -8px;
    }
}
