@charset "UTF-8";

/// Описание модификатора BEM блока треугольничка линка колапса.
/// Модификатор - position.
/// Значение - top.
.collapse-link-triangle_position_top {

    &:after {
        border-left-width: 1px;
        border-top-width: 1px;
        top: -8px;
    }
}
