@charset "UTF-8";

/// Описание BEM блока карточки продукта
.product-card {
    float: left;
    /*overflow: hidden;*/
    overflow: visible;
    margin: 4px;
    text-align: center;
    @include transition(all, 600ms, cubic-bezier(0.075, 0.82, 0.165, 1), !important);

    @media (min-width: 1310px) {
        display: block !important;
    }

    /*&:hover {
        border-color: #925900;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.17);
        position: relative;
        transform: scale(1.079787234042553, 1.073469387755102); // это size(203px, 263px)

        @media (max-width: 1309px) {
            transform: none;
        }
    }*/
}
