@charset "UTF-8";

/// Описание элемента блока карточки продукта.
/// Элемент стоимость
.product-card__cost {
    display: inline-block;
    margin-top: 18px;
    margin-bottom: 13px;

    @media (max-width: 1309px) {
        font-size: 23px;
        margin-bottom: 10px;
        margin-top: 13px;
    }
}
