@charset "UTF-8";

/// Описание модификатора элемента BEM блока формы поиска.
/// Модификатор - submit.
.form-search__btn_submit {
    @include clear-edging;
    background-color: transparent;
    margin-right: 15px;
    margin-top: -2px;
    padding: 7px;
    vertical-align: middle;
}
