@charset "UTF-8";

/// Описание элемента BEM блока tabpanel.
/// Элемент - nav-item.
.tabpanel__nav-item {
    border-color: transparent;
    border-bottom: none !important;
    border-style: solid;
    border-width: 1px;
    color: #595959;
    cursor: pointer;
    display: inline-block;
    font-family: getFont-family("NotoSerif"); /* Noto Serif */
    font-size: 17px;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal; /*0.005em|0.05em*/
    padding: 15px 7px;
}
