<footer id="footer" role="contentinfo">
    <div class="container">

        <div class="clearfix">
            <div class="footer--phone--container">
                <p class="footer--phone"><span class="plus">+</span>375 (29) 854 34 60
                    <!--<a href="tel:+375(29)8543460" class="footer--phone">+375 (29) 854 34 60</a>-->
                </p>
            </div>
            <div class="footer--newsletters--container">

                <div class="form-newsletters" role="form">
                    <form action="mail.php" class="order" id="footer--newsletters-form" method="post">
                        <!--
                        -- .has-feedback
                        --
                        -- .has-success
                        -- .has-warning
                        -- .has-error
                        -->

                        <div class="form-group form-group-main has-feedback">
                            <!--<label class="control-label sr-only" for="bsName">Подписка на акции и новости</label>-->
                            <label for="footer--newsletters--email" class="control-label footer--newsletters--title">Подписка на акции и новости</label>
                            <input type="email" class="validating footer--newsletters--input" name="footer--newsletters--email" id="footer--newsletters--email" placeholder="Ваш Email" aria-describedby="footer--newsletters--email-status" required="required" />
                            <!--<span class="glyphicon form-control-feedback" aria-hidden="true"></span>-->
                            <!--<span id="footer--newsletters--email-status" class="sr-only">(успех)</span>-->
                            <!--<div class="form-control-feedback-icon"></div>-->
                            <!--<div class="form-control-feedback-message-error">Поле не заполнено.</div>-->

                            <input type="hidden" name="whichService" id="whichService" class="form-control" value="Подвал newsletters">

                            <button type="submit" class="btn submit footer--newsletters--button" role="button" data-submit="#footer--newsletters-form">Готово</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>

        <div class="clearfix footer--navs--container">
            <div class="footer--nav--container">
                <nav class="footer--nav" role="navigation">
                    <ul>
                        <li><a href="#">Чайный магазин</a></li>
                        <li><a href="#">Чайная Комната</a></li>
                        <li><a href="#">Чайный дневник</a></li>
                        <li><a href="#">Забота о клиентах</a></li>
                        <li><a href="#">О проекте</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer--visual">&nbsp;</div>
            <div class="footer--nav-secondary--container">
                <nav class="footer--nav-secondary" role="navigation">
                    <ul>
                        <li><a href="#">Политика Конфидециальности</a></li>
                        <li><a href="#">Корпоративным клиентам</a></li>
                        <li><a href="#">Доставка и оплата</a></li>
                        <li><a href="#">Карта сайта</a></li>
                        <li><a href="#">Оферта</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div>
            <p class="footer--social--heading">
                Давайте дружить!
            </p>
        </div>

        <div class="text-center">
            <a href="#" class="footer--social--container f"><img src="assets/img/footer/social/f.svg" alt=""></a>
            <a href="#" class="footer--social--container vk"><img src="assets/img/footer/social/vk.svg" alt=""></a>
            <a href="#" class="footer--social--container g"><img src="assets/img/footer/social/g.svg" alt=""></a>
            <a href="#" class="footer--social--container insta"><img src="assets/img/footer/social/insta.svg" alt=""></a>
        </div>

    </div>
</footer>
