<header id="header">

    <div class="blackout"></div>

    <div class="header--gradientBlackout-bottom"></div>

    <div class="container">

        <div class="ctrl">
            <div class="ctrl-arrow ctrl-arrow-left"></div>
            <div class="ctrl-arrow ctrl-arrow-right"></div>
        </div>

        <div class="row">
            <!-- TEMP - будут "слайды" - h2  -->
            <h1 class="header-heading"> Отборные сорта чая с азиатских плантаций</h1>
        </div>

        <div class="row">
            <div class="search">
                <div class="search-icon"></div>
            </div>
        </div>

        <div class="row">
            <div class="advantages">
                <div class="advantage" id="get_from">
                    <div class="icon"></div>
                    <p>
                        Наш чай поставляется
                        напрямую из Китая, Тайваня.
                        Индии и Тайланда
                    </p>
                </div>
                <div class="advantage" id="delivery">
                    <div class="icon"></div>
                    <p>
                        Быстрая доставка
                        в любую точку
                        Беларуси
                    </p>
                </div>
                <div class="advantage" id="tested">
                    <div class="icon"></div>
                    <p>
                        Только проверенные,
                        отборные сорта чая
                    </p>
                </div>
                <div class="advantage" id="wide_range">
                    <div class="icon"></div>
                    <p>
                        Широкий ассортимент
                        для ценителей
                    </p>
                </div>
                <div class="advantage" id="discounts">
                    <div class="icon"></div>
                    <p>
                        Скидки постоянным
                        клиентам до 15%
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="shapely_line"></div>

</header>
