<header id="header">

    <nav class="navbar navbar-default navbar-fixed-top nav-main" role="navigation">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="logo" href="#"><img src="assets/img/nav/logo.png" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-main-collapse">
                <ul class="before">
                    <li class="dropdown active catalog">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Чайный магазин</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Чайная Комната</a></li>
                    <li><a href="#">Чайные записки</a></li>
                    <li class="care"><a href="#">Забота о клиентах</a></li>
                </ul>
                <ul class="after">
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>

                <ul class="navbar-right">
                    <li class="basket">
                        <a href="#">
                            <span class="icon"></span>
                             0,00 р
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle nav--username" data-toggle="dropdown"><b class="caret"></b> Владимир Овсяников</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>

    <div class="blackout"></div>

    <div class="header--gradientBlackout-bottom"></div>

    <div class="container">

        <div class="ctrl">
            <div class="ctrl-arrow ctrl-arrow-left"></div>
            <div class="ctrl-arrow ctrl-arrow-right"></div>
        </div>

        <!-- TEMP - будут "слайды" - h2  -->
        <h1 class="header--heading">Отборные сорта чая с азиатских плантаций</h1>

        <div class="search header--search">
            <div class="search-icon"></div>
        </div>

        <div class="row">
            <div class="advantages header--advantages">
                <div class="advantage" id="get_from">
                    <div class="icon"></div>
                    <p>
                        Наш чай поставляется
                        напрямую из Китая, Тайваня.
                        Индии и Тайланда
                    </p>
                </div>
                <div class="advantage" id="delivery">
                    <div class="icon"></div>
                    <p>
                        Быстрая доставка
                        в любую точку
                        Беларуси
                    </p>
                </div>
                <div class="advantage" id="tested">
                    <div class="icon"></div>
                    <p>
                        Только проверенные,
                        отборные сорта чая
                    </p>
                </div>
                <div class="advantage" id="wide_range">
                    <div class="icon"></div>
                    <p>
                        Широкий ассортимент
                        для ценителей
                    </p>
                </div>
                <div class="advantage" id="discounts">
                    <div class="icon"></div>
                    <p>
                        Скидки постоянным
                        клиентам до 15%
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="shapely_line"></div>

</header>
