@charset "UTF-8";

/// Описание элемента BEM блока карточки продукта.
/// Элемент - кнопка
.product-card__button {
    border-radius: 4px;
    background-color: #b62927; /* TEMP - взять из карты цветов */
    bottom: 14px;
    left: calc(50% - 36px);
    position: absolute;
    @include size(71px, 29px); /* size(77px, 31px) Поправка на зум */

    @media (max-width: 1309px) {
        bottom: 10px;
        left: calc(50% - 45px);
        line-height: 38px !important;
        @include size(90px, 40px);
    }

    &:hover {
        background-color: #d63f3c;
        /*padding-top: 1px;*/
        left: calc(50% - 37px);
        @include size(73px, 30px); /* size(80px, 32px) Поправка на зум */

        @media (max-width: 1309px) {
            left: calc(50% - 45px);
            @include size(90px, 40px);
        }
    }
}
