<section  id="cart" class="cart section">
    <div class="container">

        <div class="cart__container">

            <div class="cart__headings section__headings">
                <h2 class="h2 cart__title">
                    Корзина
                </h2>
            </div>

            <div class="cart__cart-steps">
                //= ../../../modules/cart-steps/cart-steps.html
            </div>

            <div class="cart__cart-purchases">
                //= ../../../modules/cart-purchases/cart-purchases.html
            </div>

            <div class="discount__discount-line">
                //= ../../discount-line/discount-line.html
            </div>

        </div>

    </div>
</section>
