@charset "UTF-8";

/// Описание элемента BEM блока page.
/// Элемент - title.
.page__title {
    color: #4b4b4b;
    font-family: getFont-family("OpenSans");
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 1em;
    margin: 1.08em auto;
}
