@charset "UTF-8";

@import "delivery-methods";
@import "__heading/index";
@import "__label/index";
@import "__label-desc/index";
@import "__method/index";
@import "__method-cost/index";
@import "__method-group/index";
@import "__title/index";
