@charset "UTF-8";

/// Описание модификатора BEM блока carousel-indicators.
/// Модификатор - product.
ol.carousel-indicators_product,
.carousel-indicators_product {
    bottom: auto;
    left: auto;
    margin: 0;
    padding: 0;
    position: relative;
    right: auto;
    top: auto;
    width: 100%;

    @media (max-width: 479px) {
        display: none;
    }
}
