@charset "UTF-8";

/// Описание модификатора элемента блока карточки продукта.
/// Модификатор - view.
/// Значение - block.
.product-card_view_block {
    float: none !important;
    height: 139px !important;
    width: auto !important;

    @media (min-width: 1385px) {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}
