@charset "UTF-8";

/// Описание элемента BEM блока product.
/// Элемента - carousel-inner.
.product__carousel-inner {
    margin: 0 4px;
    width: calc(100% - 8px);

    @media (min-width: 480px) and (max-width: 767px) {
        display: inline-block;
        margin: 8px 4px 0 0;
        width: 340px;
        vertical-align: top;
    }
}
