@charset "UTF-8";

/// Описание элемента блока категории продукта.
/// Элемент - products - контейнер для карточек продуктов.
.catalog-category__products {

    @media (min-width: 1310px) {
        overflow-y: scroll;
        overflow-x: hidden;
        /*margin: -4px;*/
        min-height: 100%;
        /* height: 498px */
        margin: 0px -3px;
        padding: 5px 4px; /* Чтоб не резала продукт при hover */
        /*@include size(auto, 502px);*/
        @include size(auto, 507px); /* Чтоб не резала продукт при hover */
    }
}
