@charset "UTF-8";

/// Описание элемента блока карусели каталога.
/// Элемент контролы карусели.
.catalog-carousel__control {
    opacity: 1 !important;
    @include transition(all, 600ms, cubic-bezier(.77,0,.175,1));

    /* Передалать по BEM! */
    &.left {
        @media (min-width: 992px) {
            left: -50px;
        }
    }
    &.right {
        @media (min-width: 992px) {
            right: -50px;
        }
    }
}
