@charset "UTF-8";

@import "similar-product";
@import "__carousel-control/index";
@import "__decorate/index";
@import "__headings/index";
@import "__inner/index";
@import "__product-card/index";
@import "__product-card-btn/index";
@import "__product-card-cost/index";
@import "__product-card-form-container/index";
@import "__product-card-inner/index";
@import "__product-card-input-field/index";
@import "__title/index";
