<section id="catalog" class="section section_catalog">

    <div class="catalog-filter-container">

        <h3 class="h3 catalog-filter-container__title collapse-link-triangle collapse-link-triangle_position_bottom" data-toggle="collapse" data-target="#catalog-filter-container__content">Фильтры</h3>

        <div id="catalog-filter-container__content" class="catalog-filter-container__content collapse in">

            //= ../../../modules/catalog-filter/catalog-filter.html

            <div class="catalog-filter-container__sort-view-container">

                //= ../../../modules/catalog-filter/catalog-sorting.html

                //= ../../../modules/catalog-filter/catalog-view.html

            </div>

        </div>

    </div>

    //= container__catalog.html

    <div class="catalog__btn catalog__btn-container">
        <a href="catalog.html" class="btn btn_simple section__btn_catalog">Показать ещё</a>
    </div>

</section>
