@charset "UTF-8";

/// Описание BEM блока subscription-social.
.subscription-social {
    padding-top: 90px;
    text-align: center;

    @media (max-width: 767px) {
        padding-top: 40px;
    }

    /* Сделать по BEM */
    .bg-top {
        position: absolute;

        &.left {
            background-color: #fff;
            top: -35%;
            left: 0;
            transform-origin: 100% 100%;
            transform: rotate(-2.8deg);
            @include size(50%, 35%); /* 28px */
        }

        &.right {
            background-color: #fff;
            top: -35%;
            right: 0;
            transform-origin: 0 100%;
            transform: rotate(2.8deg);
            @include size(50%, 35%); /* 28px */
        }

        &.gradient {
            background-color: transparent;
            background-image: -moz-linear-gradient( -90deg, rgb(115,195,166) 0%, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
            background-image: -webkit-linear-gradient( -90deg, rgb(115,195,166) 0%, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
            background-image: -ms-linear-gradient( -90deg, rgb(115,195,166) 0%, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
            top: 0;
            @include size(100%, 35%); /* height: 193px; - 35,21897810218978% от 548px */
        }
    }
}
