@charset "UTF-8";

/// Описание блока хлебных крошек типа стрелки.
.breadcrumb-arrow {
    background-color: #e6e9ed;
    height: 36px;
    line-height: 36px;
    list-style: none;
    overflow: hidden;
    padding: 0;
}
