<div class="similar-product">
    <div class="similar-product__headings catalog-category__headings">
        <h3 class="h3 similar-product__title catalog-category__title">Похожие товары</h3>
    </div>

    <div class="similar-product__inner">
        <div id="catalog-category__carousel_similar-product" class="similar-product__carousel carousel slide" data-ride="">
            <div class="carousel-inner similar-product__carousel-inner">
                <div id="product-card_id_1" class="similar-product__product-card product-card item active">
                    <div class="similar-product__product-card-inner product-card__inner product-card__inner_theme_new-goods">
                        <div class="product-card__visual similar-product__product-card-visual">
                            <img src="assets/img/catalog/new-goods/1.png" alt="TheNameOfProduct1" height="132" width="184" class="img img_responsive product-card__img" />
                            <div class="like">
                                <div class="like__icon"></div>
                            </div>
                        </div>
                        <div class="product-card__description">
                            <hgroup class="product-card__headings">
                                <h4 class="h4 product-card__title similar-product__product-card-title">Тай Пин Хоу Куй</h4>
                                <h5 class="h5 product-card__sub-title similar-product__product-card-sub-title">Весна 2016г</h5>
                            </hgroup>
                            <div class="product-card__prices">
                                <p class="product-card__cost similar-product__product-card-cost">54 р</p>
                                <p class="product-card__cost product-card__cost_old similar-product__product-card-cost similar-product__product-card-cost_old">56 р</p>
                            </div>
                            <div class="product-card__form-container similar-product__product-card-form-container">
                                <form action="" method="post" class="form product-card__form">
                                    <div class="form__group form__group_inline product-card__form-group">
                                       <select name="product-card__input-field_weight" id="product-id_9__weight" required class="input input_type_select form__input-field form__input-field_select product-card__input-field product-card__select similar-product__product-card-input-field">
                                            <option value="100">100г.</option>
                                            <option value="101">101г.</option>
                                            <option value="102">102г.</option>
                                            <option value="103">103г.</option>
                                        </select>
                                        <select name="product-card__input-field_count" id="product-id_9__count" required class="input input_type_select form__input-field form__input-field_select product-card__input-field product-card__select similar-product__product-card-input-field">
                                            <option value="1">1шт.</option>
                                            <option value="2">2шт.</option>
                                            <option value="3">3шт.</option>
                                            <option value="4">4шт.</option>
                                            <option value="5">5шт.</option>
                                        </select>
                                    </div>
                                    <div class="product-card__btn-container"><button type="submit" class="btn btn_simple product-card__btn similar-product__product-card-btn">В корзину</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="product-card_id_2" class="similar-product__product-card product-card item">
                    <div class="similar-product__product-card-inner product-card__inner product-card__inner_theme_new-goods">
                        <div class="product-card__visual similar-product__product-card-visual">
                            <img src="assets/img/catalog/new-goods/2.png" alt="TheNameOfProduct2" height="132" width="184" class="img img_responsive product-card__img" />
                            <div class="like">
                                <div class="like__icon"></div>
                            </div>
                        </div>
                        <div class="product-card__description">
                            <hgroup class="product-card__headings">
                                <h4 class="h4 product-card__title similar-product__product-card-title">Тай Пин Хоу Куй</h4>
                                <h5 class="h5 product-card__sub-title similar-product__product-card-sub-title">Весна 2016г</h5>
                            </hgroup>
                            <div class="product-card__prices">
                                <p class="product-card__cost similar-product__product-card-cost">54 р</p>
                                <p class="product-card__cost product-card__cost_old similar-product__product-card-cost similar-product__product-card-cost_old">56 р</p>
                            </div>
                            <div class="product-card__form-container similar-product__product-card-form-container">
                                <form action="" method="post" class="form product-card__form">
                                    <div class="form__group form__group_inline product-card__form-group"><select name="product-card__input-field_weight" id="product-id_10__weight" required class="input input_type_select form__input-field form__input-field_select product-card__input-field product-card__select similar-product__product-card-input-field">
                                            <option value="100">100г.</option>
                                            <option value="101">101г.</option>
                                            <option value="102">102г.</option>
                                            <option value="103">103г.</option>
                                        </select><select name="product-card__input-field_count" id="product-id_10__count" required class="input input_type_select form__input-field form__input-field_select product-card__input-field product-card__select similar-product__product-card-input-field">
                                            <option value="1">1шт.</option>
                                            <option value="2">2шт.</option>
                                            <option value="3">3шт.</option>
                                            <option value="4">4шт.</option>
                                            <option value="5">5шт.</option>
                                        </select></div>
                                    <div class="product-card__btn-container"><button type="submit" class="btn btn_simple product-card__btn similar-product__product-card-btn">В корзину</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="product-card_id_3" class="similar-product__product-card product-card item">
                    <div class="similar-product__product-card-inner product-card__inner product-card__inner_theme_new-goods">
                        <div class="product-card__visual similar-product__product-card-visual">
                            <img src="assets/img/catalog/new-goods/3.png" alt="TheNameOfProduct3" height="132" width="184" class="img img_responsive product-card__img" />
                            <div class="like">
                                <div class="like__icon"></div>
                            </div>
                        </div>
                        <div class="product-card__description">
                            <hgroup class="product-card__headings">
                                <h4 class="h4 product-card__title similar-product__product-card-title">Тай Пин Хоу Куй</h4>
                                <h5 class="h5 product-card__sub-title similar-product__product-card-sub-title">Весна 2016г</h5>
                            </hgroup>
                            <div class="product-card__prices">
                                <p class="product-card__cost similar-product__product-card-cost">54 р</p>
                                <p class="product-card__cost product-card__cost_old similar-product__product-card-cost similar-product__product-card-cost_old">56 р</p>
                            </div>
                            <div class="product-card__form-container similar-product__product-card-form-container">
                                <form action="" method="post" class="form product-card__form">
                                    <div class="form__group form__group_inline product-card__form-group"><select name="product-card__input-field_weight" id="product-id_11__weight" required class="input input_type_select form__input-field form__input-field_select product-card__input-field product-card__select similar-product__product-card-input-field">
                                            <option value="100">100г.</option>
                                            <option value="101">101г.</option>
                                            <option value="102">102г.</option>
                                            <option value="103">103г.</option>
                                        </select><select name="product-card__input-field_count" id="product-id_11__count" required class="input input_type_select form__input-field form__input-field_select product-card__input-field product-card__select similar-product__product-card-input-field">
                                            <option value="1">1шт.</option>
                                            <option value="2">2шт.</option>
                                            <option value="3">3шт.</option>
                                            <option value="4">4шт.</option>
                                            <option value="5">5шт.</option>
                                        </select></div>
                                    <div class="product-card__btn-container"><button type="submit" class="btn btn_simple product-card__btn similar-product__product-card-btn">В корзину</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="product-card_id_4" class="similar-product__product-card product-card item">
                    <div class="similar-product__product-card-inner product-card__inner product-card__inner_theme_new-goods">
                        <div class="product-card__visual similar-product__product-card-visual">
                            <img src="assets/img/catalog/new-goods/4.png" alt="TheNameOfProduct4" height="132" width="184" class="img img_responsive product-card__img" />
                            <div class="like">
                                <div class="like__icon"></div>
                            </div>
                        </div>
                        <div class="product-card__description">
                            <hgroup class="product-card__headings">
                                <h4 class="h4 product-card__title similar-product__product-card-title">Тай Пин Хоу Куй</h4>
                                <h5 class="h5 product-card__sub-title similar-product__product-card-sub-title">Весна 2016г</h5>
                            </hgroup>
                            <div class="product-card__prices">
                                <p class="product-card__cost similar-product__product-card-cost">54 р</p>
                                <p class="product-card__cost product-card__cost_old similar-product__product-card-cost similar-product__product-card-cost_old">56 р</p>
                            </div>
                            <div class="product-card__form-container similar-product__product-card-form-container">
                                <form action="" method="post" class="form product-card__form">
                                    <div class="form__group form__group_inline product-card__form-group"><select name="product-card__input-field_weight" id="product-id_12__weight" required class="input input_type_select form__input-field form__input-field_select product-card__input-field product-card__select similar-product__product-card-input-field">
                                            <option value="100">100г.</option>
                                            <option value="101">101г.</option>
                                            <option value="102">102г.</option>
                                            <option value="103">103г.</option>
                                        </select><select name="product-card__input-field_count" id="product-id_12__count" required class="input input_type_select form__input-field form__input-field_select product-card__input-field product-card__select similar-product__product-card-input-field">
                                            <option value="1">1шт.</option>
                                            <option value="2">2шт.</option>
                                            <option value="3">3шт.</option>
                                            <option value="4">4шт.</option>
                                            <option value="5">5шт.</option>
                                        </select></div>
                                    <div class="product-card__btn-container"><button type="submit" class="btn btn_simple product-card__btn similar-product__product-card-btn">В корзину</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="product-card_id_5" class="similar-product__product-card product-card item">
                    <div class="similar-product__product-card-inner product-card__inner product-card__inner_theme_new-goods">
                        <div class="product-card__visual similar-product__product-card-visual">
                            <img src="assets/img/catalog/new-goods/5.png" alt="TheNameOfProduct5" height="132" width="184" class="img img_responsive product-card__img" />
                            <div class="like">
                                <div class="like__icon"></div>
                            </div>
                        </div>
                        <div class="product-card__description">
                            <hgroup class="product-card__headings">
                                <h4 class="h4 product-card__title similar-product__product-card-title">Тай Пин Хоу Куй</h4>
                                <h5 class="h5 product-card__sub-title similar-product__product-card-sub-title">Весна 2016г</h5>
                            </hgroup>
                            <div class="product-card__prices">
                                <p class="product-card__cost similar-product__product-card-cost">54 р</p>
                                <p class="product-card__cost product-card__cost_old similar-product__product-card-cost similar-product__product-card-cost_old">56 р</p>
                            </div>
                            <div class="product-card__form-container similar-product__product-card-form-container">
                                <form action="" method="post" class="form product-card__form">
                                    <div class="form__group form__group_inline product-card__form-group"><select name="product-card__input-field_weight" id="product-id_13__weight" required class="input input_type_select form__input-field form__input-field_select product-card__input-field product-card__select similar-product__product-card-input-field">
                                            <option value="100">100г.</option>
                                            <option value="101">101г.</option>
                                            <option value="102">102г.</option>
                                            <option value="103">103г.</option>
                                        </select><select name="product-card__input-field_count" id="product-id_13__count" required class="input input_type_select form__input-field form__input-field_select product-card__input-field product-card__select similar-product__product-card-input-field">
                                            <option value="1">1шт.</option>
                                            <option value="2">2шт.</option>
                                            <option value="3">3шт.</option>
                                            <option value="4">4шт.</option>
                                            <option value="5">5шт.</option>
                                        </select></div>
                                    <div class="product-card__btn-container"><button type="submit" class="btn btn_simple product-card__btn similar-product__product-card-btn">В корзину</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="product-card_id_6" class="similar-product__product-card product-card item">
                    <div class="similar-product__product-card-inner product-card__inner product-card__inner_theme_new-goods">
                        <div class="product-card__visual similar-product__product-card-visual">
                            <img src="assets/img/catalog/new-goods/6.png" alt="TheNameOfProduct6" height="132" width="184" class="img img_responsive product-card__img" />
                            <div class="like">
                                <div class="like__icon"></div>
                            </div>
                        </div>
                        <div class="product-card__description">
                            <hgroup class="product-card__headings">
                                <h4 class="h4 product-card__title similar-product__product-card-title">Тай Пин Хоу Куй</h4>
                                <h5 class="h5 product-card__sub-title similar-product__product-card-sub-title">Весна 2016г</h5>
                            </hgroup>
                            <div class="product-card__prices">
                                <p class="product-card__cost similar-product__product-card-cost">54 р</p>
                                <p class="product-card__cost product-card__cost_old similar-product__product-card-cost similar-product__product-card-cost_old">56 р</p>
                            </div>
                            <div class="product-card__form-container similar-product__product-card-form-container">
                                <form action="" method="post" class="form product-card__form">
                                    <div class="form__group form__group_inline product-card__form-group"><select name="product-card__input-field_weight" id="product-id_14__weight" required class="input input_type_select form__input-field form__input-field_select product-card__input-field product-card__select similar-product__product-card-input-field">
                                            <option value="100">100г.</option>
                                            <option value="101">101г.</option>
                                            <option value="102">102г.</option>
                                            <option value="103">103г.</option>
                                        </select><select name="product-card__input-field_count" id="product-id_14__count" required class="input input_type_select form__input-field form__input-field_select product-card__input-field product-card__select similar-product__product-card-input-field">
                                            <option value="1">1шт.</option>
                                            <option value="2">2шт.</option>
                                            <option value="3">3шт.</option>
                                            <option value="4">4шт.</option>
                                            <option value="5">5шт.</option>
                                        </select></div>
                                    <div class="product-card__btn-container"><button type="submit" class="btn btn_simple product-card__btn similar-product__product-card-btn">В корзину</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="product-card_id_7" class="similar-product__product-card product-card item">
                    <div class="similar-product__product-card-inner product-card__inner product-card__inner_theme_new-goods">
                        <div class="product-card__visual similar-product__product-card-visual">
                            <img src="assets/img/catalog/new-goods/7.png" alt="TheNameOfProduct7" height="132" width="184" class="img img_responsive product-card__img" />
                            <div class="like">
                                <div class="like__icon"></div>
                            </div>
                        </div>
                        <div class="product-card__description">
                            <hgroup class="product-card__headings">
                                <h4 class="h4 product-card__title similar-product__product-card-title">Тай Пин Хоу Куй</h4>
                                <h5 class="h5 product-card__sub-title similar-product__product-card-sub-title">Весна 2016г</h5>
                            </hgroup>
                            <div class="product-card__prices">
                                <p class="product-card__cost similar-product__product-card-cost">54 р</p>
                                <p class="product-card__cost product-card__cost_old similar-product__product-card-cost similar-product__product-card-cost_old">56 р</p>
                            </div>
                            <div class="product-card__form-container similar-product__product-card-form-container">
                                <form action="" method="post" class="form product-card__form">
                                    <div class="form__group form__group_inline product-card__form-group"><select name="product-card__input-field_weight" id="product-id_15__weight" required class="input input_type_select form__input-field form__input-field_select product-card__input-field product-card__select similar-product__product-card-input-field">
                                            <option value="100">100г.</option>
                                            <option value="101">101г.</option>
                                            <option value="102">102г.</option>
                                            <option value="103">103г.</option>
                                        </select><select name="product-card__input-field_count" id="product-id_15__count" required class="input input_type_select form__input-field form__input-field_select product-card__input-field product-card__select similar-product__product-card-input-field">
                                            <option value="1">1шт.</option>
                                            <option value="2">2шт.</option>
                                            <option value="3">3шт.</option>
                                            <option value="4">4шт.</option>
                                            <option value="5">5шт.</option>
                                        </select></div>
                                    <div class="product-card__btn-container"><button type="submit" class="btn btn_simple product-card__btn similar-product__product-card-btn">В корзину</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="product-card_id_8" class="similar-product__product-card product-card item">
                    <div class="similar-product__product-card-inner product-card__inner product-card__inner_theme_new-goods">
                        <div class="product-card__visual similar-product__product-card-visual">
                            <img src="assets/img/catalog/new-goods/8.png" alt="TheNameOfProduct8" height="132" width="184" class="img img_responsive product-card__img" />
                            <div class="like">
                                <div class="like__icon"></div>
                            </div>
                        </div>
                        <div class="product-card__description">
                            <hgroup class="product-card__headings">
                                <h4 class="h4 product-card__title similar-product__product-card-title">Тай Пин Хоу Куй</h4>
                                <h5 class="h5 product-card__sub-title similar-product__product-card-sub-title">Весна 2016г</h5>
                            </hgroup>
                            <div class="product-card__prices">
                                <p class="product-card__cost similar-product__product-card-cost">54 р</p>
                                <p class="product-card__cost product-card__cost_old similar-product__product-card-cost similar-product__product-card-cost_old">56 р</p>
                            </div>
                            <div class="product-card__form-container similar-product__product-card-form-container">
                                <form action="" method="post" class="form product-card__form">
                                    <div class="form__group form__group_inline product-card__form-group"><select name="product-card__input-field_weight" id="product-id_16__weight" required class="input input_type_select form__input-field form__input-field_select product-card__input-field product-card__select similar-product__product-card-input-field">
                                            <option value="100">100г.</option>
                                            <option value="101">101г.</option>
                                            <option value="102">102г.</option>
                                            <option value="103">103г.</option>
                                        </select><select name="product-card__input-field_count" id="product-id_16__count" required class="input input_type_select form__input-field form__input-field_select product-card__input-field product-card__select similar-product__product-card-input-field">
                                            <option value="1">1шт.</option>
                                            <option value="2">2шт.</option>
                                            <option value="3">3шт.</option>
                                            <option value="4">4шт.</option>
                                            <option value="5">5шт.</option>
                                        </select></div>
                                    <div class="product-card__btn-container"><button type="submit" class="btn btn_simple product-card__btn similar-product__product-card-btn">В корзину</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a href="#catalog-category__carousel_similar-product" class="carousel-control left similar-product__carousel-control" data-slide="prev"><span class="chevron chevron_left"><span class="chevron__inner chevron__inner_left"></span></span></a>
            <a href="#catalog-category__carousel_similar-product" class="carousel-control right  similar-product__carousel-control" data-slide="next"><span class="chevron chevron_right"><span class="chevron__inner chevron__inner_right"></span></span></a>
        </div>

        <div class="catalog-category__decorate catalog-category__decorate_bottom catalog-category__decorate_theme_new-goods similar-product__decorate"></div>
    </div>
</div>
