@charset "UTF-8";

/// Описание модификатора BEM блока линк.
/// Модификатора - theme.
/// Значение - pushed.
.link__caret_theme_pushed {
    border-top: none;
    border-bottom: 4px dashed;
    border-bottom: 4px solid\9;
    color: #bb3f3e;
}
