@charset "UTF-8";

/// Описание элемента BEM блока delivery.
/// Элеммент - tabpanel-content-container.
.delivery__tabpanel-content-container {
    height: 100%;
    margin: 0 80px; /*105*/
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 50px 25px 0; /* right: 20*/
}
