@charset "UTF-8";

.product_card-inputData {
    border-style: solid;
    border-width: 1px;
    border-color: #dedede; /* TEMP - взять из карты цветов */
    border-radius: 2px;
    float: left;
    margin: 0 4px;
    @include size(65px, 30px); /* 70px, 32px - поправка на зум */
}
