@charset "UTF-8";

/// Описание элемента BEM блока cart.
/// Элеммент - total-cost.
.cart__total-cost {
    @include font-OpenSans_SemiBoldItalic;
    color: getColor("GoldenBrown");
    font-size: 24px;
    letter-spacing: 0.025em;

    @media (max-width: 991px) {
        display: block;
        margin-top: 20px;
    }
}
