@charset "UTF-8";

/// Высота линии дискаунта.
$discount-line__line___size_height: 6px;

/// Описание BEM блока discount-line.
/// Элемент - line.
.discount-line__line {
    background-color: #dadada;
    margin: 65px auto 30px;
    max-width: 725px;
    position: relative;
    @include size(80%, $discount-line__line___size_height);
}
