@charset "UTF-8";

/// Описание модификатора элемента блока категории продукта.
/// Модификатор - shadow.
.catalog-category__decorate_shadow {
    box-shadow: 0px 0px 5px 10px #f6f6f5;
    position: relative;
    z-index: 9;
}
