@charset "UTF-8";

/// Описание элемента BEM блока discount.
/// Элемент - carousel-item.
.discount__carousel-item {
    float: left;
    margin: 0 10px;

    @media (min-width: 1200px) {
        display: block !important;
    }

    @media (max-width: 1199px) {
        margin: 0;
    }
}
