@charset "UTF-8";

#footer {
    background-color: #e6c89d;
    padding: 55px 0 10px;
    overflow: hidden;

    @media (max-width: 767px) {
        padding-top: 0;
    }

    @media (max-width: 479px) {
        padding-bottom: 20px;
    }

    .container {
        max-width: 845px; /* 815px + 15px + 15px */
    }

    nav > ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.footer {
    &--nav {
        li.care {
            position: relative;

            .icon {
                left: -25px;
                position: absolute;
                top: 1px;

                svg {
                    /*@include size(17px);*/
                    @include size(18px, 16px);
                }
            }

            a {

            }
        }

        &s--container {
            margin: 18px 0 0;

            @media (max-width: 767px) {
                margin: 34px 0 19px;
            }

            @media (max-width: 619px) {
                padding: 0 15px;
            }

            @media (max-width: 479px) {
                margin-top: 6px;
                padding: 0;
            }
        }

        &--container {
            float: left;
            padding-left: 100px;
            width: 33.3%;

            @media (max-width: 767px) {
                width: 50%;
            }

            @media (max-width: 619px) {
                padding: 0 0 0 20px;
            }

            @media (max-width: 479px) {
                display: none;
            }
        }

        &-secondary {

            @media (max-width: 479px) {
                margin-left: 25px;
            }

            li a {

                @media (max-width: 479px) {
                    margin-bottom: 8px !important;
                }
            }

            &--container {
                float: right;
                width: 33.3%;

                @media (max-width: 767px) {
                    width: 50%;
                }

                @media (max-width: 479px) {
                    width: 100%;
                }
            }
        }
    }

    &--visual {
        background-image: url(../img/footer/visual.png);
        background-position: 50% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        @include size(33.3%, 196px); /* 100px 196px */

        @media (max-width: 767px) {
            display: none;
        }
    }

    &--newsletters {

        &--container {
            float: right;
            width: 33.3%;

            @media (max-width: 767px) {
                float: none;
                text-align: center;
                width: auto;

                &:after {
                    clear: both;
                }
            }

            @media (max-width: 479px) {
                margin-left: 25px;
                text-align: left;
            }
        }

        &--title {
            display: block;
            /*margin-right: 75px;*/
            margin-bottom: 8px;
        }

        &--input {
            border-style: solid;
            border-width: 1px;
            border-color: #b69b75;
            border-radius: 15px;
            background-color: #ffffff;
            outline: none;
            padding: 0 18px;
            @include size(190px, 33px);

            @media (max-width: 479px) {
                width: 185px;
            }
        }

        &--button {
            border-radius: 6px;
            background-color: #b1654b;
            border: none;
            outline: none;
            @include size(67px, 31px);

            &:hover, &:active, &:focus, &:focus:active {
                background-color: darken(#b1654b, 5%);
                border: none;
                outline: none;
            }

            @media (max-width: 479px) {
                width: 59px;
            }
        }
    }

    &--company_details {

        @media (max-width: 479px) {
            /*margin-left: -25px;*/
        }
    }

    &--phone {
        display: inline-block;

        @media (max-width: 479px) {
            font-size: 25px !important;
        }

        &:before {
            content: '';
            float: left;
            @include bg-cover;
            background-image: url(../img/footer/phone.png);
            margin: -15px 9px 0 -28px;
            @include size(28px);

            @media (max-width: 479px) {
                margin-left: -37px;
            }
        }

        .plus {
            position: relative;
            top: -7px;
        }

        &--container {
            float: left;
            text-align: center;
            width: 50%;

            @media (max-width: 767px) {
                float: none;
                width: auto;

                &:after {
                    clear: both;
                }
            }

            @media (max-width: 479px) {
                margin-left: 25px;
            }
        }
    }

    &--social {
        margin-bottom: 32px;
        text-align: center;

        @media (max-width: 767px) {
            margin-bottom: 43px;
        }

        @media (max-width: 479px) {
            margin-bottom: 27px;
        }

        &--heading {
            box-shadow: 0 5px 10px -6px rgba(0,0,0,0.33);
            margin: 0 auto;
            max-width: 645px;
            padding: 42px 0 32px;
            text-align: center;

            @media (max-width: 767px) {
                padding-top: 19px;
            }

            @media (max-width: 479px) {
                box-shadow: none;
                padding-top: 0;
                padding-bottom: 27px;
            }
        }

        &--link {
            /*background-color: #cca46b;
            background-image: -moz-linear-gradient( -90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
            background-image: -webkit-linear-gradient( -90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
            background-image: -ms-linear-gradient( -90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
            @include size(80px, 49px);*/
            background-image: url(../img/footer/social.png);
            background-repeat: no-repeat;
            background-position: 0 100%;
            border-bottom-left-radius: 25%;
            border-bottom-right-radius: 25%;
            box-shadow: 0 10px 30px -10px rgba(0,0,0,.4);
            margin: 0 14px;
            vertical-align: top;
            @include size(76px, 44px);
            transition: box-shadow 0.3s ease-out, margin-bottom 0.3s ease-out, height 0.3s ease-out, background 0.3s ease-out;

            @media (max-width: 479px) {
                @include size(47px);
                background-color: #cca46b;
                background-image: none;
                border-radius: 50%;
                margin: 2px;
            }

            &:hover {
                box-shadow: 0 10px 15px -10px rgba(0,0,0,.3);
                /*margin-bottom: -1px;
                @include size(76px, 45px);*/

                @media (max-width: 479px) {
                    background-color: #dcb174;
                }
            }

            &.f {
                background-position: 0 0;

                &:hover {
                    background-position: 0 -45px;
                }
            }

            &.vk {
                background-position: -76px 0;

                &:hover {
                    background-position: -76px -45px;
                }
            }

            &.g {
                background-position: -152px 0;

                &:hover {
                    background-position: -152px -45px;
                }
            }

            &.insta {
                background-position: -228px 0;

                &:hover {
                    background-position: -228px -45px;
                }
            }

            img, svg {
                fill: #55423b;
                margin-top: 3px;
                @include size(auto, 75%);

                @media (max-width: 479px) {
                    margin-top: 7px;
                }
            }
        }
    }
}
