@charset "UTF-8";

/// Описание элемента блока карточки продукта.
/// Элемент фотка продукта
.product-card__img {
    /*@include size(184px, 132px);*/  /* специфично для section of homepage */
    @include size(100%, auto);
}
