@charset "UTF-8";

/// Описание элемента BEM блока discount.
/// Элемент - description.
.discount__description {
    @include font-OpenSans_LightItalic;
    font-size: 14px;
    letter-spacing: 0.025em;
    line-height: 22px;
    margin: 0 auto 35px;
    max-width: 425px;
    width: 100%;
}
