@charset "UTF-8";

/// Описание модификатора элемента BEM блока секции.
/// Модификатор - product.
.section_product {
    text-align: center;

    @media (min-width: 1200px) {
        width: 794px;
    }

    @media (min-width: 1420px) {
        width: 100%;
    }
}
